Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

docs(git): require fix/ci/docs branches fork from main, never from block
  .claude/rules/atlas-git.md
Due: none

docs(runtime): fix test table line counts and status indicators
  crates/atlas-runtime/src/CLAUDE.md
Due: atlas-runtime

docs(governance): architecture standards, workflow hardening, CI integrity (#148)
  .claude/rules/atlas-architecture.md
  .claude/rules/atlas-git.md
  .claude/skills/atlas/gates/gate-0-read-docs.md
  .claude/skills/atlas/gates/gate-1-sizing.md
  .claude/skills/atlas/gates/gate-7-memory.md
  .claude/skills/atlas/gates/gate-minus1-sanity.md
  .claude/skills/atlas/skill.md
  crates/atlas-runtime/src/CLAUDE.md
Due: atlas-runtime

ci(bench): restrict path filter to Rust source and bench files
  .github/workflows/bench.yml
Due: none

ci(bench): restrict path filter to Rust source and bench files (#151)
  .github/workflows/bench.yml
Due: none

ci: fix bench workflow and establish two-track push policy
  .claude/rules/atlas-git.md
  .github/workflows/bench.yml
Due: none

ci: mandate [skip ci] on all direct-to-main pushes [skip ci]
  .claude/rules/atlas-git.md
Due: none

docs(git): clarify [skip ci] is a trailer, not the full message [skip ci]
  .claude/rules/atlas-git.md
Due: none

ci(hooks): add pre-push local validation — actionlint, fmt, cargo check [skip ci]
  .claude/skills/atlas/gates/gate-minus1-sanity.md
  .githooks/pre-push
Due: none

ci(hooks): add project-level Claude hooks — PreToolUse guard, PostToolUse fmt, post-compact context [skip ci]
  .claude/settings.json
Due: none

docs(rules): add 5 domain quick-ref files — ast, syntax, typechecker, interpreter, vm [skip ci]
  .claude/rules/atlas-ast.md
  .claude/rules/atlas-interpreter.md
  .claude/rules/atlas-syntax.md
  .claude/rules/atlas-typechecker.md
  .claude/rules/atlas-vm.md
Due: none

ci(hooks): add install.sh for one-time hook activation on fresh clones [skip ci]
  .githooks/install.sh
Due: none

style: apply cargo fmt to test split files
  crates/atlas-runtime/tests/interpreter.rs
  crates/atlas-runtime/tests/interpreter/assignment.rs
  crates/atlas-runtime/tests/interpreter/for_in.rs
  crates/atlas-runtime/tests/interpreter/integration.rs
  crates/atlas-runtime/tests/interpreter/member.rs
  crates/atlas-runtime/tests/interpreter/nested_functions.rs
  crates/atlas-runtime/tests/interpreter/pattern_matching.rs
  crates/atlas-runtime/tests/interpreter/scope.rs
  crates/atlas-runtime/tests/stdlib.rs
  crates/atlas-runtime/tests/stdlib/collections.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/system/compression.rs
  crates/atlas-runtime/tests/system/filesystem.rs
  crates/atlas-runtime/tests/system/path.rs
  crates/atlas-runtime/tests/system/process.rs
  crates/atlas-runtime/tests/typesystem.rs
  crates/atlas-runtime/tests/typesystem/bindings.rs
  crates/atlas-runtime/tests/typesystem/constraints.rs
  crates/atlas-runtime/tests/typesystem/flow.rs
  crates/atlas-runtime/tests/typesystem/generics.rs
  crates/atlas-runtime/tests/typesystem/inference.rs
  crates/atlas-runtime/tests/typesystem/integration.rs
  crates/atlas-runtime/tests/vm.rs
  crates/atlas-runtime/tests/vm/complex_programs.rs
  crates/atlas-runtime/tests/vm/for_in.rs
  crates/atlas-runtime/tests/vm/functions.rs
  crates/atlas-runtime/tests/vm/integration.rs
  crates/atlas-runtime/tests/vm/member.rs
  crates/atlas-runtime/tests/vm/nested.rs
  crates/atlas-runtime/tests/vm/performance.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: none

docs(rules): update atlas-testing rule with new subdirectory test structure [skip ci]
  .claude/rules/atlas-testing.md
Due: none

docs(tests): add DO-NOT-ADD banner to thin router files and update CLAUDE.md test table
  crates/atlas-runtime/src/CLAUDE.md
  crates/atlas-runtime/tests/interpreter.rs
  crates/atlas-runtime/tests/stdlib.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/typesystem.rs
  crates/atlas-runtime/tests/vm.rs
Due: atlas-runtime

docs(rules): extend Track 1 to cover pure Rust test refactors [skip ci]
  .claude/rules/atlas-git.md
Due: none

fix(tests): remove dead code and unused imports left by test split [skip ci]
  crates/atlas-runtime/tests/stdlib.rs
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/system/filesystem.rs
  crates/atlas-runtime/tests/system/process.rs
  crates/atlas-runtime/tests/typesystem.rs
Due: none

docs(skill): update git TL;DR to reflect two-track push policy [skip ci]
  .claude/skills/atlas/gates/git-workflow.md
  .claude/skills/atlas/skill.md
Due: none

docs(audit): add missing stdlib/vm subdir files to test tables, fix agent ban in skill.md
  .claude/rules/atlas-testing.md
  .claude/skills/atlas/skill.md
  crates/atlas-runtime/src/CLAUDE.md
Due: atlas-runtime

feat(gates): add proactive file sizing — ground GATE 1 projections in real baseline sizes [skip ci]
  .claude/skills/atlas/gates/gate-0-read-docs.md
  .claude/skills/atlas/gates/gate-1-sizing.md
  .claude/skills/atlas/skill.md
Due: none

docs(gates): remove user dependencies — agents resolve blocking issues autonomously [skip ci]
  .claude/skills/atlas/gates/gate-0-read-docs.md
  .claude/skills/atlas/gates/gate-6-final-testing.md
  .claude/skills/atlas/skill.md
Due: none

docs(workflow): wire remaining gaps from ecosystem assessment [skip ci]
  .claude/skills/atlas/gates/gate-0-read-docs.md
  .claude/skills/atlas/gates/gate-7-memory.md
  .claude/skills/atlas/gates/gate-minus1-sanity.md
  docs/specification/runtime.md
Due: none

chore(versioning): establish v0.2.0 baseline and capability-milestone policy [skip ci]
  .claude/skills/atlas/gates/gate-versioning.md
  .claude/skills/atlas/skill.md
  Cargo.toml
  ROADMAP.md
  crates/atlas-build/Cargo.toml
  crates/atlas-config/Cargo.toml
Due: atlas-config, atlas-build

docs(audit): resolve 14 stale/conflicting claims across docs and specs [skip ci]
  .claude/rules/atlas-ci.md
  ROADMAP.md
  STATUS.md
  docs/API-COMPATIBILITY.md
  docs/internal/PRD.md
  docs/internal/STABILITY_AUDIT_REPORT_v02.md
  docs/internal/V02_DEVELOPMENT_REPORT.md
  docs/specification/runtime.md
Due: none

feat(block-04): scaffold closure phase files (12 phases)
  phases/v0.3/block-04-closures/phase-01-ast-anon-fn-node.md
  phases/v0.3/block-04-closures/phase-02-parser-fn-expression.md
  phases/v0.3/block-04-closures/phase-03-parser-arrow-syntax.md
  phases/v0.3/block-04-closures/phase-04-typechecker-anon-fn.md
  phases/v0.3/block-04-closures/phase-05-compiler-make-closure.md
  phases/v0.3/block-04-closures/phase-06-interpreter-anon-fn.md
  phases/v0.3/block-04-closures/phase-07-parity-hardening.md
  phases/v0.3/block-04-closures/phase-08-lsp-fn-type-hover.md
  phases/v0.3/block-04-closures/phase-09-stdlib-higher-order-audit.md
  phases/v0.3/block-04-closures/phase-10-ownership-integration.md
  phases/v0.3/block-04-closures/phase-11-parity-test-suite.md
  phases/v0.3/block-04-closures/phase-12-spec-update-ac-check.md
Due: none

fix(tests): serialize env-mutating config tests with Mutex guard
  crates/atlas-cli/src/config.rs
Due: atlas-cli

docs(block-04): add post-block-4 architectural discussion agenda to phase-12
  phases/v0.3/block-04-closures/phase-12-spec-update-ac-check.md
Due: none

feat(block-04/phase-01): add Expr::AnonFn AST node
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

feat(block-04/phase-02): parse fn expression syntax as Expr::AnonFn
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/frontend_integration.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

feat(block-04/phase-03): parse arrow syntax (params) => expr as Expr::AnonFn
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/call_hierarchy.rs
  crates/atlas-lsp/src/completion.rs
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/symbols.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/typechecker/type_guards.rs
  crates/atlas-runtime/tests/frontend_integration.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

docs(gates): add block/* branch protection rule to GATE -1
  .claude/skills/atlas/gates/gate-minus1-sanity.md
Due: none

feat(block-04/phase-04): typechecker support for Expr::AnonFn
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/closures.rs
Due: atlas-runtime

style: apply cargo fmt after rebase [skip ci]
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/closures.rs
Due: atlas-runtime

feat(block-04/phase-05): compiler emit MakeClosure for Expr::AnonFn
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/tests/closures.rs
Due: atlas-runtime

feat(block-04/phase-06): interpreter eval Expr::AnonFn
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/tests/closures.rs
Due: atlas-runtime

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
