Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

chore: clear stale doc-patch-pending — superseded by full docs rewrite (S-264)
  .doc-patch-pending.json
Due: none

fix(async): H-353 — fix async test harness (AT0002/AT4002 + channel LocalSet)
  crates/atlas-runtime/src/async_runtime/channel.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/async_runtime_loops.rs
  crates/atlas-runtime/tests/async_runtime/stdlib_wiring.rs
Due: atlas-runtime

fix(tests): H-354 — enable 25 network tests with ATLAS_TEST_NETWORK=1
  crates/atlas-runtime/tests/http.rs
Due: none

fix(stdlib): H-390/H-391/H-398 — toBool dispatch, toInt radix, VM Return guard
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

fix(tests): H-388 partial — modernize string/array/math/type test Atlas code
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/stdlib/parity.rs
  crates/atlas-runtime/tests/stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/types.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_typeof_guards.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
Due: atlas-runtime

fix(tests): H-388/H-392 — collections.rs Map()/Set() → new Map<K,V>()/new Set<T>()
  crates/atlas-runtime/tests/collections.rs
Due: none

fix(tests): H-388/H-393 — closures.rs anon fn type annotations + Map constructor
  crates/atlas-runtime/tests/closures.rs
Due: none

fix(tests): H-388/H-392 — remaining Map/Set constructors + Set.union/intersection dispatch
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/tests/stdlib/collections.rs
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/typesystem/bindings/type_alias.rs
  crates/atlas-runtime/tests/typesystem/flow/type_guards_part2.rs
  crates/atlas-runtime/tests/typesystem/integration/hashmap_generics.rs
Due: atlas-runtime

fix(tests): modernize stdlib_hardening + docs_verification bare globals
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
Due: none

fix(tests): fix remaining stdlib_hardening failures (json_get, toBool, toNumber)
  crates/atlas-runtime/tests/stdlib_hardening.rs
Due: none

fix(parser+vm+tests): function type colon syntax, VM defer guard, test modernization
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/vm/error_handling.rs
  crates/atlas-runtime/tests/vm/for_in.rs
  crates/atlas-runtime/tests/vm/functions.rs
  crates/atlas-runtime/tests/vm/integration.rs
Due: atlas-runtime

fix(stdlib+tests): add bool/number.toNumber(), modernize types/strings bare globals
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/tests/stdlib/types.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_typeof_guards.rs
Due: atlas-runtime

fix(parser): allow keywords as member names after dot
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
Due: atlas-runtime

fix(tests): update stale parser error test expectations to match current diagnostics
  crates/atlas-runtime/tests/frontend_syntax/operator_precedence_keywords.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors_part2.rs
Due: none

fix(tests): match statement semicolon + typesystem test updates
  .claude/agents/atlas-doc-auditor.md
  .claude/agents/atlas-doc-patch.md
  .doc-patch-pending.json
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/frontend_syntax.rs
  crates/atlas-runtime/tests/typesystem/bindings/type_alias.rs
  crates/atlas-runtime/tests/typesystem/constraints/constraint_tests.rs
  crates/atlas-runtime/tests/typesystem/constraints/type_rules/part2.rs
  crates/atlas-runtime/tests/typesystem/flow/return_analysis_part2.rs
  crates/atlas-runtime/tests/typesystem/flow/type_guards_part2.rs
  crates/atlas-runtime/tests/typesystem/generics/part1.rs
  crates/atlas-runtime/tests/typesystem/generics/part2.rs
  crates/atlas-runtime/tests/typesystem/generics/part3.rs
  crates/atlas-runtime/tests/typesystem/inference/advanced_part1.rs
  crates/atlas-runtime/tests/typesystem/inference/advanced_part2.rs
  crates/atlas-runtime/tests/typesystem/inference/integration.rs
  crates/atlas-runtime/tests/typesystem/integration/error_codes.rs
  crates/atlas-runtime/tests/typesystem/integration/suggestions.rs
  crates/atlas-runtime/tests/typesystem/integration/typecheck_dump.rs
Due: atlas-runtime

fix(tests): stdlib/typesystem test updates + set filter/map dispatch
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/tests/prelude/global_shadowing_all.atl
  crates/atlas-runtime/tests/prelude/global_shadowing_function.atl
  crates/atlas-runtime/tests/prelude/global_shadowing_variable.atl
  crates/atlas-runtime/tests/prelude/nested_shadowing_allowed.atl
  crates/atlas-runtime/tests/prelude/prelude_available.atl
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/stdlib/functions/part2.rs
  crates/atlas-runtime/tests/stdlib/functions/part5.rs
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_function.snap
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_variable.snap
  crates/atlas-runtime/tests/stdlib/integration.rs
  crates/atlas-runtime/tests/stdlib/json.rs
  crates/atlas-runtime/tests/stdlib/parity.rs
  crates/atlas-runtime/tests/stdlib/types.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/json.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_option_result.rs
  tests/prelude/prelude_available.atl
Due: atlas-runtime

fix(datetime_regex): resolve all 164 test failures
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/tests/datetime_regex.rs
Due: atlas-runtime

fix(collections): resolve all 171 collection test failures
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/tests/collections.rs
Due: atlas-runtime

fix(regression+tests): resolve regression and collection method gaps
  crates/atlas-runtime/tests/regression/part1.rs
  crates/atlas-runtime/tests/regression/part10.rs
Due: none

fix(closures): unwrap find() result + add void return types for void fns
  crates/atlas-runtime/tests/closures.rs
Due: none

fix(diagnostics): update stale test assertions + fix AT3060 duplicate error code
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/tests/diagnostics.rs
Due: atlas-runtime

fix(tests): update stale error codes/messages across frontend_syntax, descriptor, and lexer tests
  crates/atlas-runtime/src/diagnostic/descriptor.rs
  crates/atlas-runtime/tests/errors/unterminated_string.atl
  crates/atlas-runtime/tests/frontend_syntax/lexer.rs
  crates/atlas-runtime/tests/frontend_syntax/modules_warnings_part1.rs
Due: atlas-runtime

fix(tests): update frontend_integration + formatter return type syntax (-> to :)
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/tests/frontend_integration/anonfn_part_2.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_4.rs
  crates/atlas-runtime/tests/frontend_integration/traits.rs
Due: atlas-runtime, atlas-formatter

fix(tests): fix api/ffi/reflect tests — console.log, extern borrow, function type syntax
  crates/atlas-runtime/src/reflect/type_info.rs
  crates/atlas-runtime/tests/api/core_part1.rs
  crates/atlas-runtime/tests/ffi.rs
Due: atlas-runtime

fix(tests): resolve all system test failures — sync, path, filesystem
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/system/filesystem/dir_ops.rs
  crates/atlas-runtime/tests/system/filesystem/edge.rs
  crates/atlas-runtime/tests/system/filesystem/watch.rs
  crates/atlas-runtime/tests/system/path.rs
  crates/atlas-runtime/tests/system/sync.rs
  crates/atlas-runtime/tests/system/task_ns.rs
Due: atlas-runtime

fix(tests): resolve AT9999 help_for conflict — GENERIC_ERROR has static_help
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_5.rs
Due: atlas-runtime

fix(tests): commit stashed io_fs_hardening + http + method_dispatch changes
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/tests/http.rs
  crates/atlas-runtime/tests/system/compression/io_fs_hardening.rs
Due: atlas-runtime

fix(tests): fix warn_corpus snapshot trailing newline mismatch
  crates/atlas-runtime/tests/corpus.rs
Due: none

fix(tests): fix fail_corpus + modules_fail_corpus trailing newline mismatch
  crates/atlas-runtime/tests/corpus.rs
  crates/atlas-runtime/tests/corpus/fail/modules/circular_import/a.stderr
  crates/atlas-runtime/tests/corpus/fail/modules/circular_import/b.stderr
  crates/atlas-runtime/tests/corpus/fail/modules/unknown_export/math.stderr
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/division_by_zero.stderr
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/index_out_of_bounds.stderr
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/unwrap_err_result.stderr
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/unwrap_none.stderr
Due: none

fix(corpus): resolve all remaining corpus test failures (76/76)
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/tests/corpus/pass/collections/hashmap_ops.atlas
  crates/atlas-runtime/tests/corpus/pass/collections/hashset_ops.atlas
  crates/atlas-runtime/tests/corpus/pass/collections/queue_ops.atlas
  crates/atlas-runtime/tests/corpus/pass/collections/stack_ops.atlas
  crates/atlas-runtime/tests/corpus/pass/stdlib/type_checks_stdlib.atlas
  crates/atlas-runtime/tests/corpus/pass/types/type_checks.atlas
Due: atlas-runtime

fix(compiler): correct match cleanup extras formula + fix ai_error_messages test
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/tests/ai_error_messages.rs
Due: atlas-runtime

docs: fix hallucinated APIs, bare globals, and property/method errors
  docs/language/async.md
  docs/language/errors.md
  docs/stdlib/METHOD-CONVENTIONS.md
  docs/stdlib/array.md
  docs/stdlib/compression.md
  docs/stdlib/core.md
  docs/stdlib/sqlite.md
  docs/stdlib/string.md
  docs/tooling/formatter.md
Due: none

fix(cleanup): H-338/H-339/H-340 — rename interpreter_fallbacks→vm_fallbacks, update stale D-052 comments
  crates/atlas-jit/src/lib.rs
  crates/atlas-jit/tests/jit_tests.rs
  crates/atlas-runtime/src/jit_trait.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/tests/async_runtime/interpreter.rs
Due: atlas-runtime, atlas-jit

docs(H-399): remove parseInt/parseFloat bare globals from types.md — use s.toInt()/s.toNumber()
  docs/stdlib/types.md
Due: none

fix(H-335): rename async_runtime/interpreter.rs → async_vm.rs (D-052)
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/async_vm.rs
Due: none

fix(H-336): extract STATIC_NAMESPACES const — single source of truth for namespace list
  crates/atlas-runtime/src/method_dispatch.rs
Due: atlas-runtime

feat(H-389): implement Array.isArray() + D-062 type predicate cleanup
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/stdlib/integration.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_option_result.rs
  docs/stdlib/array.md
  docs/stdlib/types.md
Due: atlas-runtime

docs(.claude/skills): surgical D-052 cleanup — remove all stale interpreter references
  .claude/skills/atlas-battle/skill.md
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas-test/skill.md
  .claude/skills/atlas/examples/phase-completion-template.md
  .claude/skills/atlas/gates/gate-2-implement.md
  .claude/skills/atlas/gates/gate-3-parity.md
  .claude/skills/atlas/gates/gate-applicability-domains.md
  .claude/skills/atlas/gates/gate-minus1-checks.md
  .claude/skills/atlas/phase-template.md
  .claude/skills/atlas/skill.md
Due: none

docs(.claude/rules): surgical D-052 cleanup — remove 2 stale interpreter references
  .claude/rules/atlas-fullstack.md
  .claude/rules/atlas-vm.md
Due: none

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
