Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

codecov.yml:

# Codecov configuration for Atlas
# https://docs.codecov.com/docs/codecovyml-reference
#
# Atlas is a public repo — free tier gives unlimited uploads, PR comments,
# patch coverage, and status checks. All thresholds enforced here.
#
# Per-crate floors (realistic for a compiler):
#   atlas-runtime  70% — core logic, all paths must be tested
#   atlas-cli      50% — integration-heavy, CLI edge cases vary
#   atlas-formatter 60% — pure transformation logic
#   atlas-lsp      40% — LSP protocol is hard to unit test
#   atlas-jit      25% — codegen paths aren't meaningfully unit-testable
#   atlas-config   60% — simple, should be well covered
#   atlas-build    40% — build tooling
#   atlas-package  40% — package management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Project-level: fail if total coverage drops more than 2%
    project:
      default:
        target: auto
        threshold: 2%
        if_not_found: success
        if_ci_failed: error

    # Patch-level: new code in a PR must be ≥80% covered
    patch:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: true   # Only comment if coverage changes
  require_base: true
  require_head: true

# Per-crate flags — each crate is measured independently
# This lets us enforce different thresholds per crate
flag_management:
  default_rules:
    carryforward: true

flags:
  atlas-runtime:
    paths:
      - crates/atlas-runtime/
    carryforward: true

  atlas-cli:
    paths:
      - crates/atlas-cli/
    carryforward: true

  atlas-formatter:
    paths:
      - crates/atlas-formatter/
    carryforward: true

  atlas-lsp:
    paths:
      - crates/atlas-lsp/
    carryforward: true

  atlas-jit:
    paths:
      - crates/atlas-jit/
    carryforward: true

  atlas-config:
    paths:
      - crates/atlas-config/
    carryforward: true

  atlas-build:
    paths:
      - crates/atlas-build/
    carryforward: true

  atlas-package:
    paths:
      - crates/atlas-package/
    carryforward: true

ignore:
  - "target/**"
  - "phases/**"
  - "docs/**"
  - "**/tests/**"
  - "**/benches/**"
  - "**/fuzz/**"

fix(stdlib): fsMkdir/fsMkdirp return Result, add shellOut + fromCharCode/charCodeAt
  crates/atlas-runtime/src/stdlib/fs.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/process.rs
Due: atlas-runtime

fix(stdlib): wire Process.shellOut() + AT9000 deprecation for bare shellOut
  crates/atlas-runtime/src/method_dispatch.rs
Due: atlas-runtime

docs: blank all spec/stdlib docs for full regeneration from codebase
  docs/audit/ai-readiness-assessment.md
  docs/language/async.md
  docs/language/control-flow.md
  docs/language/errors.md
  docs/language/functions.md
  docs/language/grammar.md
  docs/language/modules.md
  docs/language/ownership.md
  docs/language/structs-enums.md
  docs/language/traits.md
  docs/language/types.md
  docs/stdlib/AI-GENERATION-NOTES.md
  docs/stdlib/METHOD-CONVENTIONS.md
  docs/stdlib/array.md
  docs/stdlib/async.md
  docs/stdlib/collections.md
  docs/stdlib/compression.md
  docs/stdlib/core.md
  docs/stdlib/datetime.md
  docs/stdlib/encoding.md
  docs/stdlib/file.md
  docs/stdlib/http.md
  docs/stdlib/index.md
  docs/stdlib/json.md
  docs/stdlib/math.md
  docs/stdlib/net.md
  docs/stdlib/path.md
  docs/stdlib/process.md
  docs/stdlib/reflect.md
  docs/stdlib/regex.md
  docs/stdlib/string.md
  docs/stdlib/sync.md
  docs/stdlib/test.md
  docs/stdlib/types.md
  docs/stdlib/websocket.md
  docs/tooling/cli.md
Due: none

fix(typechecker): namespace method calls now check arity and arg types (H-243)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/integration/method_types.rs
Due: atlas-runtime

fix(typechecker): add diagnostic for empty-union method dispatch silent gap (H-242)
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

fix(runtime): cross-module typechecking in atlas run/build (H-248)
  crates/atlas-runtime/src/module_executor.rs
Due: atlas-runtime

fix(typechecker): block tail_expr type + user-defined enum patterns
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

fix(runtime): bare user-defined enum variant constructors
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

fix(runtime): bare enum variant VM parity + EnumValue PartialEq (H-248 followup)
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: atlas-runtime

fix(build): multi-module atlas build — import path normalization + registry keying
  crates/atlas-build/src/builder.rs
  crates/atlas-build/src/module_resolver.rs
  crates/atlas-runtime/src/binder.rs
Due: atlas-runtime, atlas-build

fix(build): treat diagnostics as errors only, not warnings
  crates/atlas-build/src/builder.rs
Due: atlas-build

fix(build): support both .atl and .atlas extensions (prefer .atl)
  crates/atlas-build/src/builder.rs
  crates/atlas-build/src/module_resolver.rs
Due: atlas-build

fix(build): cross-module type inference — struct types resolve in binder
  crates/atlas-build/src/builder.rs
  crates/atlas-runtime/src/binder.rs
Due: atlas-runtime, atlas-build

fix(build): implement bytecode serialization — artifacts are no longer 0 bytes
  crates/atlas-build/src/builder.rs
Due: atlas-build

fix(build): resolve enum types in binder — exported fn return types no longer Unknown
  crates/atlas-runtime/src/binder.rs
Due: atlas-runtime

fix(build): dedup .atl/.atlas files — prefer .atl when both exist for same stem
  crates/atlas-build/src/builder.rs
Due: atlas-build

fix(typechecker): H-236 collection element-type checking + H-216 CoW discard warning + H-175 doc + H-237 verified
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

fix(typechecker): H-216 extend CoW discard detection to method call syntax (arr.push)
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(B19-P01): scaffold atlas-launcher crate + workspace wiring
  Cargo.toml
  crates/atlas-launcher/Cargo.toml
  crates/atlas-launcher/src/main.rs
Due: none

feat(B19-P02): self-path detection + ATLAS_BC_MAGIC sentinel parser
  crates/atlas-launcher/src/lib.rs
  crates/atlas-launcher/src/self_path.rs
  crates/atlas-launcher/tests/self_path_tests.rs
Due: none

feat(B19-P03): bytecode execution in launcher — VM wiring + exit codes
  crates/atlas-launcher/src/execute.rs
  crates/atlas-launcher/src/lib.rs
  crates/atlas-launcher/src/main.rs
Due: none

feat(B19-P04): binary_emit.rs — launcher discovery + binary packaging
  crates/atlas-build/src/binary_emit.rs
  crates/atlas-build/src/lib.rs
Due: atlas-build

feat(B19-P05): wire binary_emit into builder + platform-aware targets
  crates/atlas-build/src/builder.rs
  crates/atlas-build/src/error.rs
  crates/atlas-build/src/targets.rs
Due: atlas-build

feat(B19-P06): AT2020 LAUNCHER_NOT_FOUND + AT2021 BINARY_EMIT_FAILED
  crates/atlas-runtime/src/diagnostic/error_codes.rs
Due: atlas-runtime

feat(B19-P07): CLI output shows executable path + run hint for binary targets
  crates/atlas-cli/src/commands/build.rs
Due: atlas-cli

feat(B19-P08): integration tests — binary emit + roundtrip + filename
  crates/atlas-build/Cargo.toml
  crates/atlas-build/tests/binary_output_tests.rs
Due: atlas-build

feat(B19-P09): multi-module binary format + watcher-atlas validation + docs
  crates/atlas-build/src/binary_emit.rs
  crates/atlas-build/src/builder.rs
  crates/atlas-build/tests/binary_output_tests.rs
  crates/atlas-launcher/src/execute.rs
  crates/atlas-launcher/src/main.rs
  crates/atlas-launcher/src/self_path.rs
  crates/atlas-launcher/tests/self_path_tests.rs
  crates/atlas-runtime/src/vm/mod.rs
  docs/language/build.md
Due: atlas-runtime, atlas-build

fix(vm): H-252 cross-module function calls in multi-module binary execution
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

feat(stdlib): B18 Process namespace + typed ProcessOutput struct
  crates/atlas-runtime/src/api/conversion.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/reflect/mod.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/process.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/tests/interpreter/integration/static_namespaces.rs
Due: atlas-runtime

chore: track B18 doc drift pending (fe6282a)
  .doc-patch-pending.json
Due: none

docs: B18 doc drift — CLAUDE.md invariants + clear pending
  .doc-patch-pending.json
  crates/atlas-runtime/src/CLAUDE.md
Due: atlas-runtime

feat(B20): namespace casing rename — D-049 lowercase (File→file, Process→process, etc.)
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/interpreter/integration/deprecated_globals.rs
  crates/atlas-runtime/tests/interpreter/integration/static_namespaces.rs
  crates/atlas-runtime/tests/typesystem/integration/method_types.rs
Due: atlas-runtime

chore: track B20 doc drift pending
  .doc-patch-pending.json
Due: none

docs: B20 doc drift — CLAUDE.md namespace casing update (D-049)
  .doc-patch-pending.json
  crates/atlas-runtime/src/CLAUDE.md
Due: atlas-runtime

docs: B21 doc drift — console namespace, stdlib module count
  .doc-patch-pending.json
  crates/atlas-runtime/src/CLAUDE.md
Due: atlas-runtime

feat(B22): Math namespace completion — asin/acos/atan/atan2/trunc/log2/log10/exp/cbrt/hypot + PI/E/SQRT2/LN2/LN10 constants, bare math globals removed
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/math.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/corpus/pass/stdlib/math_functions.atlas
  crates/atlas-runtime/tests/interpreter/integration/static_namespaces.rs
  crates/atlas-runtime/tests/regression/part8.rs
  crates/atlas-runtime/tests/stdlib/integration.rs
  crates/atlas-runtime/tests/stdlib/math_basic.rs
  crates/atlas-runtime/tests/stdlib/math_trig.rs
  crates/atlas-runtime/tests/stdlib/math_utils_constants.rs
  crates/atlas-runtime/tests/stdlib/parity.rs
  crates/atlas-runtime/tests/stdlib/real_world/csv_part1.rs
  crates/atlas-runtime/tests/stdlib/real_world/csv_part2.rs
  crates/atlas-runtime/tests/stdlib/real_world/pipelines.rs
  crates/atlas-runtime/tests/stdlib/real_world/text.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
Due: atlas-runtime

feat(B23): Json namespace completion — minify/keys/getString/getNumber/getBool/getArray/getObject/isNull added, bare json globals removed
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/stdlib_ownership.rs
  crates/atlas-runtime/tests/corpus/pass/stdlib/json_basic.atlas
  crates/atlas-runtime/tests/http.rs
  crates/atlas-runtime/tests/interpreter/integration/deprecated_globals.rs
  crates/atlas-runtime/tests/interpreter/member.rs
  crates/atlas-runtime/tests/regression/part10.rs
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/stdlib/integration.rs
  crates/atlas-runtime/tests/stdlib/json.rs
  crates/atlas-runtime/tests/stdlib/parity.rs
  crates/atlas-runtime/tests/stdlib/real_world/config.rs
  crates/atlas-runtime/tests/stdlib/real_world/json_api.rs
  crates/atlas-runtime/tests/stdlib/real_world/log_analysis_part2.rs
  crates/atlas-runtime/tests/stdlib/types.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/json.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_typeof_guards.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
  crates/atlas-runtime/tests/typesystem/constraints/type_rules/part2.rs
  crates/atlas-runtime/tests/typesystem/flow/type_guards_part2.rs
  crates/atlas-runtime/tests/vm/member.rs
Due: atlas-runtime

feat(B24): file namespace completion — mkdir/mkdirp/readDir/walk/stat/size/mtime/isDir/isFile/isSymlink/symlink/readLink/tempDir/tempFile/watch/watchNext added, bare fs globals removed
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime
