Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

feat(cli): B14-P05 — atlas explain ATXXXX error code explainer (D-043)
  crates/atlas-cli/src/commands/explain.rs
  crates/atlas-cli/src/commands/mod.rs
  crates/atlas-cli/src/main.rs
  crates/atlas-cli/tests/explain_tests.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
Due: atlas-runtime, atlas-cli

docs(cli): B14-P05 — document atlas explain command in cli.md and CLAUDE.md
  crates/atlas-cli/src/CLAUDE.md
  docs/tooling/cli.md
Due: atlas-cli

feat(cli): B14-P06 — JSON error output wrapper format (D-043)
  crates/atlas-cli/src/commands/check.rs
  crates/atlas-cli/src/commands/run.rs
  crates/atlas-cli/src/diagnostics.rs
  crates/atlas-cli/tests/explain_tests.rs
Due: atlas-cli

feat(diagnostics): B14-P07 — did-you-mean suggestions for method/type/trait errors
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/suggestions.rs
Due: atlas-runtime

fix(diagnostics): H-196 — eliminate all inline eprintln! bypassing diagnostic system
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

feat(diagnostics): B16-P01 — clean error format + help: Vec<String>
  crates/atlas-lsp/src/convert.rs
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/src/diagnostic/formatter.rs
  crates/atlas-runtime/src/repl.rs
  crates/atlas-runtime/tests/ai_error_messages.rs
  crates/atlas-runtime/tests/diagnostics.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_2.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_5.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors_part2.rs
  crates/atlas-runtime/tests/typesystem/generics/part2.rs
  crates/atlas-runtime/tests/typesystem/generics/part3.rs
  crates/atlas-runtime/tests/typesystem/integration/error_codes.rs
  crates/atlas-runtime/tests/typesystem/integration/suggestions.rs
Due: atlas-runtime, atlas-lsp

feat(diagnostics): B16-P02 — parser error sites with specific help + notes
  crates/atlas-cli/tests/explain_tests.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
Due: atlas-runtime

feat(diagnostics): B16-P03 — typechecker error sites with specific help + notes
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(diagnostics): B16-P04 — runtime error sites exhaustive help, remove generic fallback
  crates/atlas-runtime/src/runtime.rs
Due: atlas-runtime

docs(diagnostics): B16-P06 — canonical error format spec + D-043 updated
  docs/language/errors.md
Due: none

fix(diagnostics): richer help+note on undefined identifier + fix formatter render order
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/diagnostic/formatter.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/tests/ai_error_messages.rs
  crates/atlas-runtime/tests/corpus/fail/type_errors/undefined_variable.stderr
  crates/atlas-runtime/tests/interpreter/scope.rs
  crates/atlas-runtime/tests/typesystem/generics/part2.rs
Due: atlas-runtime

fix(interpreter): IoNs missing from is_ns check + parseInt radix optional
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/stdlib/types.rs
Due: atlas-runtime

docs(stdlib): update parseInt signature — radix optional, default 10
  docs/stdlib/types.md
Due: none

chore(workflow): replace handoff file with DB-native pt done arg 4
  .claude/lazy/pt-workflow.md
  CLAUDE.md
Due: none

chore(skills): replace handoff file pattern with pt done arg 4 in all skills
  .claude/skills/atlas-blocks/skill.md
  .claude/skills/atlas-brainstorm/skill.md
  .claude/skills/atlas/gates/gate-7-memory.md
  .claude/skills/atlas/skill.md
Due: none

fix(runtime): collect diagnostics across all pipeline phases (H-193)
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/tests/regression/part11.rs
Due: atlas-runtime

fix(typechecker): AT3054 borrow escape fires for all types; update AT1007 test (H-191)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/ai_error_messages.rs
Due: atlas-runtime

fix(typechecker): AT3001 type mismatch uses dual-span format like Rust E0308 (H-194)
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/regression/part11.rs
Due: atlas-runtime

fix(diagnostic): H-195 — did-you-mean shows Rust-style code diff (-old/+new)
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/src/lib.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/typechecker/suggestions.rs
  crates/atlas-runtime/tests/typesystem/integration/suggestions.rs
Due: atlas-runtime

docs: patch errors.md for H-195 code-diff suggestion format
  .doc-patch-pending.json
  docs/language/errors.md
Due: none

fix(parser): H-202 — brace-aware synchronize() eliminates cascade AT1000 errors
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors.rs
Due: atlas-runtime

fix(parser): H-200 — AT1004 TypeName[] emits prefix-syntax help + SuggestionDiff + note
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors_part2.rs
Due: atlas-runtime

fix(diagnostics): H-201 — surgical help text at AT3010 + consume() token-specific help
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

scaffold: B17 — Unified Diagnostic Descriptor System (10 phases)
  .playwright-mcp/element-2026-03-09T15-02-39-196Z.png
Due: none

feat(diagnostics): B17-P01 — DiagnosticDescriptor struct + DiagnosticBuilder API
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/src/diagnostic/descriptor.rs
  crates/atlas-runtime/tests/frontend_syntax.rs
  crates/atlas-runtime/tests/frontend_syntax/diagnostic_descriptor.rs
Due: atlas-runtime

feat(diagnostics): B17-P02 — upgrade all AT/AW constants to DiagnosticDescriptor
  .doc-patch-pending.json
  crates/atlas-cli/src/commands/explain.rs
  crates/atlas-cli/tests/explain_tests.rs
  crates/atlas-lsp/src/actions.rs
  crates/atlas-runtime/src/CLAUDE.md
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/diagnostic/descriptor.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/diagnostics.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_3.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_4.rs
  crates/atlas-runtime/tests/frontend_syntax/diagnostic_descriptor.rs
  crates/atlas-runtime/tests/typesystem/integration/error_codes.rs
Due: atlas-runtime, atlas-cli, atlas-lsp

docs: revert --allow-ffi from errors.md — CLI accepts no permission flags (locked decision)
  docs/language/errors.md
Due: none

fix(agents): atlas-doc-patch must run pt decisions all before editing docs
  .claude/agents/atlas-doc-patch.md
Due: none

feat(diagnostics): B17-P03 — migrate FOREIGN_SYNTAX_* parser errors to descriptor API
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/parser/stmt.rs
Due: atlas-runtime

feat(diagnostics): B17-P04 — migrate all remaining parser call sites to descriptor API
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/parser/stmt.rs
Due: atlas-runtime

feat(diagnostics): B17-P05 — migrate all typechecker/expr.rs call sites to descriptor API
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

feat(diagnostics): B17-P06 — migrate typechecker/mod.rs + binder.rs to descriptor API
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(diagnostics): B17-P07 — migrate runtime call sites to descriptor API
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/lexer/mod.rs
  crates/atlas-runtime/src/module_executor.rs
  crates/atlas-runtime/src/module_loader.rs
  crates/atlas-runtime/src/resolver/mod.rs
  crates/atlas-runtime/src/typechecker/type_guards.rs
Due: atlas-runtime

feat(diagnostics): B17-P08 — unified render path via DiagnosticFormatter
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/src/diagnostic/formatter.rs
Due: atlas-runtime

feat(diagnostics): B17-P09 — regression sweep + snapshot tests
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/tests/frontend_syntax/diagnostic_descriptor.rs
Due: atlas-runtime

docs(diagnostics): B17-P10 — update docs and decisions for descriptor system
  .claude/rules/atlas-diagnostics.md
  docs/language/errors.md
  docs/tooling/cli.md
Due: none

fix(diagnostics): remove dead legacy shims + migrate remaining bare warning_with_code sites
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

chore: remove stale legacy shim comment block from error_codes.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
Due: atlas-runtime

fix(lexer): migrate error helpers to DiagnosticDescriptor system; fix AT1001→AT1005 for invalid numbers
  crates/atlas-runtime/src/lexer/literals.rs
  crates/atlas-runtime/src/lexer/mod.rs
Due: atlas-runtime

fix(typechecker): AT3054 must not fire on bare params — only explicit borrow (H-209, D-040)
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
Due: atlas-runtime

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
