Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

docs(stdlib): add AI generation notes for non-obvious return types (H-118)
  docs/stdlib/AI-GENERATION-NOTES.md
  docs/stdlib/index.md
  docs/stdlib/json.md
  docs/stdlib/math.md
  docs/stdlib/string.md
Due: none

chore: update handoff (S-115 — hook fix + H-118 complete)
  .atlas-handoff.md
Due: none

fix(lsp): forward full diagnostic data + add Hint level (H-109)
  crates/atlas-lsp/src/convert.rs
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/src/diagnostic/formatter.rs
Due: atlas-runtime, atlas-lsp

chore: update handoff (S-115 complete — hook fix + H-118 + H-109)
  .atlas-handoff.md
Due: none

chore(hooks): move validate.sh Pre→PostToolUse to prevent double code generation
  .claude/settings.json
Due: none

refactor(ast): make Param.type_ref non-optional (H-041)
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/call_hierarchy.rs
  crates/atlas-lsp/src/completion.rs
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/symbols.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/typechecker/type_guards.rs
  crates/atlas-runtime/tests/frontend_integration/anonfn_part_2.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

chore: update handoff (H-041 complete, all P0/P1 cleared)
  .atlas-handoff.md
Due: none

feat(battle-test): Hydra v5 Atlas port - comprehensive friction assessment
  .doc-patch-pending.json
  battle-test/hydra-v5/FRICTION_REPORT.md
  battle-test/hydra-v5/src/adaptive/learner.atlas
  battle-test/hydra-v5/src/config/loader.atlas
  battle-test/hydra-v5/src/config/types.atlas
  battle-test/hydra-v5/src/logger/logger.atlas
  battle-test/hydra-v5/src/main.atl
  battle-test/hydra-v5/src/metrics/collector.atlas
  battle-test/hydra-v5/src/protocol/mcp.atlas
  battle-test/hydra-v5/src/proxy/proxy.atlas
  battle-test/hydra-v5/src/proxy/queue.atlas
  battle-test/hydra-v5/src/proxy/router.atlas
  battle-test/hydra-v5/src/proxy/statemachine.atlas
  battle-test/hydra-v5/src/proxy/types.atlas
  battle-test/hydra-v5/src/recorder/recorder.atlas
  battle-test/hydra-v5/src/sanitizer/sanitizer.atlas
  battle-test/hydra-v5/src/security/ratelimit.atlas
  battle-test/hydra-v5/src/security/redact.atlas
  battle-test/hydra-v5/src/state/manager.atlas
  battle-test/hydra-v5/src/supervisor/supervisor.atlas
  battle-test/hydra-v5/src/supervisor/types.atlas
  battle-test/hydra-v5/src/transport/transport.atlas
Due: none

chore: update handoff + scaffold B10 stdlib method system (H-122–H-133)
  .atlas-handoff.md
Due: none

chore(tracking): migrate atlas-track → pt (project-tracker)
  .claude/agents/atlas-doc-auditor.md
  .claude/lazy/tracking-db.md
  .claude/settings.json
  .claude/skills/atlas-battle/skill.md
  .claude/skills/atlas-blocks/skill.md
  .claude/skills/atlas-brainstorm/skill.md
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas-test/skill.md
  .claude/skills/atlas/gates/gate-0-deps.md
  .claude/skills/atlas/gates/gate-0-read-docs.md
  .claude/skills/atlas/gates/gate-5-docs.md
  .claude/skills/atlas/gates/gate-6-final-testing.md
  .claude/skills/atlas/gates/gate-6-status.md
  .claude/skills/atlas/gates/gate-7-limits.md
  .claude/skills/atlas/gates/gate-7-memory.md
  .claude/skills/atlas/gates/oracle-testing.md
  .claude/skills/atlas/gates/test-partitioning.md
  .claude/skills/atlas/skill.md
  CLAUDE.md
  tracking/README.md
  tracking/archive/README.md
Due: none

feat(b10-p01): design lock — METHOD-CONVENTIONS.md + AT9000 registered (H-122)
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  docs/stdlib/METHOD-CONVENTIONS.md
Due: atlas-runtime

feat(b10-p02): interpreter method dispatch for all built-in value types (H-123)
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
Due: atlas-runtime

feat(b10-p03): VM/compiler CoW write-back parity for all collection types (H-124)
  crates/atlas-runtime/src/compiler/expr.rs
Due: atlas-runtime

feat(b10-p04): Array method surface — all arr.method() calls live, both engines (H-125)
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/interpreter/integration.rs
  crates/atlas-runtime/tests/interpreter/integration/arrays_methods.rs
Due: atlas-runtime

chore: update handoff + docs after B10-P04 (array method surface)
  .doc-patch-pending.json
  docs/stdlib/array.md
Due: none

feat(b10-p05): String method surface — all str.method() calls live, both engines (H-126)
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/string.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/tests/interpreter/integration/strings.rs
Due: atlas-runtime

chore: update handoff + docs after B10-P05 (string method surface)
  .doc-patch-pending.json
  docs/stdlib/string.md
Due: none

feat(b10-p06): HashMap method surface — all map.method() calls live, both engines (H-127)
  crates/atlas-runtime/tests/interpreter/integration.rs
  crates/atlas-runtime/tests/interpreter/integration/hashmaps_methods.rs
Due: none

feat(b10-p07): Static namespace dispatch — Json.*, Math.*, Env.* all live (H-128)
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/interpreter/integration.rs
  crates/atlas-runtime/tests/interpreter/integration/static_namespaces.rs
Due: atlas-runtime

feat(b10-p08): File/Process/DateTime/Path namespace dispatch — 39 parity tests (H-129)
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/tests/interpreter/integration/static_namespaces.rs
Due: atlas-runtime

feat(b10-p09): Http/Net/Crypto/Regex namespace dispatch — 13 parity tests (H-130)
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/tests/interpreter/integration/static_namespaces.rs
Due: atlas-runtime

feat(b10-p10): AT9000 deprecation warnings on old global names (H-131)
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/interpreter/integration.rs
  crates/atlas-runtime/tests/interpreter/integration/deprecated_globals.rs
Due: atlas-runtime

feat(b10-p11): Typechecker method return type resolution — no more ? degradation (H-132)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/integration/method_types.rs
  crates/atlas-runtime/tests/typesystem/integration/mod.rs
Due: atlas-runtime

feat(b10-p12): Battle test re-run — hydra-v5 PASS, AI score 4/10 → 8.5/10 (H-133)
  battle-test/hydra-v5/FRICTION_REPORT.md
  battle-test/hydra-v5/src/main.atl
  crates/atlas-runtime/tests/battle_audit.rs
Due: none

chore: doc patch — update stdlib index with missing string methods
  docs/stdlib/index.md
Due: none

fix(typechecker): trait inheritance — trait B: A supertrait syntax (H-076)
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_integration/traits.rs
Due: atlas-runtime

fix(typechecker): generic traits — trait Container<T> with type substitution (H-077)
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_integration/traits.rs
Due: atlas-runtime

feat(parser,typechecker): @allow(unused) attribute suppresses AT2001 warnings (H-121)
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/lexer/mod.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
  crates/atlas-runtime/tests/frontend_syntax.rs
  crates/atlas-runtime/tests/frontend_syntax/warnings_attributes.rs
Due: atlas-runtime, atlas-lsp

chore: remove atlas-track CLI — replaced by pt
  tracking/atlas-track
Due: none

chore(workflow): centralize pt gates in CLAUDE.md — single source of truth
  .claude/agents/atlas-doc-auditor.md
  .claude/lazy/pt-workflow.md
  .claude/skills/atlas-battle/skill.md
  .claude/skills/atlas-blocks/skill.md
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas-test/skill.md
  CLAUDE.md
Due: none

chore(workflow): update phase-done syntax to named-phase system
  .claude/lazy/pt-workflow.md
  .claude/skills/atlas-blocks/skill.md
  .claude/skills/atlas/skill.md
  CLAUDE.md
Due: none

chore(workflow): fix stale pt phase-done syntax in 3 skills
  .claude/skills/atlas-battle/skill.md
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas-test/skill.md
Due: none

chore(workflow): require pt phase-add during block scaffolding
  .claude/skills/atlas-blocks/skill.md
Due: none

fix(stdlib): str() accepts any value per spec — was rejecting arrays, strings
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/tests/stdlib/strings.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: atlas-runtime

fix(typechecker): infer map/flatMap return type from callback function signature
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/interpreter/integration/arrays_methods.rs
  crates/atlas-runtime/tests/interpreter/integration/hashmaps_methods.rs
Due: atlas-runtime

fix(typechecker): closure tail_expr treated as implicit return value
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/interpreter/integration/arrays_methods.rs
Due: atlas-runtime

fix(stdlib): print() accepts any value — was rejecting arrays and collections
  crates/atlas-runtime/src/stdlib/mod.rs
Due: atlas-runtime

fix(stdlib): remove premature AT9000 deprecation on hashMapNew()
  crates/atlas-runtime/src/method_dispatch.rs
Due: atlas-runtime

fix(docs): audit and update test file references and line numbers
  .claude/agents/atlas-doc-auditor.md
  crates/atlas-runtime/src/CLAUDE.md
Due: atlas-runtime

chore(docs): doc audit — fix CLAUDE.md test domain tables and agent skill count
  .doc-patch-pending.json
Due: none

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
