Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

codecov.yml:

# Codecov configuration for Atlas
# https://docs.codecov.com/docs/codecovyml-reference
#
# Atlas is a public repo — free tier gives unlimited uploads, PR comments,
# patch coverage, and status checks. All thresholds enforced here.
#
# Per-crate floors (realistic for a compiler):
#   atlas-runtime  70% — core logic, all paths must be tested
#   atlas-cli      50% — integration-heavy, CLI edge cases vary
#   atlas-formatter 60% — pure transformation logic
#   atlas-lsp      40% — LSP protocol is hard to unit test
#   atlas-jit      25% — codegen paths aren't meaningfully unit-testable
#   atlas-config   60% — simple, should be well covered
#   atlas-build    40% — build tooling
#   atlas-package  40% — package management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Project-level: fail if total coverage drops more than 2%
    project:
      default:
        target: auto
        threshold: 2%
        if_not_found: success
        if_ci_failed: error

    # Patch-level: new code in a PR must be ≥80% covered
    patch:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: true   # Only comment if coverage changes
  require_base: true
  require_head: true

# Per-crate flags — each crate is measured independently
# This lets us enforce different thresholds per crate
flag_management:
  default_rules:
    carryforward: true

flags:
  atlas-runtime:
    paths:
      - crates/atlas-runtime/
    carryforward: true

  atlas-cli:
    paths:
      - crates/atlas-cli/
    carryforward: true

  atlas-formatter:
    paths:
      - crates/atlas-formatter/
    carryforward: true

  atlas-lsp:
    paths:
      - crates/atlas-lsp/
    carryforward: true

  atlas-jit:
    paths:
      - crates/atlas-jit/
    carryforward: true

  atlas-config:
    paths:
      - crates/atlas-config/
    carryforward: true

  atlas-build:
    paths:
      - crates/atlas-build/
    carryforward: true

  atlas-package:
    paths:
      - crates/atlas-package/
    carryforward: true

ignore:
  - "target/**"
  - "phases/**"
  - "docs/**"
  - "**/tests/**"
  - "**/benches/**"
  - "**/fuzz/**"

feat(B25): process namespace completion — waitFor/kill/isRunning/stdin/stdout/stderr added, bare process globals removed
  crates/atlas-cli/src/testing/runner.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/stdlib_ownership.rs
Due: atlas-runtime, atlas-cli

feat(B26): io namespace completion — write/writeLine/readAll/flush added, bare ioReadLine/ioReadLinePrompt removed
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/io.rs
  crates/atlas-runtime/src/stdlib/mod.rs
Due: atlas-runtime

feat(B27): encoding namespace (8 methods) + crypto.hmac/hmacVerify/blake3, bare encoding/crypto globals removed
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/crypto.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/stdlib_ownership.rs
Due: atlas-runtime

docs: B27 doc drift audit — encoding namespace + crypto.hmac/blake3 (no drift found)
  .doc-patch-pending.json
Due: none

feat(B28): http namespace — options-object API (get/post/put/delete/patch), bare http globals removed
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/http.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/stdlib_ownership.rs
  crates/atlas-runtime/tests/api/sandboxing.rs
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_no_params.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_complex_body.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_params.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_member_as_function_arg.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_deeply_nested_functions.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_multiple_nested_functions_same_scope.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_for_block.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_function.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_if_block.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_while_block.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_no_params.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_with_type_params.snap.new
  crates/atlas-runtime/tests/http.rs
Due: atlas-runtime

feat(B29): net namespace — UDP/TLS/WebSocket added, bare net globals blocked
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

feat(B30): compression namespace — Gzip/Tar/Zip dispatch, 14 methods, parity verified
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/interpreter/integration.rs
  crates/atlas-runtime/tests/interpreter/integration/compression_namespaces.rs
Due: atlas-runtime

feat(B30): compression namespace — gzip/tar/zip, 14 methods, D-049 lowercase casing
  .doc-patch-pending.json
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

feat(B31): task namespace + channel/asyncmutex instance method dispatch
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/system/task_ns.rs
Due: atlas-runtime

feat(B32): sync namespace — SyncNs factory dispatch, atomic/rwlock/semaphore instance methods
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/system/sync.rs
Due: atlas-runtime

feat(B33): future namespace — FutureNs factory + instance methods, parity verified
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/future.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/system/future_ns.rs
Due: atlas-runtime

feat(B34): test namespace — TestNs dispatch, test.* API, test files migrated
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/test.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/stdlib/functions/part3.rs
  crates/atlas-runtime/tests/stdlib/functions/part4.rs
Due: atlas-runtime

feat(B34): remove bare assert globals — testNs* keys wired, stdlib_ownership updated
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/stdlib_ownership.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

feat(B35): final global sweep — PascalCase aliases removed, namespace sweep tests added, CLAUDE.md updated
  crates/atlas-runtime/src/CLAUDE.md
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/system/namespace_sweep.rs
Due: atlas-runtime

chore: track doc drift pending (B33-eb061d8)
  .doc-patch-pending.json
Due: none

chore: clear doc-patch pending (B33 eb061d8)
  .doc-patch-pending.json
Due: none

fix: delete deprecated_global_replacement() + AT9000 — no backward compat, bare globals are AT1001
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/interpreter/integration.rs
  crates/atlas-runtime/tests/interpreter/integration/deprecated_globals.rs
Due: atlas-runtime

fix: restore namespace hints on AT1001 — bare globals fail with 'use console.log() instead'
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/method_dispatch.rs
Due: atlas-runtime

chore: bake ONE-BUILD rule into CLAUDE.md — cargo build --release only, never cargo install
  CLAUDE.md
Due: none

fix(binder): dynamic wrong-case namespace hint + suppress cascade AT3001
  .pre-commit-config.yaml
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/http.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

chore: deprecate atlas check + fix RUST-002 Guardian rule
  crates/atlas-cli/src/commands/check.rs
  crates/atlas-cli/src/main.rs
Due: atlas-cli

fix(runtime): two-pass module execution — collect ALL errors across ALL files
  crates/atlas-runtime/src/diagnostic/normalizer.rs
  crates/atlas-runtime/src/module_executor.rs
Due: atlas-runtime

fix(binder): catch all deprecated bare globals at compile time
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/symbol.rs
Due: atlas-runtime

fix(interpreter): drop __ns__ sentinel from namespace method args
  crates/atlas-runtime/src/interpreter/expr.rs
Due: atlas-runtime

fix(stdlib): add number and bool instance methods — D-021 TypeScript parity (H-260)
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/tests/regression/part11.rs
Due: atlas-runtime

fix(lexer): add \x hex and \uXXXX unicode escape sequences — H-261 H-263
  crates/atlas-runtime/src/lexer/literals.rs
  crates/atlas-runtime/tests/regression/part11.rs
Due: atlas-runtime

fix(typechecker): display any_placeholder as '_' not 'any' in diagnostics — H-265
  crates/atlas-runtime/src/types.rs
Due: atlas-runtime

chore: clear doc-patch-pending (no drift — grammar.md empty scaffold)
  .doc-patch-pending.json
Due: none

test(snapshots): accept updated parser span snapshots — H-257
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_no_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_no_params.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_complex_body.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_complex_body.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_params.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_member_as_function_arg.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_member_as_function_arg.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_deeply_nested_functions.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_deeply_nested_functions.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_multiple_nested_functions_same_scope.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_multiple_nested_functions_same_scope.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_for_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_for_block.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_function.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_function.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_if_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_if_block.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_while_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_while_block.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_no_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_no_params.snap.new
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_with_type_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_with_type_params.snap.new
Due: none

fix(corpus): update module corpus tests to current syntax — H-256
  crates/atlas-runtime/tests/corpus/pass/modules/basic_import/main.atl
  crates/atlas-runtime/tests/corpus/pass/modules/basic_import/math.atl
  crates/atlas-runtime/tests/corpus/pass/modules/chained_import/main.atl
  crates/atlas-runtime/tests/corpus/pass/modules/multi_import/main.atl
  crates/atlas-runtime/tests/corpus/pass/modules/multi_import/utils.atl
  crates/atlas-runtime/tests/corpus/pass/modules/namespace_import/main.atl
  crates/atlas-runtime/tests/corpus/pass/modules/namespace_import/utils.atl
Due: none

fix(tests): update sandboxing test to use file.read() + real temp file — H-258
  crates/atlas-runtime/tests/api/sandboxing.rs
Due: none

fix(binder): resolve parent directory imports (`../`) correctly
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/stdlib/http.rs
Due: atlas-runtime

fix(binder): block deprecated bare globals at compile time
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/method_dispatch.rs
Due: atlas-runtime

chore(stdlib): remove duplicate WebSocket dispatch entries
  crates/atlas-runtime/src/stdlib/mod.rs
Due: atlas-runtime

fix(typechecker): skip borrow escape check for primitives (H-267)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(stdlib): add process.exit(code) for clean program termination (H-266)
  .doc-patch-pending.json
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/process.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

docs(error_codes): update AT1003 help to include hex and unicode escapes (H-269)
  .doc-patch-pending.json
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_invalid_escape.snap
Due: atlas-runtime

feat(stdlib): wire up .expect() method for Result and Option (H-268)
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/methods.rs
Due: atlas-runtime
