Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

feat(diagnostics): add SuggestionDiff.note — context note after suggestion diffs (H-206)
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/src/diagnostic/descriptor.rs
  crates/atlas-runtime/src/diagnostic/formatter.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(formatter): replace multi-caret span with ANSI highlight + single ^ (H-203)
  crates/atlas-runtime/src/diagnostic/formatter.rs
  crates/atlas-runtime/tests/diagnostics.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_5.rs
Due: atlas-runtime

feat(cli): add --json tip line to TTY error output (H-204)
  crates/atlas-cli/src/diagnostics.rs
Due: atlas-cli

chore: stash agent config changes before branch merge
  .claude/agents/atlas-doc-patch.md
Due: none

docs: update errors.md + CLAUDE.md for B17 merge changes (single ^, AT3054 clarification, Param.ownership_explicit)
  crates/atlas-runtime/src/CLAUDE.md
  docs/language/errors.md
Due: atlas-runtime

fix(diagnostic): correct span column for Unicode sources + use colored text instead of background
  crates/atlas-runtime/src/diagnostic/formatter.rs
Due: atlas-runtime

feat(ast): add TypeRef::Tuple, Type::Tuple, Value::Tuple nodes — B15-P01
  .doc-patch-pending.json
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/call_hierarchy.rs
  crates/atlas-lsp/src/completion.rs
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/src/inlay_hints.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-lsp/src/symbols.rs
  crates/atlas-runtime/src/api/conversion.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/reflect/mod.rs
  crates/atlas-runtime/src/reflect/type_info.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/typecheck_dump.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/src/value.rs
  docs/b12-error-audit.md
  docs/b12-scaffold.md
Due: atlas-runtime, atlas-formatter, atlas-lsp

feat(parser): parse tuple literals and tuple type syntax — B15-P02
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

feat(typechecker): infer Type::Tuple from TupleLiteral, check .0/.1 access — B15-P03
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

feat(interpreter): evaluate TupleLiteral and .0/.1 element access — B15-P04
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
Due: atlas-runtime

feat(compiler+vm): tuple bytecode — Opcode::Tuple, Opcode::TupleGet — B15-P05
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/opcode.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

fix(typechecker): AT2001 {name} template unsubstituted + suppress double-error on type mismatch
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(parser+typechecker+interpreter+compiler+vm): tuple let destructuring B15-P06
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/tests/vm/member.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

feat(parser+interpreter+compiler+vm): tuple match patterns B15-P07
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/vm/member.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

test(tuples): comprehensive B15-P08 test suite + corpus programs
  crates/atlas-runtime/tests/corpus/pass/tuples/tuple_basics.atlas
  crates/atlas-runtime/tests/corpus/pass/tuples/tuple_basics.stdout
  crates/atlas-runtime/tests/corpus/pass/tuples/tuple_fibonacci.atlas
  crates/atlas-runtime/tests/corpus/pass/tuples/tuple_fibonacci.stdout
  crates/atlas-runtime/tests/corpus/pass/tuples/tuple_match.atlas
  crates/atlas-runtime/tests/corpus/pass/tuples/tuple_match.stdout
  crates/atlas-runtime/tests/interpreter/member.rs
Due: none

docs(tuples): B15-P09 — tuple syntax + grammar spec update
  docs/language/grammar.md
  docs/language/types.md
Due: none

feat(stdlib): arrayEnumerate + .enumerate() method on arrays (H-157)
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/array.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/types.rs
Due: atlas-runtime

docs: patch doc drift — B15 tuples + H-157 arrayEnumerate
  .doc-patch-pending.json
  crates/atlas-runtime/src/CLAUDE.md
  docs/stdlib/index.md
Due: atlas-runtime

test(snapshots): accept updated snapshots — B14 error quality + B17 ownership_explicit field
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_function_call.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_function_declaration.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_invalid_escape.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unexpected_char.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unterminated_comment.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unterminated_string.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_complex_body.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_multiple_nested_functions_same_scope.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_for_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_function.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_with_type_params.snap
Due: none

docs(errors): fix AT1007 — bare params are valid per D-040, borrow is implicit default
  docs/language/errors.md
Due: none

docs(identity): bake D-045 Atlas identity into CLAUDE.md — TypeScript surface, Rust runtime
  CLAUDE.md
Due: none

fix(deprecated-map): correct AT9000 deprecated_global_replacement map
  crates/atlas-runtime/src/method_dispatch.rs
Due: atlas-runtime

chore(fmt): apply cargo fmt to typechecker files
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(syntax): H-226/H-227 — extends keyword for supertrait and generic bounds
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/tests/frontend_integration/traits.rs
  crates/atlas-runtime/tests/frontend_syntax/traits_part2.rs
  crates/atlas-runtime/tests/typesystem/constraints/constraint_tests.rs
  docs/language/traits.md
  docs/language/types.md
  hydra.atl
Due: atlas-runtime, atlas-lsp

docs: update grammar.md for extends keyword syntax (H-226/H-227)
  docs/language/grammar.md
Due: none

fix(syntax): H-224 — revert []Type to Type[] (TypeScript-style postfix array)
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/reflect/type_info.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typecheck_dump.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/tests/api/reflection_part1.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors_part2.rs
  crates/atlas-runtime/tests/interpreter/integration/arrays.rs
  crates/atlas-runtime/tests/repl/type_tracking.rs
  crates/atlas-runtime/tests/typesystem/bindings/type_alias.rs
  crates/atlas-runtime/tests/typesystem/generics/part1.rs
  crates/atlas-runtime/tests/typesystem/generics/part2.rs
  crates/atlas-runtime/tests/typesystem/generics/part3.rs
  crates/atlas-runtime/tests/typesystem/inference/advanced_part2.rs
  crates/atlas-runtime/tests/typesystem/inference/integration.rs
  crates/atlas-runtime/tests/typesystem/inference/parity_suite.rs
  crates/atlas-runtime/tests/typesystem/integration/error_codes.rs
  crates/atlas-runtime/tests/typesystem/integration/struct_member_access.rs
  crates/atlas-runtime/tests/typesystem/integration/typing_union.rs
  docs/audit/ai-readiness-assessment.md
  docs/language/async.md
  docs/language/control-flow.md
  docs/language/errors.md
  docs/language/grammar.md
  docs/language/types.md
  docs/stdlib/array.md
  docs/stdlib/async.md
  docs/stdlib/collections.md
  docs/stdlib/compression.md
  docs/stdlib/core.md
  docs/stdlib/file.md
  docs/stdlib/json.md
  docs/stdlib/net.md
  docs/stdlib/path.md
  docs/stdlib/regex.md
  docs/stdlib/string.md
  docs/stdlib/websocket.md
  hydra.atl
Due: atlas-runtime

fix(diagnostics): H-224 — add migration error for old []Type prefix syntax
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors_part2.rs
Due: atlas-runtime

fix(diagnostics): arrow -> return type error with full help+note+recovery
  .claude/rules/atlas-diagnostics.md
  crates/atlas-runtime/src/parser/mod.rs
Due: atlas-runtime

fix(diagnostics): suppress static_help/note fallback when call-site overrides present
  crates/atlas-runtime/src/diagnostic/descriptor.rs
  crates/atlas-runtime/src/parser/mod.rs
Due: atlas-runtime

fix(modules): collect all parse errors across import graph in one pass
  crates/atlas-runtime/src/module_loader.rs
Due: atlas-runtime

feat(diagnostics): group repeated same-message errors into consolidated blocks
  crates/atlas-cli/src/diagnostics.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/src/diagnostic/formatter.rs
  crates/atlas-runtime/src/diagnostic/normalizer.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/diagnostics.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_2.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_4.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_5.rs
Due: atlas-runtime, atlas-cli

fix(parser): replace all bare self.error() calls with emit_descriptor() (H-228)
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
Due: atlas-runtime

fix(parser): bare enum variant patterns — no EnumName:: prefix required (H-223)
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/enum_types.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

fix(typechecker): H-229 — type-check enum variant tuple args against declared field types
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/integration/enum_types.rs
Due: atlas-runtime

fix(typechecker): H-230 — match exhaustiveness for user-defined enums
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/integration/enum_types.rs
Due: atlas-runtime

fix(typechecker): H-231 — DateTime/HttpResponse/Regex namespace methods return typed values
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/method_types.rs
Due: atlas-runtime

fix(stdlib): H-212 + H-213 — Process.run() and Process.args()
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/process.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

docs(protocol): systemic fix mandate + scope audit enforcement
  .claude/skills/atlas-bugfix/skill.md
  CLAUDE.md
Due: none

docs(stdlib): patch index.md for H-212/H-213 — Process.run() + Process.args()
  .doc-patch-pending.json
  docs/stdlib/index.md
Due: none

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
