Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

fix(H-343): VM FFI callback support — create_ffi_callback() on VM
  crates/atlas-runtime/src/ffi/callbacks.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/ffi.rs
Due: atlas-runtime

fix(H-337): eliminate heap allocations in resolve_*_method() functions
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
Due: atlas-runtime

fix(H-238): add regression tests for block_always_returns coverage gaps
  crates/atlas-runtime/tests/typesystem/flow/return_analysis_part2.rs
Due: none

feat(B43-P01+P02): add http.serve() server primitive + HttpServerRequest type
  crates/atlas-runtime/Cargo.toml
  crates/atlas-runtime/src/api/conversion.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/reflect/mod.rs
  crates/atlas-runtime/src/stdlib/http_server.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/reflect.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

test(B43-P08): add http_server tests — 6 unit + 15 integration
  crates/atlas-runtime/tests/http_server.rs
Due: none

feat(B45-P01): add GitFetcher — git-native package distribution
  crates/atlas-package/Cargo.toml
  crates/atlas-package/src/fetcher.rs
  crates/atlas-package/src/lib.rs
Due: atlas-package

feat(B45-P02): implement atlas install — git+path dep resolution + lockfile
  crates/atlas-cli/src/commands/install.rs
  crates/atlas-package/Cargo.toml
  crates/atlas-package/src/installer.rs
  crates/atlas-package/src/lib.rs
Due: atlas-cli, atlas-package

feat(B45-P03): bare specifier resolution — import { x } from 'pkg' works
  crates/atlas-runtime/src/resolver/mod.rs
Due: atlas-runtime

feat(B45-P04): lockfile validation before atlas run/build
  crates/atlas-build/Cargo.toml
  crates/atlas-build/src/lib.rs
  crates/atlas-cli/src/commands/build.rs
  crates/atlas-cli/src/commands/run.rs
Due: atlas-cli, atlas-build

feat(B45-P05): atlas update — git ls-remote tag bumping + lockfile update
  crates/atlas-cli/src/commands/update.rs
Due: atlas-cli

feat(B45-P06): atlas publish — git-native tag creation + validation
  crates/atlas-cli/src/commands/publish.rs
  crates/atlas-package/src/validator.rs
Due: atlas-cli, atlas-package

test(B45-P07): hermetic git package system integration tests
  crates/atlas-package/tests/integration.rs
Due: none

fix: cache path mismatch for git deps — store tag in lockfile, use it for path resolution
  crates/atlas-build/src/lib.rs
  crates/atlas-cli/src/commands/update.rs
  crates/atlas-package/src/installer.rs
  crates/atlas-package/src/lockfile.rs
  crates/atlas-runtime/src/resolver/mod.rs
Due: atlas-runtime, atlas-cli, atlas-build, atlas-package

fix(H-402): implement export { X } from './module' re-export syntax
  README.md
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/symbols.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/module_loader.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_syntax.rs
  crates/atlas-runtime/tests/frontend_syntax/modules_warnings_part2.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

fix(H-403): allow untyped anonymous fn params — fn(req, res) { ... }
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/tests/frontend_syntax/modules_warnings_part2.rs
Due: atlas-runtime

docs: update grammar and package docs for H-402/H-403 fixes
  docs/language/grammar.md
  docs/packages.md
Due: none

fix(H-407): continue/break inside match arm within for loop
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/tests/vm/regression_loops.rs
Due: atlas-runtime

fix(H-406): cross-module impl method visibility in typechecker
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/struct_member_access.rs
Due: atlas-runtime

fix(H-408): complete operand-size table in bytecode append()
  crates/atlas-runtime/src/bytecode/mod.rs
Due: atlas-runtime

fix(H-406): resolve impl method forward references and cross-module visibility
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

fix: transitive struct import for cross-module field type resolution
  crates/atlas-runtime/src/binder.rs
Due: atlas-runtime

docs: document break/continue in match arms within loops (H-407)
  docs/language/control-flow.md
  docs/language/grammar.md
Due: none

chore: clear doc-patch-pending after H-406/H-407/H-408 patches
  .doc-patch-pending.json
Due: none

fix(typechecker): any-typed values are callable, field-accessible, and usable as conditions (H-409)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

docs(rules): add Argus two-tier testing rule to atlas-testing.md
  .claude/rules/atlas-testing.md
Due: none

fix(pkg): H-411+H-412 — ~/atlas/pkg/<host>/<org>/<name>@<tag> layout
  STATUS.md
  crates/atlas-cli/src/commands/init.rs
  crates/atlas-cli/src/commands/install.rs
  crates/atlas-cli/src/commands/update.rs
  crates/atlas-cli/src/config.rs
  crates/atlas-cli/src/templates/binary.rs
  crates/atlas-cli/src/templates/library.rs
  crates/atlas-cli/src/templates/web.rs
  crates/atlas-package/src/fetcher.rs
  crates/atlas-package/src/installer.rs
  crates/atlas-package/src/lib.rs
  crates/atlas-runtime/src/resolver/mod.rs
Due: atlas-runtime, atlas-cli, atlas-package

docs(rules): update argus API refs to v0.2.0 namespace style
  .claude/rules/atlas-testing.md
Due: none

fix(http+vm): web package pipeline — H-414, H-419, map index access
  crates/atlas-build/src/lib.rs
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/async_runtime/mod.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/module_loader.rs
  crates/atlas-runtime/src/resolver/mod.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/src/stdlib/http_server.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/vm/mod.rs
  pkg/github.com/atl-pkg/web@v0.1.0/README.md
  pkg/github.com/atl-pkg/web@v0.1.0/atlas.toml
  pkg/github.com/atl-pkg/web@v0.1.0/lib.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/src/htmx.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/middleware.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/response.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/router.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/static.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/template.atl
  pkg/github.com/atl-pkg/web@v0.1.0/test_debug.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_eval.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_full.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_h405.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_router.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_template.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_tokenize.atlas
Due: atlas-runtime, atlas-build

fix(stdlib): H-421 — substring/slice use char offsets to match indexOf/length
  crates/atlas-runtime/src/stdlib/string.rs
Due: atlas-runtime

fix(web): template map reassignment and truthy eval_condition
  pkg/github.com/atl-pkg/web@v0.1.0/src/template.atl
Due: none

chore: remove pkg/ from atlas repo — belongs in atl-pkg/web
  .gitignore
  pkg/github.com/atl-pkg/web@v0.1.0/README.md
  pkg/github.com/atl-pkg/web@v0.1.0/atlas.toml
  pkg/github.com/atl-pkg/web@v0.1.0/lib.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/src/htmx.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/middleware.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/response.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/router.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/static.atl
  pkg/github.com/atl-pkg/web@v0.1.0/src/template.atl
  pkg/github.com/atl-pkg/web@v0.1.0/test_debug.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_eval.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_full.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_h405.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_router.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_template.atlas
  pkg/github.com/atl-pkg/web@v0.1.0/test_tokenize.atlas
Due: none

docs: rewrite README.md — comprehensive v0.3 language reference
  README.md
Due: none

docs(readme): use bare variant names in pattern matching examples
  README.md
Due: none

add Atlas Runtime Benchmarks (customSmallerIsBetter) benchmark result for 482a62045a482ee58e36143dfbd2a25f6933c0a2
  dev/bench/data.js
Due: none

docs(claude): add pt gotchas/attempts/todos/orientation to session start
  CLAUDE.md
Due: none

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
