Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

codecov.yml:

# Codecov configuration for Atlas
# https://docs.codecov.com/docs/codecovyml-reference
#
# Atlas is a public repo — free tier gives unlimited uploads, PR comments,
# patch coverage, and status checks. All thresholds enforced here.
#
# Per-crate floors (realistic for a compiler):
#   atlas-runtime  70% — core logic, all paths must be tested
#   atlas-cli      50% — integration-heavy, CLI edge cases vary
#   atlas-formatter 60% — pure transformation logic
#   atlas-lsp      40% — LSP protocol is hard to unit test
#   atlas-jit      25% — codegen paths aren't meaningfully unit-testable
#   atlas-config   60% — simple, should be well covered
#   atlas-build    40% — build tooling
#   atlas-package  40% — package management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Project-level: fail if total coverage drops more than 2%
    project:
      default:
        target: auto
        threshold: 2%
        if_not_found: success
        if_ci_failed: error

    # Patch-level: new code in a PR must be ≥80% covered
    patch:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: true   # Only comment if coverage changes
  require_base: true
  require_head: true

# Per-crate flags — each crate is measured independently
# This lets us enforce different thresholds per crate
flag_management:
  default_rules:
    carryforward: true

flags:
  atlas-runtime:
    paths:
      - crates/atlas-runtime/
    carryforward: true

  atlas-cli:
    paths:
      - crates/atlas-cli/
    carryforward: true

  atlas-formatter:
    paths:
      - crates/atlas-formatter/
    carryforward: true

  atlas-lsp:
    paths:
      - crates/atlas-lsp/
    carryforward: true

  atlas-jit:
    paths:
      - crates/atlas-jit/
    carryforward: true

  atlas-config:
    paths:
      - crates/atlas-config/
    carryforward: true

  atlas-build:
    paths:
      - crates/atlas-build/
    carryforward: true

  atlas-package:
    paths:
      - crates/atlas-package/
    carryforward: true

ignore:
  - "target/**"
  - "phases/**"
  - "docs/**"
  - "**/tests/**"
  - "**/benches/**"
  - "**/fuzz/**"

feat(block-04/phase-07): parity hardening for var-mutation capture semantics
  crates/atlas-runtime/src/interpreter/debugger.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/tests/closures.rs
Due: atlas-runtime

feat(block-04/phase-08): LSP hover shows fn(T) -> R type for AnonFn variables
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/tests/lsp_hover_tests.rs
Due: atlas-lsp

feat(block-04/phase-09): stdlib HOF audit — anon fn and arrow in map/filter/reduce/forEach/find/some/every/sort/flatMap
  crates/atlas-runtime/tests/closures.rs
Due: none

feat(block-04/phase-10): ownership integration for anon fn params — binder scope fix, typechecker return-type inference fix, 8 ownership tests
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/closures.rs
Due: atlas-runtime

feat(block-04/phase-11): parity test suite — 20 parity tests + VM complex-callee dispatch fix (index expressions as fn callees)
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/tests/closures.rs
Due: atlas-runtime

feat(block-04/phase-12): spec update + AC check — anonymous functions, closure capture semantics, STATUS.md Block 4 complete
  STATUS.md
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/vm/mod.rs
  docs/specification/memory-model.md
  docs/specification/syntax.md
Due: atlas-runtime

docs(rules): document zero-allocation interpreter hot path goal (DR-B04-01) [skip ci]
  .claude/rules/atlas-interpreter.md
Due: none

chore(phases): archive block-04-closures phase files [skip ci]
  phases/v0.3/archive/block-04-closures/.gitkeep
  phases/v0.3/archive/block-04-closures/phase-01-ast-anon-fn-node.md
  phases/v0.3/archive/block-04-closures/phase-02-parser-fn-expression.md
  phases/v0.3/archive/block-04-closures/phase-03-parser-arrow-syntax.md
  phases/v0.3/archive/block-04-closures/phase-04-typechecker-anon-fn.md
  phases/v0.3/archive/block-04-closures/phase-05-compiler-make-closure.md
  phases/v0.3/archive/block-04-closures/phase-06-interpreter-anon-fn.md
  phases/v0.3/archive/block-04-closures/phase-07-parity-hardening.md
  phases/v0.3/archive/block-04-closures/phase-08-lsp-fn-type-hover.md
  phases/v0.3/archive/block-04-closures/phase-09-stdlib-higher-order-audit.md
  phases/v0.3/archive/block-04-closures/phase-10-ownership-integration.md
  phases/v0.3/archive/block-04-closures/phase-11-parity-test-suite.md
  phases/v0.3/archive/block-04-closures/phase-12-spec-update-ac-check.md
Due: none

fix(runtime): update test_smoke version assertion to 0.2.0
  crates/atlas-runtime/src/lib.rs
Due: atlas-runtime

refactor(tests): split bytecode tests into subdirectory and strip remaining inline blocks
  crates/atlas-runtime/src/lib.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/bytecode/mod_tests.rs
  crates/atlas-runtime/tests/bytecode/profiler.rs
  crates/atlas-runtime/tests/bytecode/validator.rs
  crates/atlas-runtime/tests/collections.rs
  crates/atlas-runtime/tests/ffi.rs
  crates/atlas-runtime/tests/stdlib.rs
  crates/atlas-runtime/tests/stdlib/integration.rs
  crates/atlas-runtime/tests/stdlib/real_world.rs
  crates/atlas-runtime/tests/typesystem/integration.rs
  crates/atlas-runtime/tests/vm.rs
  crates/atlas-runtime/tests/vm/integration.rs
  crates/atlas-runtime/tests/vm/opcodes.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: atlas-runtime

docs(testing): update atlas-testing.md to reflect bytecode subdirectory split [skip ci]
  .claude/rules/atlas-testing.md
Due: none

chore(block-05): scaffold type inference phase files (9 phases) [skip ci]
  phases/v0.3/block-05-type-inference/phase-01-ast-optional-return-type.md
  phases/v0.3/block-05-type-inference/phase-02-inference-module-audit.md
  phases/v0.3/block-05-type-inference/phase-03-return-type-inference.md
  phases/v0.3/block-05-type-inference/phase-04-local-variable-inference.md
  phases/v0.3/block-05-type-inference/phase-05-generic-call-site-inference.md
  phases/v0.3/block-05-type-inference/phase-06-inference-error-messages.md
  phases/v0.3/block-05-type-inference/phase-07-parity-test-suite.md
  phases/v0.3/block-05-type-inference/phase-08-lsp-hover-inferred-types.md
  phases/v0.3/block-05-type-inference/phase-09-spec-update-ac-check.md
Due: none

chore(status): mark block-05 scaffolded, update current state [skip ci]
  STATUS.md
Due: none

add Atlas Runtime Benchmarks (customSmallerIsBetter) benchmark result for b28df29ca464a534d511873e010f598826eb3e7d
  dev/bench/data.js
  dev/bench/index.html
Due: none

ci(bench): parse Criterion output to JSON for customSmallerIsBetter
  .github/workflows/bench.yml
Due: none

add Atlas Runtime Benchmarks (customSmallerIsBetter) benchmark result for 9c00df22d61ef132bc8397fe8a9c24c5689f4e0d
  dev/bench/data.js
Due: none

feat(block-05/phase-01): make function return type annotation optional
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/call_hierarchy.rs
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/src/symbols.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/typechecker/type_guards.rs
  crates/atlas-runtime/tests/corpus/pass/optional_return_type.atlas
  crates/atlas-runtime/tests/corpus/pass/optional_return_type.stdout
  crates/atlas-runtime/tests/frontend_integration.rs
  crates/atlas-runtime/tests/snapshots/frontend_syntax__parse_function_no_params.snap
  crates/atlas-runtime/tests/snapshots/frontend_syntax__parse_nested_function_defaults_to_null_return_type.snap
Due: atlas-runtime, atlas-formatter, atlas-lsp

ci: bump MSRV to 1.88 and fix vm_fuzz SecurityContext call [skip ci]
  .github/workflows/ci.yml
  Cargo.toml
  crates/atlas-runtime/fuzz/fuzz_targets/vm_fuzz.rs
Due: none

add Atlas Runtime Benchmarks (customSmallerIsBetter) benchmark result for f72ded4cb90cb81d47a7f23f8f469b4c1c600674
  dev/bench/data.js
Due: none

chore(auditor): extend doc-auditor scope and add persistent memory
  .claude/agents/atlas-doc-auditor.md
  .claude/skills/atlas/auditor-memory.md
  .claude/skills/atlas/gates/gate-7-memory.md
Due: none

ci: remove --locked from MSRV check
  .github/workflows/ci.yml
  crates/atlas-jit/Cargo.toml
Due: atlas-jit

fix(compiler): return diagnostic instead of panic when TypeTag is unset
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/tests/regression.rs
Due: atlas-runtime

fix(compiler): return diagnostic instead of panic when TypeTag is unset (#155)
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/tests/regression.rs
Due: atlas-runtime

docs: add per-crate CLAUDE.md files and overhaul doc auditor [skip ci]
  .claude/agents/atlas-doc-auditor.md
  crates/atlas-build/src/CLAUDE.md
  crates/atlas-cli/src/CLAUDE.md
  crates/atlas-config/src/CLAUDE.md
  crates/atlas-formatter/src/CLAUDE.md
  crates/atlas-jit/JIT_STATUS.md
  crates/atlas-package/src/CLAUDE.md
  docs/embedding-guide.md
  docs/interpreter-status.md
  docs/specification/language-semantics.md
  docs/specification/types.md
Due: atlas-cli, atlas-formatter, atlas-jit, atlas-config, atlas-build, atlas-package

feat(type-inference): phase-01 — optional return type annotation
  crates/atlas-lsp/src/completion.rs
  crates/atlas-lsp/src/navigation.rs
Due: atlas-lsp

feat(type-inference): phase-02 — inference module audit
  crates/atlas-runtime/src/typechecker/inference.rs
Due: atlas-runtime

feat(type-inference): phase-03 — return type inference wired into typechecker
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/inference.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/inference.rs
Due: atlas-runtime

feat(type-inference): phase-04 — local variable inference verification + tests
  crates/atlas-lsp/src/hover.rs
  crates/atlas-runtime/tests/typesystem/inference.rs
Due: atlas-lsp

add Atlas Runtime Benchmarks (customSmallerIsBetter) benchmark result for dcf7b257ce465dfaf4aa215a62cd60418516ed10
  dev/bench/data.js
Due: none

feat(type-inference): phase-05 — generic call-site inference + AT3051
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/generics.rs
Due: atlas-runtime

feat(type-inference): phase-06 — inference error messages
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/inference.rs
Due: atlas-runtime

feat(typechecker): phase-07 parity test suite + fix collect_return_types
  crates/atlas-runtime/src/typechecker/inference.rs
  crates/atlas-runtime/tests/typesystem/constraints.rs
  crates/atlas-runtime/tests/typesystem/inference.rs
Due: atlas-runtime

feat(lsp): phase-08 hover + inlay hints for inferred types
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/src/inlay_hints.rs
  crates/atlas-lsp/tests/lsp_hover_tests.rs
  crates/atlas-lsp/tests/lsp_inlay_tests.rs
Due: atlas-lsp

feat(spec): phase-09 spec update, AC check, cargo fmt cleanup
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/generics.rs
  crates/atlas-runtime/tests/typesystem/inference.rs
  docs/specification/syntax.md
Due: atlas-runtime, atlas-lsp

chore(status): mark Block 5 complete, add completion metrics [skip ci]
  STATUS.md
Due: none

docs(claude-md): Block 5 audit — add inference.rs entry, InlayHintConfig fields, AT305x codes, infer_return_type method [skip ci]
  .claude/rules/atlas-typechecker.md
  crates/atlas-lsp/src/CLAUDE.md
  crates/atlas-runtime/src/CLAUDE.md
Due: atlas-runtime, atlas-lsp
