Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

fix(errors): replace panics with proper error handling (H-006)
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

docs: sync with current implementation (H-007)
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  docs/embedding-guide.md
Due: atlas-runtime

feat(stdlib): add async process spawning APIs
  crates/atlas-runtime/Cargo.toml
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/process.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/tests/system/process.rs
Due: atlas-runtime

feat(battle-test): hydra rebuild + comprehensive AI grammar audit
  battle-test/hydra/BATTLE-TEST-REPORT.md
  battle-test/hydra/GRAMMAR-REALITY.md
  battle-test/hydra/config/AUDIT.md
  battle-test/hydra/config/config.atlas
  battle-test/hydra/integration/AUDIT.md
  battle-test/hydra/integration/integration.atlas
  battle-test/hydra/proxy/AUDIT.md
  battle-test/hydra/proxy/proxy.atlas
  battle-test/hydra/sanitizer/AUDIT.md
  battle-test/hydra/sanitizer/sanitizer.atlas
  battle-test/hydra/statestore/AUDIT.md
  battle-test/hydra/statestore/statestore.atlas
  battle-test/hydra/supervisor/AUDIT.md
  battle-test/hydra/supervisor/supervisor.atlas
  battle-test/hydra/transport/AUDIT.md
  battle-test/hydra/transport/transport.atlas
  battle-test/hydra/watcher/AUDIT.md
  battle-test/hydra/watcher/watcher.atlas
Due: none

docs: update syntax.md and grammar-conformance.md to v0.3 (BT-001)
  docs/specification/grammar-conformance.md
  docs/specification/syntax.md
Due: none

fix(runtime): support record field assignment
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/opcode.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/regression.rs
  docs/specification/syntax.md
Due: atlas-runtime, atlas-formatter, atlas-lsp

fix(stdlib): add process stdio handles
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/process.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/tests/system/process.rs
Due: atlas-runtime

fix(stdlib): add filesystem watcher API
  crates/atlas-runtime/Cargo.toml
  crates/atlas-runtime/src/api/conversion.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/reflect/mod.rs
  crates/atlas-runtime/src/stdlib/fs.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/system/filesystem.rs
  crates/atlas-runtime/tests/system/filesystem/dir_ops.rs
  crates/atlas-runtime/tests/system/filesystem/edge.rs
  crates/atlas-runtime/tests/system/filesystem/metadata.rs
  crates/atlas-runtime/tests/system/filesystem/mod.rs
  crates/atlas-runtime/tests/system/filesystem/symlink.rs
  crates/atlas-runtime/tests/system/filesystem/temp.rs
  crates/atlas-runtime/tests/system/filesystem/watch.rs
Due: atlas-runtime

fix(stdlib): add json safe accessors and str helpers
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
  docs/specification/syntax.md
Due: atlas-runtime

fix(parser): relax if/match syntax
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/tests/frontend_syntax.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_basics.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_control_flow.rs
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__break_statement.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__continue_statement.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__for_loop.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__for_loop_parens.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__if_else_statement.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__if_else_statement_no_parens.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__if_statement.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__if_statement_no_parens.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__match_expr_commas.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__match_expr_semicolons.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__parse_block_in_if.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__parse_nested_blocks.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__return_no_value.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__return_statement.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__while_loop.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_control_flow__while_loop_no_parens.snap
  docs/specification/syntax.md
Due: atlas-runtime

fix(typechecker): allow annotated empty arrays
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/empty_array_pop.stderr
  crates/atlas-runtime/tests/corpus/fail/type_errors/empty_array_requires_annotation.atlas
  crates/atlas-runtime/tests/corpus/fail/type_errors/empty_array_requires_annotation.stderr
  crates/atlas-runtime/tests/corpus/pass/types/empty_array_annotations.atlas
  crates/atlas-runtime/tests/corpus/pass/types/empty_array_annotations.stdout
  crates/atlas-runtime/tests/interpreter.rs
  crates/atlas-runtime/tests/interpreter/for_in/mod.rs
  crates/atlas-runtime/tests/interpreter/for_in/part1.rs
  crates/atlas-runtime/tests/interpreter/for_in/part2.rs
  crates/atlas-runtime/tests/interpreter/integration/arrays.rs
  crates/atlas-runtime/tests/regression.rs
  crates/atlas-runtime/tests/regression/part1.rs
  crates/atlas-runtime/tests/regression/part10.rs
  crates/atlas-runtime/tests/regression/part2.rs
  crates/atlas-runtime/tests/regression/part3.rs
  crates/atlas-runtime/tests/regression/part4.rs
  crates/atlas-runtime/tests/regression/part5.rs
  crates/atlas-runtime/tests/regression/part6.rs
  crates/atlas-runtime/tests/regression/part7.rs
  crates/atlas-runtime/tests/regression/part8.rs
  crates/atlas-runtime/tests/regression/part9.rs
  crates/atlas-runtime/tests/stdlib.rs
  crates/atlas-runtime/tests/stdlib/functions.rs
  crates/atlas-runtime/tests/stdlib/functions/functions_loops.rs
  crates/atlas-runtime/tests/stdlib/functions/mod.rs
  crates/atlas-runtime/tests/stdlib/functions/part1.rs
  crates/atlas-runtime/tests/stdlib/functions/part2.rs
  crates/atlas-runtime/tests/stdlib/functions/part3.rs
  crates/atlas-runtime/tests/stdlib/functions/part4.rs
  crates/atlas-runtime/tests/stdlib/functions/part5.rs
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_all.snap
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_function.snap
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_variable.snap
  crates/atlas-runtime/tests/typesystem/constraints/type_rules/mod.rs
  crates/atlas-runtime/tests/typesystem/constraints/type_rules/part1.rs
  crates/atlas-runtime/tests/typesystem/constraints/type_rules/part2.rs
  crates/atlas-runtime/tests/typesystem/integration/error_codes.rs
  docs/specification/syntax.md
Due: atlas-runtime

fix(runtime): add array concatenation to +
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/corpus/fail/type_errors/array_concat_mismatch.atlas
  crates/atlas-runtime/tests/corpus/fail/type_errors/array_concat_mismatch.stderr
  crates/atlas-runtime/tests/corpus/pass/collections/array_concat.atlas
  crates/atlas-runtime/tests/corpus/pass/collections/array_concat.stdout
  docs/specification/diagnostic-system.md
  docs/specification/language-semantics.md
  docs/specification/syntax.md
Due: atlas-runtime

fix(stdlib): make HashMap mutation in-place
  crates/atlas-runtime/src/CLAUDE.md
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/debugger/inspection.rs
  crates/atlas-runtime/src/debugger/mod.rs
  crates/atlas-runtime/src/interpreter/debugger.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/stdlib/collections/hashmap.rs
  crates/atlas-runtime/src/stdlib/datetime.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/collections.rs
  crates/atlas-runtime/tests/interpreter/integration/parity_basic.rs
  crates/atlas-runtime/tests/system/compression/zip_advanced.rs
  crates/atlas-runtime/tests/system/compression/zip_creation.rs
  crates/atlas-runtime/tests/system/path.rs
  docs/api/stdlib.md
  docs/embedding-guide.md
  docs/interpreter-status.md
  docs/specification/memory-model.md
  docs/specification/runtime.md
  docs/specification/syntax.md
  docs/stdlib-usage-guide.md
Due: atlas-runtime

fix(cli): restrict test discovery to *.test.atl
  .claude/memory/patterns/lsp.md
  .claude/memory/patterns/runtime-ownership-cow.md
  .claude/memory/patterns/runtime-scoping-performance.md
  .claude/memory/patterns/runtime-traits.md
  .claude/memory/patterns/runtime.md
  .claude/skills/atlas/gates/git-workflow.md
  crates/atlas-cli/src/CLAUDE.md
  crates/atlas-cli/src/commands/lsp.rs
  crates/atlas-cli/src/main.rs
  crates/atlas-cli/src/testing/discovery.rs
  crates/atlas-cli/tests/lsp_cli_tests.rs
Due: atlas-cli

fix(runtime): complete namespace imports
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/module_executor.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/corpus/pass/modules/namespace_import/main.atl
  crates/atlas-runtime/tests/corpus/pass/modules/namespace_import/main.stdout
  crates/atlas-runtime/tests/corpus/pass/modules/namespace_import/utils.atl
  crates/atlas-runtime/tests/modules.rs
  docs/specification/syntax.md
Due: atlas-runtime

docs: comprehensive update for v0.3 features and testing system
  docs/specification/language-semantics.md
  docs/specification/stdlib.md
  docs/specification/syntax.md
  docs/specification/testing.md
Due: none

fix(runtime): add stack traces to runtime errors
  crates/atlas-cli/src/commands/run.rs
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/src/diagnostic/formatter.rs
  crates/atlas-runtime/src/diagnostic/normalizer.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/lib.rs
  crates/atlas-runtime/src/module_executor.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/src/stack_trace.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/diagnostics.rs
  crates/atlas-runtime/tests/vm/nested.rs
Due: atlas-runtime, atlas-cli

fix(diagnostics): populate source snippets
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/src/lexer/mod.rs
  crates/atlas-runtime/src/span.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_5.rs
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_invalid_escape.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unexpected_char.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unterminated_comment.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unterminated_string.snap
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_all.snap
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_function.snap
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_variable.snap
Due: atlas-runtime

docs: clarify range syntax
  docs/embedding-guide.md
  docs/language-design/migration/loops.md
  docs/specification/syntax.md
  docs/stdlib-usage-guide.md
  docs/vm-profiler-guide.md
Due: none

fix(runtime): allow test-mode process/env access
  crates/atlas-cli/src/testing/runner.rs
  crates/atlas-runtime/src/security/permissions.rs
Due: atlas-runtime, atlas-cli

battle-test: Hydra Round 2 + comprehensive audit
  AUDIT.md
  hydra.atl
  hydra.test.atl
Due: none

docs: fix all verified doc issues (H-049, H-050, H-051, H-052, H-054)
  DOC-ISSUES-VERIFIED.md
  crates/atlas-cli/src/main.rs
  docs/cli-reference.md
  docs/specification/syntax.md
  docs/specification/testing.md
Due: atlas-cli

fix(cli): restrict test runner to *.test.atl only (H-047)
  crates/atlas-cli/Cargo.toml
  crates/atlas-cli/src/testing/discovery.rs
  crates/atlas-cli/src/testing/mod.rs
  crates/atlas-cli/src/testing/runner.rs
Due: atlas-cli

fix(cli): support NO_COLOR=1 environment variable (H-048)
  crates/atlas-cli/src/config.rs
  crates/atlas-cli/src/main.rs
Due: atlas-cli

fix(stdlib): allow assertThrows/assertNoThrow with Atlas functions (H-053)
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/test.rs
  crates/atlas-runtime/src/vm/mod.rs
  hydra.test.atl
Due: atlas-runtime

fix(runtime): support record field assignment
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/record_field_immutable.atlas
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/record_field_immutable.stderr
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/record_field_missing.atlas
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/record_field_missing.stderr
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/record_field_type_mismatch.atlas
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/record_field_type_mismatch.stderr
  crates/atlas-runtime/tests/corpus/pass/collections/record_field_assignment.atlas
  crates/atlas-runtime/tests/corpus/pass/collections/record_field_assignment.stdout
  crates/atlas-runtime/tests/regression/part10.rs
Due: atlas-runtime

fix(docs): document type alias and structural types (BT-007)
  docs/specification/syntax.md
Due: none

Revert "fix(docs): document type alias and structural types (BT-007)"
  docs/specification/syntax.md
Due: none

fix(stdlib): return Unicode char indices from indexOf/lastIndexOf (BT-006)
  crates/atlas-runtime/src/stdlib/string.rs
  crates/atlas-runtime/tests/stdlib.rs
  crates/atlas-runtime/tests/stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/strings.rs
Due: atlas-runtime

feat(stdlib): add type_of() function for runtime type checking (H-023)
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/typechecker/narrowing.rs
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/corpus/pass/types/type_checks.stdout
  crates/atlas-runtime/tests/datetime_regex.rs
  crates/atlas-runtime/tests/http.rs
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/stdlib/integration.rs
  crates/atlas-runtime/tests/stdlib/json.rs
  crates/atlas-runtime/tests/stdlib/types.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/json.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_typeof_guards.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
Due: atlas-runtime

fix(tests): resolve test isolation issues with parallel execution
  crates/atlas-formatter/tests/formatter_tests.rs
  crates/atlas-runtime/src/lexer/mod.rs
  crates/atlas-runtime/src/span.rs
  crates/atlas-runtime/tests/diagnostics.rs
  crates/atlas-runtime/tests/frontend_syntax/lexer.rs
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_invalid_escape.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unexpected_char.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unterminated_comment.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unterminated_string.snap
  crates/atlas-runtime/tests/stdlib/functions/mod.rs
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_all.snap
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_function.snap
  crates/atlas-runtime/tests/stdlib/functions/snapshots/stdlib__functions__part5__prelude_global_shadowing_variable.snap
  crates/atlas-runtime/tests/typesystem/flow/type_guards_part2.rs
Due: atlas-runtime

chore(workflow): use --workspace for full test coverage
  .claude/lazy/git.md
  .claude/memory/testing-patterns.md
  .claude/rules/atlas-testing.md
  .claude/skills/atlas/gates/gate-4-quality.md
  .claude/skills/atlas/gates/gate-6-final-testing.md
  .claude/skills/atlas/gates/git-workflow.md
  .claude/skills/atlas/phase-template.md
  CLAUDE.md
Due: none

fix(parser): complete H-034 - remove ++/-- operator artifacts
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/lexer/mod.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/tests/frontend_syntax/lexer.rs
Due: atlas-runtime, atlas-lsp

feat(stdlib): register value_to_string function (H-028)
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/tests/api/reflection_part2.rs
Due: atlas-runtime

fix(tests): remove v0.3 deferral ignores - tests now run
  crates/atlas-runtime/tests/stdlib/functions/functions_loops.rs
  crates/atlas-runtime/tests/stdlib/functions/part1.rs
  crates/atlas-runtime/tests/stdlib/functions/part2.rs
  crates/atlas-runtime/tests/vm/functions.rs
  crates/atlas-runtime/tests/vm/functions_loops.rs
Due: none

feat(lsp): implement capture analysis and return type inference (H-017)
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-lsp/tests/refactor_tests.rs
Due: atlas-lsp

fix(typechecker): enforce trait bounds at compile time (H-032)
  ROADMAP.md
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/ownership_part3.rs
  docs/internal/V03_PLAN.md
Due: atlas-runtime

chore: add CODEX_VERIFY.md to gitignore
  .gitignore
Due: none

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
