Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

codecov.yml:

# Codecov configuration for Atlas
# https://docs.codecov.com/docs/codecovyml-reference
#
# Atlas is a public repo — free tier gives unlimited uploads, PR comments,
# patch coverage, and status checks. All thresholds enforced here.
#
# Per-crate floors (realistic for a compiler):
#   atlas-runtime  70% — core logic, all paths must be tested
#   atlas-cli      50% — integration-heavy, CLI edge cases vary
#   atlas-formatter 60% — pure transformation logic
#   atlas-lsp      40% — LSP protocol is hard to unit test
#   atlas-jit      25% — codegen paths aren't meaningfully unit-testable
#   atlas-config   60% — simple, should be well covered
#   atlas-build    40% — build tooling
#   atlas-package  40% — package management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Project-level: fail if total coverage drops more than 2%
    project:
      default:
        target: auto
        threshold: 2%
        if_not_found: success
        if_ci_failed: error

    # Patch-level: new code in a PR must be ≥80% covered
    patch:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: true   # Only comment if coverage changes
  require_base: true
  require_head: true

# Per-crate flags — each crate is measured independently
# This lets us enforce different thresholds per crate
flag_management:
  default_rules:
    carryforward: true

flags:
  atlas-runtime:
    paths:
      - crates/atlas-runtime/
    carryforward: true

  atlas-cli:
    paths:
      - crates/atlas-cli/
    carryforward: true

  atlas-formatter:
    paths:
      - crates/atlas-formatter/
    carryforward: true

  atlas-lsp:
    paths:
      - crates/atlas-lsp/
    carryforward: true

  atlas-jit:
    paths:
      - crates/atlas-jit/
    carryforward: true

  atlas-config:
    paths:
      - crates/atlas-config/
    carryforward: true

  atlas-build:
    paths:
      - crates/atlas-build/
    carryforward: true

  atlas-package:
    paths:
      - crates/atlas-package/
    carryforward: true

ignore:
  - "target/**"
  - "phases/**"
  - "docs/**"
  - "**/tests/**"
  - "**/benches/**"
  - "**/fuzz/**"

fix(async): make async primitives synchronous to prevent LocalSet panic
  crates/atlas-runtime/src/async_runtime/primitives.rs
  crates/atlas-runtime/src/stdlib/async_io.rs
Due: atlas-runtime

fix(http): enable member access on HttpResponse values
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
Due: atlas-runtime

fix(async): make async primitives synchronous to prevent LocalSet panic (#170)
  crates/atlas-runtime/src/async_runtime/primitives.rs
  crates/atlas-runtime/src/stdlib/async_io.rs
Due: atlas-runtime

fix(vm): resolve H-004 compound assignment side effects and remove dead And/Or opcodes
  crates/atlas-jit/tests/jit_tests.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/opcode.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: atlas-runtime

fix(http): enable member access on HttpResponse values (#171)
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
Due: atlas-runtime

add Atlas Runtime Benchmarks (customSmallerIsBetter) benchmark result for 2bd238e8915348ec7587c9e0402a5f51abcc06cd
  dev/bench/data.js
Due: none

fix(bytecode): complete serialization with checksum and extended value types (H-002)
  crates/atlas-runtime/Cargo.toml
  crates/atlas-runtime/src/bytecode/mod.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/tests/bytecode/mod_tests.rs
Due: atlas-runtime

fix(sandbox): enforce memory limit via max_memory_bytes (H-001)
  crates/atlas-runtime/src/api/config.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/api/sandboxing.rs
Due: atlas-runtime

fix(jit): correct ABI, cache size, and wire to VM (H-003)
  crates/atlas-jit/src/CLAUDE.md
  crates/atlas-jit/src/lib.rs
  crates/atlas-jit/tests/jit_tests.rs
  crates/atlas-runtime/src/jit_trait.rs
  crates/atlas-runtime/src/lib.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime, atlas-jit

fix(sandbox): enforce execution timeout and FFI permissions (H-001)
  crates/atlas-runtime/src/api/config.rs
  crates/atlas-runtime/src/api/mod.rs
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/api/sandboxing.rs
  tracking/atlas.db
Due: atlas-runtime

docs(tracking): add schema reference + import audit findings
  .claude/lazy/tracking-db.md
  .claude/memory/MEMORY.md
  tracking/atlas.db
Due: none

refactor(workflow): local-first CI, batch pushes, no PRs for fixes
  .claude/lazy/git.md
  .claude/memory/MEMORY.md
  .claude/memory/local-ci.md
  .claude/skills/atlas/gates/git-workflow.md
  CLAUDE.md
Due: none

refactor(workflow): consolidate duplicate documentation with lazy loading
  .claude/lazy/architecture.md
  .claude/lazy/git.md
  .claude/memory/MEMORY.md
  .claude/memory/local-ci.md
  .claude/skills/atlas/gates/gate-0-read-docs.md
  .claude/skills/atlas/gates/gate-1-sizing.md
  .claude/skills/atlas/gates/git-workflow.md
  .claude/skills/atlas/skill.md
  CLAUDE.md
Due: none

chore(tracking): update issue status for H-001
  tracking/atlas.db
Due: none

chore(tracking): update issue status for H-004
  tracking/atlas.db
Due: none

fix(vm): prevent compound assignment from re-evaluating side effects (H-004)
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/opcode.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: atlas-runtime

fix(security): enforce allow_network separately from allow_io (H-001)
  crates/atlas-jit/src/CLAUDE.md
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/tests/api/sandboxing.rs
  crates/atlas-runtime/tests/collections.rs
Due: atlas-runtime, atlas-jit

feat(hooks): add brutal pre-commit verification with Haiku 4.5
  .githooks/pre-commit
Due: none

chore(tracking): seed 24 P0 issues from brutal assessment
  BRUTAL-ASSESSMENT-2026-03-02.md
  docs/codex-findings/AUDIT-2026-03-02-FINAL.md
  tracking/atlas.db
Due: none

add Atlas Runtime Benchmarks (customSmallerIsBetter) benchmark result for 550011ffe22935848a315ece411665b401d7bd27
  dev/bench/data.js
Due: none

chore(infra): add audit tooling and enhance pre-commit guardian
  .claude/settings.local.json
  .githooks/pre-commit
  .githooks/prompts/intel-audit.md
  .githooks/prompts/intel-rules.md
  audits/.gitkeep
  scripts/daily-audit
  tracking/atlas.db
Due: none

fix(vm): implement And/Or opcodes (H-014)
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/vm.rs
  crates/atlas-runtime/tests/vm/logical.rs
Due: atlas-runtime

fix(hooks): disable Haiku semantic review (too slow for interactive use)
  .githooks/pre-commit
Due: none

feat(stdlib): implement string indexing and method dispatch (H-022)
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/interpreter/integration/strings.rs
  crates/atlas-runtime/tests/stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/strings.rs
  crates/atlas-runtime/tests/typesystem/constraints/type_rules.rs
  tracking/atlas.db
Due: atlas-runtime

fix(runtime): implement block expressions and fix closure scope handling (H-019)
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

chore(hooks): add Stop hook for git status check
  .claude/settings.local.json
Due: none

chore: untrack local-only files (databases, settings)
  .claude/settings.local.json
  .gitignore
  tracking/atlas.db
Due: none

fix(parser): remove arrow function syntax (H-035)
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/tests/closures.rs
  crates/atlas-runtime/tests/frontend_integration/anonfn_part_2.rs
  crates/atlas-runtime/tests/typesystem/inference/parity_suite.rs
Due: atlas-runtime

fix(parser): remove C-style for and ++/-- operators (H-034)
  .claude/memory/MEMORY.md
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/tests/api/core_part2.rs
  crates/atlas-runtime/tests/api/sandboxing.rs
  crates/atlas-runtime/tests/api/sandboxing_loops.rs
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/async_runtime_loops.rs
  crates/atlas-runtime/tests/bytecode/compiler.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
  crates/atlas-runtime/tests/frontend_syntax/for_in_traits_part1.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_basics.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors_part2.rs
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__for_loop.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_for_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_while_block.snap
  crates/atlas-runtime/tests/interpreter/assignment.rs
  crates/atlas-runtime/tests/interpreter/integration/arrays_advanced.rs
  crates/atlas-runtime/tests/interpreter/integration/control_flow.rs
  crates/atlas-runtime/tests/interpreter/integration/mutations.rs
  crates/atlas-runtime/tests/interpreter/integration/parity_basic.rs
  crates/atlas-runtime/tests/interpreter/nested_functions.rs
  crates/atlas-runtime/tests/interpreter/nested_functions_loops.rs
  crates/atlas-runtime/tests/interpreter/scope.rs
  crates/atlas-runtime/tests/interpreter/snapshots/interpreter__interp_assignment__incdec_decrement_array.snap
  crates/atlas-runtime/tests/interpreter/snapshots/interpreter__interp_assignment__incdec_decrement_name.snap
  crates/atlas-runtime/tests/interpreter/snapshots/interpreter__interp_assignment__incdec_increment_array.snap
  crates/atlas-runtime/tests/interpreter/snapshots/interpreter__interp_assignment__incdec_increment_name.snap
  crates/atlas-runtime/tests/stdlib/functions.rs
  crates/atlas-runtime/tests/stdlib/functions_loops.rs
  crates/atlas-runtime/tests/typesystem/bindings/intersection_nullability.rs
  crates/atlas-runtime/tests/typesystem/flow/return_analysis_part1.rs
  crates/atlas-runtime/tests/typesystem/inference/advanced_part1.rs
  crates/atlas-runtime/tests/vm/functions.rs
  crates/atlas-runtime/tests/vm/functions_loops.rs
  crates/atlas-runtime/tests/vm/regression.rs
  crates/atlas-runtime/tests/vm/regression_loops.rs
Due: atlas-runtime

fix(parser): make control flow parentheses optional (H-026)
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/tests/debugger/session.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_basics.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors.rs
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__for_loop_parens.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__if_else_statement_no_parens.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__if_statement_no_parens.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_block_in_if.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_nested_blocks.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__while_loop_no_parens.snap
Due: atlas-runtime

fix(parser): disambiguate {} with record keyword (H-036)
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-lsp/tests/lsp_hover_tests.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/tests/regression.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

feat(parser): implement string interpolation (H-025)
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/lexer/literals.rs
  crates/atlas-runtime/src/lexer/mod.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: atlas-runtime, atlas-lsp

fix(parser): robust comment handling in all contexts (H-030)
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_basics.rs
Due: atlas-runtime

fix(typechecker): enforce Unknown error semantics
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/flow_sensitive.rs
  crates/atlas-runtime/src/typechecker/generics.rs
  crates/atlas-runtime/src/typechecker/inference.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/typechecker/narrowing.rs
  crates/atlas-runtime/src/typechecker/type_guards.rs
  crates/atlas-runtime/src/typechecker/unification.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/tests/bytecode/patterns.rs
  crates/atlas-runtime/tests/corpus.rs
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/empty_array_pop.stderr
  crates/atlas-runtime/tests/interpreter/integration/arrays.rs
  crates/atlas-runtime/tests/regression.rs
  crates/atlas-runtime/tests/stdlib/integration.rs
  crates/atlas-runtime/tests/stdlib/parity.rs
  crates/atlas-runtime/tests/stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
  crates/atlas-runtime/tests/typesystem/integration/error_codes.rs
Due: atlas-runtime

fix(repl): capture stdout output
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/repl.rs
  crates/atlas-runtime/tests/repl.rs
  crates/atlas-runtime/tests/repl/errors.rs
  crates/atlas-runtime/tests/repl/file_loading.rs
  crates/atlas-runtime/tests/repl/helpers.rs
  crates/atlas-runtime/tests/repl/multiline.rs
  crates/atlas-runtime/tests/repl/output.rs
  crates/atlas-runtime/tests/repl/state.rs
  crates/atlas-runtime/tests/repl/type_tracking.rs
Due: atlas-runtime

fix(safety): document unsafe block invariants (H-008)
  crates/atlas-jit/src/backend.rs
  crates/atlas-jit/src/lib.rs
  crates/atlas-runtime/src/ffi/callbacks.rs
  crates/atlas-runtime/src/ffi/loader.rs
  crates/atlas-runtime/src/ffi/marshal.rs
  crates/atlas-runtime/src/ffi/safety.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime, atlas-jit
