Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

codecov.yml:

# Codecov configuration for Atlas
# https://docs.codecov.com/docs/codecovyml-reference
#
# Atlas is a public repo — free tier gives unlimited uploads, PR comments,
# patch coverage, and status checks. All thresholds enforced here.
#
# Per-crate floors (realistic for a compiler):
#   atlas-runtime  70% — core logic, all paths must be tested
#   atlas-cli      50% — integration-heavy, CLI edge cases vary
#   atlas-formatter 60% — pure transformation logic
#   atlas-lsp      40% — LSP protocol is hard to unit test
#   atlas-jit      25% — codegen paths aren't meaningfully unit-testable
#   atlas-config   60% — simple, should be well covered
#   atlas-build    40% — build tooling
#   atlas-package  40% — package management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Project-level: fail if total coverage drops more than 2%
    project:
      default:
        target: auto
        threshold: 2%
        if_not_found: success
        if_ci_failed: error

    # Patch-level: new code in a PR must be ≥80% covered
    patch:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: true   # Only comment if coverage changes
  require_base: true
  require_head: true

# Per-crate flags — each crate is measured independently
# This lets us enforce different thresholds per crate
flag_management:
  default_rules:
    carryforward: true

flags:
  atlas-runtime:
    paths:
      - crates/atlas-runtime/
    carryforward: true

  atlas-cli:
    paths:
      - crates/atlas-cli/
    carryforward: true

  atlas-formatter:
    paths:
      - crates/atlas-formatter/
    carryforward: true

  atlas-lsp:
    paths:
      - crates/atlas-lsp/
    carryforward: true

  atlas-jit:
    paths:
      - crates/atlas-jit/
    carryforward: true

  atlas-config:
    paths:
      - crates/atlas-config/
    carryforward: true

  atlas-build:
    paths:
      - crates/atlas-build/
    carryforward: true

  atlas-package:
    paths:
      - crates/atlas-package/
    carryforward: true

ignore:
  - "target/**"
  - "phases/**"
  - "docs/**"
  - "**/tests/**"
  - "**/benches/**"
  - "**/fuzz/**"

fix(typechecker): resolve struct types for trait dispatch (H-072, H-071)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

fix(docs): sync known-issues and CLAUDE.md with reality, add drift detector
  .claude/agents/atlas-doc-auditor.md
  .githooks/post-commit
  CLAUDE.md
  docs/README.md
  docs/known-issues.md
Due: none

fix(docs): remove stale H-067/H-068 references from language docs
  docs/language/control-flow.md
  docs/language/functions.md
  docs/language/grammar.md
  docs/language/types.md
  docs/tooling/cli.md
Due: none

refactor(docs): consolidate 93 AI-facing files down to ~55
  .claude/lazy/git.md
  .claude/memory/MEMORY.md
  .claude/memory/local-ci.md
  .claude/memory/patterns.md
  .claude/memory/patterns/cli.md
  .claude/memory/patterns/language.md
  .claude/memory/patterns/lsp.md
  .claude/memory/patterns/runtime-scoping-performance.md
  .claude/memory/patterns/runtime-traits.md
  .claude/memory/patterns/runtime.md
  .claude/memory/patterns/stdlib.md
  .claude/memory/patterns/typechecker.md
  .claude/memory/patterns/vm.md
  docs/AST_STATUS.md
  docs/README.md
  docs/SYSTEMS_LEVEL_STATUS.md
  docs/language/control-flow.md
  docs/language/functions.md
  docs/language/grammar.md
  docs/language/structs-enums.md
  docs/language/types.md
  docs/stdlib/AUDIT_REPORT.md
  docs/stdlib/README.md
  docs/tooling/cli.md
Due: none

fix(docs): remove all dangling references to deleted files
  .claude/memory/MEMORY.md
  .claude/skills/atlas/gates/gate-0-read-docs.md
  .claude/skills/atlas/gates/gate-1-sizing.md
  .claude/skills/atlas/gates/gate-7-memory.md
  .claude/skills/atlas/gates/session-protection.md
  CLAUDE.md
  docs/audits/INDEX.md
Due: none

feat(parser): implicit self type inference in trait/impl methods (H-073)
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(traits): default method implementations in traits (H-074)
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_syntax/for_in_traits_part1.rs
  crates/atlas-runtime/tests/typesystem/integration/ownership_part2.rs
  crates/atlas-runtime/tests/vm/for_in.rs
Due: atlas-runtime

refactor: consolidate memory to Claude Code auto-memory system
  .claude/agents/atlas-doc-auditor.md
  .claude/memory/MEMORY.md
  .claude/memory/archive/2026-02-decisions-lsp-v1.md
  .claude/memory/archive/2026-02-language-classification.md
  .claude/memory/archive/2026-02-patterns-v1.md
  .claude/memory/archive/2026-02-structure-reference.md
  .claude/memory/archive/2026-02-workflow-decisions-v1.md
  .claude/memory/domain-prereqs.md
  .claude/memory/patterns.md
  .claude/memory/testing-patterns.md
  .claude/rules/atlas-testing.md
  .claude/skills/atlas/gates/gate-0-read-docs.md
  .claude/skills/atlas/gates/gate-1-sizing.md
  .claude/skills/atlas/gates/gate-2-implement.md
  .claude/skills/atlas/gates/gate-3-parity.md
  .claude/skills/atlas/gates/gate-4-quality.md
  .claude/skills/atlas/gates/gate-5-docs.md
  .claude/skills/atlas/gates/gate-6-final-testing.md
  .claude/skills/atlas/gates/gate-7-memory.md
  .claude/skills/atlas/gates/gate-minus1-sanity.md
  .claude/skills/atlas/gates/session-protection.md
  .claude/skills/atlas/phase-template.md
  .claude/skills/atlas/skill.md
Due: none

feat(traits): trait objects / bounded polymorphism (H-075)
  crates/atlas-lsp/src/inlay_hints.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/mod.rs
  crates/atlas-runtime/src/bytecode/opcode.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/reflect/type_info.rs
  crates/atlas-runtime/src/typecheck_dump.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/corpus/pass/traits/implicit_self_impl.atlas
  crates/atlas-runtime/tests/corpus/pass/traits/implicit_self_impl.stdout
  crates/atlas-runtime/tests/interpreter/integration/ownership_parity.rs
  crates/atlas-runtime/tests/typesystem/integration/ownership_part3.rs
  crates/atlas-runtime/tests/vm/for_in.rs
Due: atlas-runtime, atlas-lsp

chore: optimize AI workflow — slim CLAUDE.md, add auto-loaded rules, update docs
  .claude/agents/atlas-doc-auditor.md
  .claude/rules/atlas-ast.md
  .claude/rules/atlas-context-guard.md
  .claude/rules/atlas-cross-platform.md
  .claude/rules/atlas-language-ref.md
  .claude/settings.json
  .claude/skills/atlas-battle/skill.md
  .claude/skills/atlas-blocks/skill.md
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas/gates/ai-grammar-principles.md
  .claude/skills/atlas/gates/gate-0-arch.md
  .claude/skills/atlas/gates/gate-0-deps.md
  .claude/skills/atlas/gates/gate-0-read-docs.md
  .claude/skills/atlas/gates/gate-2-implement.md
  .claude/skills/atlas/gates/gate-4-quality.md
  .claude/skills/atlas/gates/gate-5-docs.md
  .claude/skills/atlas/gates/gate-6-coverage.md
  .claude/skills/atlas/gates/gate-6-final-testing.md
  .claude/skills/atlas/gates/gate-7-limits.md
  .claude/skills/atlas/gates/gate-7-memory.md
  .claude/skills/atlas/gates/gate-applicability-domains.md
  .claude/skills/atlas/gates/gate-applicability.md
  .claude/skills/atlas/gates/gate-minus1-checks.md
  .claude/skills/atlas/gates/gate-minus1-sanity.md
  .claude/skills/atlas/gates/oracle-testing.md
  .claude/skills/atlas/gates/test-partitioning.md
  .claude/skills/atlas/phase-template.md
  .claude/skills/atlas/skill.md
  .claude/skills/atlas/workflows/bug-fix.md
  .claude/skills/atlas/workflows/structured.md
  CLAUDE.md
  docs/known-issues.md
  docs/language/grammar.md
  docs/language/modules.md
  docs/language/traits.md
  docs/language/types.md
  docs/stdlib/index.md
  docs/stdlib/path.md
Due: none

fix(parser): deprecate anonymous struct syntax { x: 1 } in favor of record { } (H-086)
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_anonymous_structs.rs
  docs/known-issues.md
Due: atlas-runtime

chore(workflow): fix testing strategy — Guardian hook is the single full-suite gate
  .claude/lazy/git.md
  .claude/rules/atlas-testing.md
  .claude/skills/atlas-battle/skill.md
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas/gates/test-partitioning.md
  .claude/skills/atlas/skill.md
  CLAUDE.md
Due: none

feat(guardian): add battle tests to pre-commit hook
  .githooks/pre-commit
Due: none

fix(parser,types): fix struct-literal/block ambiguity in conditions + HashMap<any,any> assignability
  .githooks/pre-commit
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
Due: atlas-runtime

fix(parser,tests): fix remaining test failures from H-084 return type requirement
  .cargo/config.toml
  .claude/settings.json
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/corpus/fail/let_reassign_local.atlas
  crates/atlas-runtime/tests/corpus/pass/functions/default_return.atlas
  crates/atlas-runtime/tests/corpus/pass/let_array_index_mutable.atlas
  crates/atlas-runtime/tests/corpus/pass/optional_return_type.atlas
  crates/atlas-runtime/tests/corpus/pass/var_mutable_local.atlas
  crates/atlas-runtime/tests/frontend_syntax/parser_basics.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors.rs
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_no_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_defaults_to_null_return_type.snap
  crates/atlas-runtime/tests/snapshots/frontend_syntax__parse_nested_function_defaults_to_null_return_type.snap
  docs/language/functions.md
Due: atlas-runtime

docs(grammar,functions): update spec for required return type on named functions (H-084)
  docs/language/grammar.md
Due: none

chore(tracking): clear stale incremental cache on atlas-track go
  tracking/lib/session.sh
Due: none

fix(stdlib,dispatch,tests): add Option/Result method dispatch (H-078) + fix H-084 test fallout
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/tests/regression/part10.rs
  crates/atlas-runtime/tests/stdlib/parity.rs
  crates/atlas-runtime/tests/typesystem/inference/parity_suite.rs
  crates/atlas-runtime/tests/typesystem/inference/return_types_part2.rs
  crates/atlas-runtime/tests/vm/nested.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: atlas-runtime

chore(workflow): fix AI over-testing — show failing tests in Guardian + update skill/memory
  .claude/skills/atlas-bugfix/skill.md
  .githooks/pre-commit
Due: none

docs(workflow): eliminate conflicting testing instructions across all skill/gate/memory files
  .claude/skills/atlas/gates/gate-6-final-testing.md
  .claude/skills/atlas/gates/test-partitioning.md
  .claude/skills/atlas/skill.md
  CLAUDE.md
Due: none

feat(ci): implement two-tier CI — fast pre-commit + nightly full suite
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas/gates/gate-6-final-testing.md
  .claude/skills/atlas/gates/test-partitioning.md
  .claude/skills/atlas/skill.md
  .githooks/pre-commit
  .gitignore
  CLAUDE.md
  tracking/atlas-track
  tracking/ci-runner.sh
  tracking/com.atlas.nightly-ci.plist
  tracking/install-ci.sh
  tracking/lib/session.sh
Due: none

fix(build,dispatch): feature-gate heavy C deps + fix arr.length() + 4:30am ET cron
  crates/atlas-runtime/Cargo.toml
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/lib.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/reflect/type_info.rs
  crates/atlas-runtime/src/stdlib/encoding.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typecheck_dump.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/src/value.rs
  tracking/com.atlas.nightly-ci.plist
  tracking/lib/session.sh
Due: atlas-runtime

fix(typechecker): loop variable != literal no longer collapses type to never (H-088)
  crates/atlas-runtime/src/typechecker/narrowing.rs
  crates/atlas-runtime/tests/regression/part10.rs
Due: atlas-runtime

docs(workflow): explicit rule — CLI confirmation supersedes nextest
  .claude/skills/atlas-bugfix/skill.md
Due: none

fix(parser,typechecker): mut function parameters (H-089)
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
  crates/atlas-runtime/tests/regression/part10.rs
Due: atlas-runtime

docs(functions): document mut parameter syntax (H-089)
  docs/language/functions.md
Due: none

fix(typechecker): local let mut no longer shadows outer immutable binding (H-092)
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/regression/part10.rs
Due: atlas-runtime

fix(lexer,typechecker): template string \${ leak + implicit return unused param (B9 pre-work)
  crates/atlas-runtime/src/lexer/literals.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/regression.rs
  crates/atlas-runtime/tests/regression/part11.rs
Due: atlas-runtime

docs(runtime): update CLAUDE.md — session S-094 invariants
  crates/atlas-runtime/src/CLAUDE.md
Due: atlas-runtime

feat(runtime): convert ValueHashMap from Arc<Mutex> to CoW semantics (B7-P01-P08)
  crates/atlas-runtime/src/CLAUDE.md
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/debugger/inspection.rs
  crates/atlas-runtime/src/debugger/mod.rs
  crates/atlas-runtime/src/interpreter/debugger.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/module_executor.rs
  crates/atlas-runtime/src/stdlib/collections/hashmap.rs
  crates/atlas-runtime/src/stdlib/datetime.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/collections.rs
  crates/atlas-runtime/tests/system/compression/zip_advanced.rs
  crates/atlas-runtime/tests/system/compression/zip_creation.rs
  crates/atlas-runtime/tests/system/path.rs
Due: atlas-runtime

fix(tests): update stale closure/hashmap tests for CoW semantics (H-094, H-095)
  crates/atlas-runtime/tests/closures.rs
  crates/atlas-runtime/tests/collections.rs
Due: none

fix(tests): update template string tests to \${} syntax, accept param snapshots (H-096, H-097)
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_function_call.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_function_declaration.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_complex_body.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_multiple_nested_functions_same_scope.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_for_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_function.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_with_type_params.snap
  crates/atlas-runtime/tests/interpreter/integration.rs
Due: none

fix(tests): fix typechecker regression tests and corpus template syntax (H-100, H-105)
  crates/atlas-runtime/tests/corpus/pass/traits/implicit_self_impl.atlas
  crates/atlas-runtime/tests/regression/part10.rs
  crates/atlas-runtime/tests/regression/part11.rs
Due: none

fix(tests): fix stale test code for -> void requirement (H-102, H-106, H-108)
  crates/atlas-cli/tests/fmt_tests.rs
  crates/atlas-runtime/tests/frontend_syntax/operator_precedence_keywords.rs
  crates/atlas-runtime/tests/typesystem/inference/error_messages.rs
Due: none

fix(tests): add -> void to stale test Atlas code across cli/diagnostics/frontend (H-098, H-103, H-104, H-107)
  battle-test/hydra-v4/config.atlas
  crates/atlas-cli/src/testing/discovery.rs
  crates/atlas-cli/src/testing/runner.rs
  crates/atlas-cli/tests/watch_tests.rs
  crates/atlas-runtime/tests/diagnostics.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_3.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_4.rs
  docs/language/types.md
  docs/stdlib/collections.md
  docs/stdlib/index.md
  tracking/atlas-track
  tracking/lib/queries.sh
  tracking/lib/session.sh
Due: atlas-cli

fix(tests): add -> void/number return types to LSP test Atlas fixtures (H-099)
  crates/atlas-lsp/tests/lsp_folding_tests.rs
  crates/atlas-lsp/tests/lsp_hover_tests.rs
  crates/atlas-lsp/tests/lsp_inlay_tests.rs
  crates/atlas-lsp/tests/lsp_protocol_tests.rs
  crates/atlas-lsp/tests/lsp_symbols_tests.rs
  crates/atlas-lsp/tests/lsp_tokens_tests.rs
  crates/atlas-lsp/tests/refactor_tests.rs
Due: none

fix(tests): add -> void to formatter and CLI discovery test Atlas fixtures (H-109)
  crates/atlas-cli/src/testing/discovery.rs
  crates/atlas-formatter/tests/comments_tests.rs
  crates/atlas-formatter/tests/formatter_tests.rs
  crates/atlas-formatter/tests/integration_tests.rs
Due: atlas-cli

feat(tooling): world-class atlas-track — bugs fixed, new commands, better output
  .claude/lazy/tracking-db.md
  tracking/atlas-track
  tracking/lib/decisions.sh
  tracking/lib/maintenance.sh
  tracking/lib/queries.sh
Due: none
