Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

feat: add project-scoped Codex atlas skill
  .codex/skills/atlas/SKILL.md
  .gitignore
Due: none

feat(codex-skill): add escape hatch, big impl guide, stopping criteria
  .codex/skills/atlas/SKILL.md
  .codex/skills/atlas/references/big-implementations.md
Due: none

fix(codex-skill): add anti-deferral rules, Atlas vision alignment
  .codex/skills/atlas/SKILL.md
Due: none

chore: remove roadmap refs and outdated memory files
  .claude/memory/MEMORY.md
  .claude/memory/block6-handoff.md
  .claude/memory/patterns/runtime-ownership-cow.md
  .claude/memory/patterns/workflow.md
  .claude/memory/systems-audit-handoff.md
  STATUS.md
Due: none

fix(opus-skill): add anti-deferral rules, remove version refs, Atlas vision alignment
  .claude/skills/atlas/skill.md
Due: none

chore: remove version refs from gates, delete gate-versioning
  .claude/skills/atlas/gates/gate-versioning.md
Due: none

feat(codex-skill): add gates, workflows, references from Opus skill
  .codex/skills/atlas/SKILL.md
  .codex/skills/atlas/gates/gate-0-read-docs.md
  .codex/skills/atlas/gates/gate-1-sizing.md
  .codex/skills/atlas/gates/gate-2-implement.md
  .codex/skills/atlas/gates/gate-3-parity.md
  .codex/skills/atlas/gates/gate-4-quality.md
  .codex/skills/atlas/gates/gate-5-docs.md
  .codex/skills/atlas/gates/gate-6-final-testing.md
  .codex/skills/atlas/gates/gate-6-status.md
  .codex/skills/atlas/gates/gate-7-memory.md
  .codex/skills/atlas/gates/gate-applicability.md
  .codex/skills/atlas/gates/gate-minus1-sanity.md
  .codex/skills/atlas/gates/git-workflow.md
  .codex/skills/atlas/gates/session-protection.md
  .codex/skills/atlas/workflows/bug-fix.md
  .codex/skills/atlas/workflows/structured.md
Due: none

fix(runtime): function variables in blocks return correct values (H-055)
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
Due: atlas-runtime

feat(lsp): implement cross-file indexing (H-016)
  crates/atlas-lsp/src/convert.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/tests/navigation_tests.rs
Due: atlas-lsp

feat(lsp): implement goto-definition (H-005)
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/server.rs
  crates/atlas-lsp/tests/navigation_tests.rs
Due: atlas-lsp

fix(cli): replace fake package commands with honest errors (H-056)
  crates/atlas-cli/src/commands/install.rs
  crates/atlas-cli/src/commands/publish.rs
  crates/atlas-cli/tests/package_cli_tests.rs
Due: atlas-cli

feat(lang): implement template string interpolation (H-039)
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_array_literal.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_binary_expression.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_boolean_literal.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_function_call.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_function_declaration.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_if_statement.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_simple_literal.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_string_literal.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_variable_declaration.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_while_loop.snap
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/opcode.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/lexer/literals.rs
  crates/atlas-runtime/src/lexer/mod.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/inference.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/interpreter/integration.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

docs: fix v0.3 documentation drift
  battle-test/hydra-v2/BATTLE-TEST-REPORT.md
  battle-test/hydra-v2/DO-NOT-COPY-OLD-BATTLE-TEST-START-FRESH.md
  battle-test/hydra-v2/GRAMMAR-REALITY.md
  battle-test/hydra-v2/config/AUDIT.md
  battle-test/hydra-v2/config/config.atlas
  battle-test/hydra-v2/integration/AUDIT.md
  battle-test/hydra-v2/integration/integration.atlas
  battle-test/hydra-v2/proxy/AUDIT.md
  battle-test/hydra-v2/proxy/proxy.atlas
  battle-test/hydra-v2/sanitizer/AUDIT.md
  battle-test/hydra-v2/sanitizer/sanitizer.atlas
  battle-test/hydra-v2/statestore/AUDIT.md
  battle-test/hydra-v2/statestore/statestore.atlas
  battle-test/hydra-v2/supervisor/AUDIT.md
  battle-test/hydra-v2/supervisor/supervisor.atlas
  battle-test/hydra-v2/transport/AUDIT.md
  battle-test/hydra-v2/transport/transport.atlas
  battle-test/hydra-v2/watcher/AUDIT.md
  battle-test/hydra-v2/watcher/watcher.atlas
  docs/specification/grammar-conformance.md
  docs/specification/repl.md
  docs/specification/syntax.md
  docs/specification/types.md
Due: none

feat(battle-test): Hydra v3 port to Atlas
  battle-test/hydra-v3/BATTLE-TEST-REPORT.md
  battle-test/hydra-v3/src/adaptive/learner.atl
  battle-test/hydra-v3/src/adaptive/persistence.atl
  battle-test/hydra-v3/src/bootstrap/pathutil.atl
  battle-test/hydra-v3/src/cli/cli.atl
  battle-test/hydra-v3/src/common/strings.atl
  battle-test/hydra-v3/src/common/time.atl
  battle-test/hydra-v3/src/config/defaults.atl
  battle-test/hydra-v3/src/config/registry.atl
  battle-test/hydra-v3/src/config/types.atl
  battle-test/hydra-v3/src/discovery/merger.atl
  battle-test/hydra-v3/src/discovery/scanner.atl
  battle-test/hydra-v3/src/injectable/status.atl
  battle-test/hydra-v3/src/injectable/tools.atl
  battle-test/hydra-v3/src/logger/logger.atl
  battle-test/hydra-v3/src/main.atl
  battle-test/hydra-v3/src/metrics/collector.atl
  battle-test/hydra-v3/src/protocol/jsonrpc.atl
  battle-test/hydra-v3/src/proxy/proxy.atl
  battle-test/hydra-v3/src/proxy/queue.atl
  battle-test/hydra-v3/src/recorder/recorder.atl
  battle-test/hydra-v3/src/sanitizer/sanitizer.atl
  battle-test/hydra-v3/src/security/redactor.atl
  battle-test/hydra-v3/src/state/cleanup.atl
  battle-test/hydra-v3/src/state/manager.atl
  battle-test/hydra-v3/src/statestore/store.atl
  battle-test/hydra-v3/src/supervisor/supervisor.atl
  battle-test/hydra-v3/src/transport/transport.atl
  battle-test/hydra-v3/src/watcher/watcher.atl
Due: none

feat(lang): implement anonymous struct literals (H-060)
  battle-test/hydra-v3/BATTLE-TEST-REPORT.md
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/frontend_syntax.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_anonymous_structs.rs
  crates/atlas-runtime/tests/interpreter/integration.rs
  crates/atlas-runtime/tests/typesystem/inference/integration.rs
  crates/atlas-runtime/tests/typesystem/inference/parity_suite.rs
  crates/atlas-runtime/tests/vm/integration.rs
Due: atlas-runtime

fix(cli): add termcolor dependency for rich diagnostics
  crates/atlas-cli/Cargo.toml
Due: atlas-cli

feat(cli): implement world-class diagnostic output (H-061)
  crates/atlas-cli/src/commands/check.rs
  crates/atlas-cli/src/commands/debug.rs
  crates/atlas-cli/src/commands/profile.rs
  crates/atlas-cli/src/commands/repl.rs
  crates/atlas-cli/src/commands/repl_tui.rs
  crates/atlas-cli/src/commands/run.rs
  crates/atlas-cli/src/commands/watch.rs
  crates/atlas-cli/src/diagnostics.rs
  crates/atlas-cli/src/main.rs
Due: atlas-cli

feat(types): unify Array<T> with T[] (H-062)
  battle-test/hydra-v3/BATTLE-TEST-REPORT.md
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/tests/typesystem/integration/array_alias.rs
  crates/atlas-runtime/tests/typesystem/integration/mod.rs
Due: atlas-runtime

docs(stdlib): add reality vs aspiration warning
  docs/specification/stdlib.md
Due: none

feat(typechecker): enforce HashMap<K,V> generic type parameters (H-064)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/tests/typesystem/integration/hashmap_generics.rs
  crates/atlas-runtime/tests/typesystem/integration/mod.rs
Due: atlas-runtime

fix(typechecker): struct field access returns declared type (H-066)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/struct_member_access.rs
Due: atlas-runtime

docs(stdlib): add accurate stdlib documentation from codebase audit
  docs/stdlib/array.md
  docs/stdlib/collections.md
  docs/stdlib/compression.md
  docs/stdlib/datetime.md
  docs/stdlib/encoding.md
  docs/stdlib/file.md
  docs/stdlib/http.md
  docs/stdlib/json.md
  docs/stdlib/math.md
  docs/stdlib/process.md
  docs/stdlib/regex.md
  docs/stdlib/string.md
  docs/stdlib/types.md
Due: none

chore: archive stale audit files from project root
  docs-archive/audits/AUDIT.md
  docs-archive/audits/BRUTAL-ASSESSMENT-2026-03-02.md
  docs-archive/audits/DOC-ISSUES-VERIFIED.md
  docs-archive/audits/TEST-SPLIT-TRACKING.md
  docs-archive/audits/advanced-codex-audit.md
  docs/stdlib/AUDIT_REPORT.md
  docs/stdlib/README.md
  docs/stdlib/async.md
  docs/stdlib/index.md
  docs/stdlib/test.md
Due: none

docs: fix stale references in root markdown files
  CONTRIBUTING.md
  README.md
  crates/atlas-runtime/tests/modules/mod.rs
Due: none

feat: module resolution + complete language documentation
  crates/atlas-runtime/src/resolver/mod.rs
  crates/atlas-runtime/tests/modules.rs
  crates/atlas-runtime/tests/modules/mod.rs
  crates/atlas-runtime/tests/modules_cases/binding.rs
  crates/atlas-runtime/tests/modules_cases/execution_interpreter_advanced_a.rs
  crates/atlas-runtime/tests/modules_cases/execution_interpreter_advanced_b.rs
  crates/atlas-runtime/tests/modules_cases/execution_interpreter_basic.rs
  crates/atlas-runtime/tests/modules_cases/execution_vm.rs
  crates/atlas-runtime/tests/modules_cases/mod.rs
  crates/atlas-runtime/tests/modules_cases/parity.rs
  crates/atlas-runtime/tests/modules_cases/resolver.rs
  docs/language/control-flow.md
  docs/language/functions.md
  docs/language/grammar.md
  docs/language/structs-enums.md
  docs/language/types.md
  docs/tooling/cli.md
Due: atlas-runtime

docs: fix API signatures and naming from Gemini audit
  CLAUDE.md
  README.md
  docs/language/grammar.md
  docs/language/types.md
  docs/stdlib/AUDIT_REPORT.md
  docs/stdlib/array.md
  docs/stdlib/async.md
  docs/stdlib/collections.md
  docs/stdlib/compression.md
  docs/stdlib/datetime.md
  docs/stdlib/encoding.md
  docs/stdlib/file.md
  docs/stdlib/http.md
  docs/stdlib/index.md
  docs/stdlib/json.md
  docs/stdlib/process.md
  docs/stdlib/regex.md
  docs/stdlib/string.md
  docs/stdlib/test.md
Due: none

docs: complete coverage for stdlib, language features, and CLI
  docs/language/grammar.md
  docs/stdlib/README.md
  docs/stdlib/array.md
  docs/stdlib/collections.md
  docs/stdlib/index.md
  docs/stdlib/net.md
  docs/stdlib/reflect.md
  docs/stdlib/regex.md
  docs/stdlib/sync.md
  docs/stdlib/types.md
  docs/stdlib/websocket.md
  docs/tooling/cli.md
Due: none

docs: remove ++/-- operators (removed in H-034)
  docs/language/grammar.md
Due: none

docs: add systems-level context for AI continuity
  CLAUDE.md
  docs/SYSTEMS_LEVEL_STATUS.md
Due: none

docs: add AST implementation status audit
  docs/AST_STATUS.md
Due: none

docs: add "See Something, File Something" protocol
  CLAUDE.md
Due: none

docs: add audit protocol and file H-070 (traits)
  docs/audits/INDEX.md
  docs/audits/PROTOCOL.md
  docs/known-issues.md
Due: none

feat(tracking): add issue creation command
  tracking/README.md
  tracking/atlas-track
  tracking/lib/issues.sh
Due: none

feat(tracking): add 7 power features for AI workflow
  tracking/README.md
  tracking/atlas-track
  tracking/lib/issues.sh
Due: none

docs: sync known-issues.md with atlas-track
  docs/known-issues.md
Due: none

fix(cli): support .atl extension (H-067)
  crates/atlas-cli/src/commands/fmt.rs
  crates/atlas-cli/src/commands/watch.rs
Due: atlas-cli

feat(runtime): auto-call fn main() entry point (H-068)
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
Due: atlas-runtime

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
