Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

codecov.yml:

# Codecov configuration for Atlas
# https://docs.codecov.com/docs/codecovyml-reference
#
# Atlas is a public repo — free tier gives unlimited uploads, PR comments,
# patch coverage, and status checks. All thresholds enforced here.
#
# Per-crate floors (realistic for a compiler):
#   atlas-runtime  70% — core logic, all paths must be tested
#   atlas-cli      50% — integration-heavy, CLI edge cases vary
#   atlas-formatter 60% — pure transformation logic
#   atlas-lsp      40% — LSP protocol is hard to unit test
#   atlas-jit      25% — codegen paths aren't meaningfully unit-testable
#   atlas-config   60% — simple, should be well covered
#   atlas-build    40% — build tooling
#   atlas-package  40% — package management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Project-level: fail if total coverage drops more than 2%
    project:
      default:
        target: auto
        threshold: 2%
        if_not_found: success
        if_ci_failed: error

    # Patch-level: new code in a PR must be ≥80% covered
    patch:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: true   # Only comment if coverage changes
  require_base: true
  require_head: true

# Per-crate flags — each crate is measured independently
# This lets us enforce different thresholds per crate
flag_management:
  default_rules:
    carryforward: true

flags:
  atlas-runtime:
    paths:
      - crates/atlas-runtime/
    carryforward: true

  atlas-cli:
    paths:
      - crates/atlas-cli/
    carryforward: true

  atlas-formatter:
    paths:
      - crates/atlas-formatter/
    carryforward: true

  atlas-lsp:
    paths:
      - crates/atlas-lsp/
    carryforward: true

  atlas-jit:
    paths:
      - crates/atlas-jit/
    carryforward: true

  atlas-config:
    paths:
      - crates/atlas-config/
    carryforward: true

  atlas-build:
    paths:
      - crates/atlas-build/
    carryforward: true

  atlas-package:
    paths:
      - crates/atlas-package/
    carryforward: true

ignore:
  - "target/**"
  - "phases/**"
  - "docs/**"
  - "**/tests/**"
  - "**/benches/**"
  - "**/fuzz/**"

docs: fix 4 critical AI generation traps in docs (H-150, H-151, H-152, H-153)
  docs/audit/ai-readiness-assessment.md
  docs/language/async.md
  docs/language/control-flow.md
  docs/language/types.md
  docs/stdlib/METHOD-CONVENTIONS.md
Due: none

chore(battle-test): add hydra-v6 battle test (Sonnet/Haiku audit)
  battle-test/hydra-v6/ATLAS_AUDIT_FINDINGS.md
  battle-test/hydra-v6/AUDIT_COMPLETE.md
  battle-test/hydra-v6/AUDIT_HANDOFF.md
  battle-test/hydra-v6/COMPREHENSIVE_FINAL_AUDIT.md
  battle-test/hydra-v6/DEVELOPER_GUIDE.md
  battle-test/hydra-v6/FINAL-AUDIT-REPORT.md
  battle-test/hydra-v6/IMPLEMENTATION_PLAN.md
  battle-test/hydra-v6/IMPLEMENTATION_ROADMAP.md
  battle-test/hydra-v6/PORT_PLAN.md
  battle-test/hydra-v6/QUICK_REFERENCE.md
  battle-test/hydra-v6/README_AUDIT.md
  battle-test/hydra-v6/audit/COMPLETE_VERIFIED_FINDINGS.md
  battle-test/hydra-v6/src/01_transport.atlas
  battle-test/hydra-v6/src/02_logger.atlas
  battle-test/hydra-v6/src/03_sanitizer.atlas
  battle-test/hydra-v6/src/04_config.atlas
  battle-test/hydra-v6/src/05_metrics.atlas
  battle-test/hydra-v6/src/06_supervisor.atlas
  battle-test/hydra-v6/test_api.atlas
Due: none

docs(workflow): bake new pt block/phase commands into all workflow files
  .claude/lazy/pt-workflow.md
  .claude/lazy/tracking-db.md
  .claude/skills/atlas-blocks/skill.md
  CLAUDE.md
Due: none

docs(atlas-blocks): update scaffold protocol to use structured phase fields
  .claude/skills/atlas-blocks/skill.md
Due: none

refactor(token): rename shared → share token and AST variant (B11-P01)
  crates/atlas-lsp/src/completion.rs
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/reflect/mod.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/frontend_integration/ownership.rs
  tracking/ci-runner.sh
Due: atlas-runtime, atlas-lsp

feat(parser): make ownership annotations mandatory on fn/closure params (B11-P02)
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
Due: atlas-runtime

chore(corpus): migrate test corpus to mandatory ownership annotations (B11-P03)
  crates/atlas-runtime/tests/corpus/fail/type_errors/wrong_arg_type.atlas
  crates/atlas-runtime/tests/corpus/pass/arithmetic/factorial.atlas
  crates/atlas-runtime/tests/corpus/pass/arithmetic/fibonacci.atlas
  crates/atlas-runtime/tests/corpus/pass/functions/basic_functions.atlas
  crates/atlas-runtime/tests/corpus/pass/functions/conditionals.atlas
  crates/atlas-runtime/tests/corpus/pass/functions/default_return.atlas
  crates/atlas-runtime/tests/corpus/pass/functions/mutual_recursion.atlas
  crates/atlas-runtime/tests/corpus/pass/functions/recursion.atlas
  crates/atlas-runtime/tests/corpus/pass/modules/basic_import/math.atl
  crates/atlas-runtime/tests/corpus/pass/modules/multi_import/utils.atl
  crates/atlas-runtime/tests/corpus/pass/modules/namespace_import/utils.atl
  crates/atlas-runtime/tests/corpus/pass/optional_return_type.atlas
  crates/atlas-runtime/tests/corpus/pass/types/generic_functions.atlas
  crates/atlas-runtime/tests/corpus/warn/multiple_warnings.atlas
  crates/atlas-runtime/tests/corpus/warn/unreachable_code.atlas
  crates/atlas-runtime/tests/corpus/warn/unused_parameter.atlas
Due: none

chore(battle-test): annotate hydra-opus params with ownership (B11-P04)
  battle-test/hydra-opus/hydra.atlas
  battle-test/hydra-opus/src/adaptive.atlas
  battle-test/hydra-opus/src/injectable.atlas
  battle-test/hydra-opus/src/metrics.atlas
  battle-test/hydra-opus/src/proxy.atlas
  battle-test/hydra-opus/src/sanitizer.atlas
  battle-test/hydra-opus/src/security.atlas
  battle-test/hydra-opus/src/statestore.atlas
  battle-test/hydra-opus/src/supervisor.atlas
  battle-test/hydra-opus/src/transport.atlas
  battle-test/hydra-opus/src/watcher.atlas
Due: none

feat(typechecker): enforce own contract — AT3053 use-after-own (B11-P05)
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem.rs
  crates/atlas-runtime/tests/typesystem/ownership_own.rs
Due: atlas-runtime

feat(typechecker): enforce borrow contract — AT3054 borrow escape (B11-P06)
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem.rs
  crates/atlas-runtime/tests/typesystem/ownership_borrow.rs
Due: atlas-runtime

feat(typechecker): enforce share contract — AT3055 share violation (B11-P07)
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem.rs
  crates/atlas-runtime/tests/typesystem/ownership_share.rs
Due: atlas-runtime

chore: clear doc-patch-pending after P05-P07 drift check
  .doc-patch-pending.json
Due: none

chore(workflow): add pt note command + bake into mandatory gates
  .claude/lazy/pt-workflow.md
  .claude/lazy/tracking-db.md
  CLAUDE.md
Due: none

chore(infra): post-commit auto-tracks commits in session + workflow cleanup
  .claude/lazy/pt-workflow.md
Due: none

chore(infra): add session commit auto-tracker to post-commit hook
  .githooks/post-commit
Due: none

feat(typechecker): register stdlib ownership annotations for all builtin fns (B11-P08)
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/typechecker/stdlib_ownership.rs
Due: atlas-runtime

docs(language): add ownership.md, fix functions.md mandatory annotation + share keyword (B11-P10)
  docs/language/functions.md
  docs/language/ownership.md
Due: none

fix(tests): migrate all test code to mandatory ownership annotations (B11-P11)
  crates/atlas-runtime/tests/battle_audit.rs
  crates/atlas-runtime/tests/closures.rs
  crates/atlas-runtime/tests/frontend_integration/ownership.rs
  crates/atlas-runtime/tests/frontend_integration/traits.rs
  crates/atlas-runtime/tests/frontend_syntax/for_in_traits_part1.rs
  crates/atlas-runtime/tests/frontend_syntax/traits_part2.rs
  crates/atlas-runtime/tests/interpreter/integration/ownership_fundamentals.rs
  crates/atlas-runtime/tests/interpreter/integration/ownership_parity.rs
  crates/atlas-runtime/tests/interpreter/integration/ownership_traits.rs
  crates/atlas-runtime/tests/typesystem/integration/error_codes.rs
  crates/atlas-runtime/tests/typesystem/integration/ownership_part1.rs
  crates/atlas-runtime/tests/typesystem/integration/ownership_part2.rs
  crates/atlas-runtime/tests/typesystem/integration/ownership_part3.rs
  crates/atlas-runtime/tests/vm/for_in.rs
Due: none

chore(scaffold): B12 AI-First Error Messages — system-wide self-correcting diagnostics
  docs/b12-scaffold.md
Due: none

docs(b12): P01 complete — error audit, 40 sites scored, priority list
  docs/b12-error-audit.md
Due: none

feat(parser): B12-P02 — cross-language pattern recognizer + specific assignment errors
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/parser/stmt.rs
Due: atlas-runtime

feat(binder): B12-P03 — wire edit-distance engine into unknown-identifier path
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/symbol.rs
Due: atlas-runtime

feat(typechecker): B12-P04 — struct field not-found lists available fields + arithmetic op suggestions
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(stdlib): B12-P05 — function signatures in all stdlib arity/type errors
  crates/atlas-runtime/src/stdlib/mod.rs
Due: atlas-runtime

feat(typechecker): B12-P06 — ownership error edge cases upgraded to score-5
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

feat(runtime): B12-P07 — runtime error messages upgraded, InvalidStdlibArgument bug fixed
  crates/atlas-runtime/src/runtime.rs
Due: atlas-runtime

feat(repl): B12-P08 — REPL runtime error formatting fixed + context-aware hints
  crates/atlas-runtime/src/repl.rs
Due: atlas-runtime

test(b12): B12-P09 — AI mistake battle test suite (37 tests, both engines)
  crates/atlas-runtime/src/lib.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/tests/ai_error_messages.rs
Due: atlas-runtime

docs(b12): B12-P10 — errors.md reference doc + D-020 rule update
  docs/language/errors.md
Due: none

fix(api,docs): H-163 + H-170 — string interpolation docs corrected, EvalError Display fixed
  crates/atlas-runtime/src/api/runtime.rs
  docs/language/grammar.md
Due: atlas-runtime

docs: audit drift fixes after B12 — error codes, return type inference, pipeline operator removal
  crates/atlas-runtime/src/CLAUDE.md
  docs/language/errors.md
  docs/language/functions.md
  docs/stdlib/async.md
  docs/stdlib/http.md
Due: atlas-runtime

chore: remove doc-patch-pending (audit complete)
  .doc-patch-pending.json
Due: none

fix(ci): remove sccache from .cargo/config.toml — CI runners don't have it
  .cargo/config.toml
Due: none

fix(typechecker): H-164 — unwrap() now infers inner type T from Option<T>/Result<T,E>
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/inference/advanced_part2.rs
Due: atlas-runtime

fix(typechecker): H-162 — empty array [] accepted in typed struct fields
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/inference/integration.rs
Due: atlas-runtime

refactor(ast): H-171 — remove dead C-style for loop code (D-007)
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/call_hierarchy.rs
  crates/atlas-lsp/src/folding.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/inlay_hints.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-lsp/src/refactor/inline.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-lsp/src/refactor/rename.rs
  crates/atlas-lsp/src/references.rs
  crates/atlas-lsp/src/symbols.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/src/typechecker/inference.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

fix(typechecker): H-155 — remove extends keyword, enforce T: Trait only (D-039)
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/src/typechecker/constraints.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/generics.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/typechecker/unification.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/tests/collections.rs
  crates/atlas-runtime/tests/frontend_syntax/traits_part2.rs
  crates/atlas-runtime/tests/typesystem/constraints/constraint_tests.rs
  crates/atlas-runtime/tests/vm/functions.rs
  docs/language/traits.md
  docs/language/types.md
Due: atlas-runtime, atlas-lsp

chore: update workflow docs, accept snapshots, add ci-runner.sh symlink
  .claude/lazy/pt-workflow.md
  .claude/lazy/tracking-db.md
  .claude/skills/atlas/gates/gate-6-status.md
  .claude/skills/atlas/skill.md
  CLAUDE.md
  ci-runner.sh
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_array_literal.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_binary_expression.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_boolean_literal.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_if_statement.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_simple_literal.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_string_literal.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_variable_declaration.snap
  crates/atlas-cli/tests/snapshots/ast_dump_tests__ast_dump_while_loop.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__lexer__lexer_error_unexpected_char.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_no_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_deeply_nested_functions.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_if_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_while_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_no_params.snap
  tracking/README.md
Due: none
