Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

fix(interpreter,vm): H-173 — namespace import callable field dispatch
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/tests/modules_cases/parity.rs
Due: atlas-runtime

feat(typechecker): AT3060 — unknown type name with AI-friendly suggestions
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/error_codes.rs
Due: atlas-runtime

feat(parser,typechecker): D-040 — borrow is implicit default, own/share explicit only
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/ai_error_messages.rs
Due: atlas-runtime

docs: update functions.md and grammar.md for D-040 (borrow implicit default)
  docs/language/functions.md
  docs/language/grammar.md
Due: none

fix(ci): bash 3.x compat — replace `\^\^` with tr for uppercase
  tracking/ci-runner.sh
Due: none

fix(typechecker): H-174 — deduplicate diagnostics by (code, file, line, col)
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

fix(typechecker): H-177 — assignment rebinds moved variable (x = f(own x))
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/ownership_own.rs
Due: atlas-runtime

fix(interpreter): H-178 — return inside match arm (tail expr) discarded value
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/tests/interpreter/integration/arrays.rs
Due: atlas-runtime

chore(git): enforce branch-per-feature policy — hook + doc rewrite
  .claude/lazy/git.md
  .claude/skills/atlas-blocks/skill.md
  CLAUDE.md
Due: none

chore(rules): D-043 error quality contract — atlas-diagnostics.md rule file
  .claude/rules/atlas-diagnostics.md
  CLAUDE.md
Due: none

chore(rules): snapshot protocol — ban bulk accepts, require diff review
  .claude/rules/atlas-testing.md
Due: none

chore(docs): doc audit S-141 — 3 drift fixes
  .claude/agents/atlas-doc-auditor.md
Due: none

feat(stdlib): Io.readLine() and Io.readLinePrompt() — H-179
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/io.rs
  crates/atlas-runtime/src/stdlib/mod.rs
Due: atlas-runtime

fix(typechecker): Io namespace return types + File.read() as Result<string,string>
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

chore(protocol): full-stack completeness + expanded parity contracts
  .claude/agents/atlas-doc-auditor.md
  .claude/rules/atlas-fullstack.md
  .claude/rules/atlas-parity.md
  CLAUDE.md
Due: none

fix(typechecker): return in match arm typed as Never — H-184
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/inference.rs
  crates/atlas-runtime/tests/typesystem/flow/return_analysis_part2.rs
Due: atlas-runtime

fix(stdlib): File operations return Result<T,string> — H-182
  crates/atlas-runtime/src/stdlib/io.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/interpreter/integration/static_namespaces.rs
Due: atlas-runtime

fix(typechecker): jsonGet* functions typed in symbol table — H-183
  crates/atlas-runtime/src/symbol.rs
Due: atlas-runtime

fix(typechecker): AT3061 diagnostic for Unknown namespace methods — H-189
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

chore(docs): fix doc auditor — full memory file coverage + pt cross-check
  .claude/agents/atlas-doc-auditor.md
  .doc-patch-pending.json
Due: none

fix(parser): AT1020 for missing semicolon, not AT1002 — H-186
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors.rs
Due: atlas-runtime

fix(modules): export struct and export enum fully supported — H-181, H-185
  .doc-patch-pending.json
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/symbols.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/module_executor.rs
  crates/atlas-runtime/src/module_loader.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/modules_cases/binding.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

fix(parser,typechecker): match ergonomics — H-187, H-188
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_control_flow.rs
  crates/atlas-runtime/tests/typesystem/integration/error_codes.rs
Due: atlas-runtime

docs(control-flow,grammar): patch match statement docs — H-187, H-188
  .doc-patch-pending.json
  docs/language/control-flow.md
  docs/language/grammar.md
Due: none

feat(ast): B13-P01 — ImplBlock.trait_name: Option<Identifier>, is_inherent(), mangle_method_name()
  crates/atlas-lsp/src/hover.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_syntax/for_in_traits_part1.rs
  crates/atlas-runtime/tests/frontend_syntax/traits_part2.rs
Due: atlas-runtime, atlas-lsp

feat(parser): B13-P02 — parse inherent impl blocks (impl TypeName {})
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/frontend_syntax/traits_part2.rs
Due: atlas-runtime

feat(typechecker): B13-P03 — inherent impl registration, D-038 self check, inherent-first dispatch
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(interpreter): B13-P04 — inherent dispatch via empty trait_name sentinel
  crates/atlas-runtime/src/interpreter/expr.rs
Due: atlas-runtime

feat(compiler): B13-P05 — inherent dispatch uses __impl__TypeName__MethodName mangling
  crates/atlas-runtime/src/compiler/expr.rs
Due: atlas-runtime

feat(diagnostics): B13-P06 — AT3056/57/58/AW3059 inherent impl error codes, wired in typechecker
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

test(corpus,integration): B13-P07 — inherent impl corpus + integration tests (8 new tests)
  crates/atlas-runtime/tests/corpus/pass/traits/inherent_impl_basic.atlas
  crates/atlas-runtime/tests/corpus/pass/traits/inherent_impl_basic.stdout
  crates/atlas-runtime/tests/frontend_integration/traits.rs
Due: none

docs(language): B13-P09 — inherent impl grammar, traits.md rewrite, AT3056-AW3059 in errors.md
  docs/language/errors.md
  docs/language/grammar.md
  docs/language/traits.md
Due: none

feat(parser): B14-P01 — cascade suppression via in_panic_mode (D-043)
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors_part2.rs
Due: atlas-runtime

feat(parser): B14-P02 — Expected X found `Y` universal format (D-043)
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/frontend_integration/ownership.rs
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_complex_body.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_multiple_nested_functions_same_scope.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_for_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_function.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_with_type_params.snap
Due: atlas-runtime

feat(parser): B14-P03 — context-aware help text, kill static registry lookup (D-043)
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors_part2.rs
Due: atlas-runtime

feat(diagnostic): B14-P04 — is_secondary field + as_secondary() builder (D-043)
  crates/atlas-runtime/src/diagnostic.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_errors_part2.rs
Due: atlas-runtime

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
