Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

codecov.yml:

# Codecov configuration for Atlas
# https://docs.codecov.com/docs/codecovyml-reference
#
# Atlas is a public repo — free tier gives unlimited uploads, PR comments,
# patch coverage, and status checks. All thresholds enforced here.
#
# Per-crate floors (realistic for a compiler):
#   atlas-runtime  70% — core logic, all paths must be tested
#   atlas-cli      50% — integration-heavy, CLI edge cases vary
#   atlas-formatter 60% — pure transformation logic
#   atlas-lsp      40% — LSP protocol is hard to unit test
#   atlas-jit      25% — codegen paths aren't meaningfully unit-testable
#   atlas-config   60% — simple, should be well covered
#   atlas-build    40% — build tooling
#   atlas-package  40% — package management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Project-level: fail if total coverage drops more than 2%
    project:
      default:
        target: auto
        threshold: 2%
        if_not_found: success
        if_ci_failed: error

    # Patch-level: new code in a PR must be ≥80% covered
    patch:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: true   # Only comment if coverage changes
  require_base: true
  require_head: true

# Per-crate flags — each crate is measured independently
# This lets us enforce different thresholds per crate
flag_management:
  default_rules:
    carryforward: true

flags:
  atlas-runtime:
    paths:
      - crates/atlas-runtime/
    carryforward: true

  atlas-cli:
    paths:
      - crates/atlas-cli/
    carryforward: true

  atlas-formatter:
    paths:
      - crates/atlas-formatter/
    carryforward: true

  atlas-lsp:
    paths:
      - crates/atlas-lsp/
    carryforward: true

  atlas-jit:
    paths:
      - crates/atlas-jit/
    carryforward: true

  atlas-config:
    paths:
      - crates/atlas-config/
    carryforward: true

  atlas-build:
    paths:
      - crates/atlas-build/
    carryforward: true

  atlas-package:
    paths:
      - crates/atlas-package/
    carryforward: true

ignore:
  - "target/**"
  - "phases/**"
  - "docs/**"
  - "**/tests/**"
  - "**/benches/**"
  - "**/fuzz/**"

fix(compiler): compile tail_expr in while/for-in/if bodies (H-303)
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/tests/vm/regression_loops.rs
Due: atlas-runtime

docs: update build rule — direct PATH, no symlinks
  CLAUDE.md
Due: none

feat(cli): support program args in atlas run
  crates/atlas-cli/src/main.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/process.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime, atlas-cli

fix(runtime): use marker env var for atlas run detection
  crates/atlas-cli/src/main.rs
  crates/atlas-runtime/src/stdlib/process.rs
Due: atlas-runtime, atlas-cli

fix(compiler): pop locals in if-blocks and for-in bodies (H-304)
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/tests/regression/part2.rs
Due: atlas-runtime

fix(binder): allow user variables to shadow deprecated bare globals (H-305)
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/tests/regression/part2.rs
Due: atlas-runtime

fix(ownership): bare `self` defaults to borrow (D-038 update)
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

chore: clear doc-patch-pending (D-038 fix had no doc impact)
  .doc-patch-pending.json
Due: none

fix(typechecker): ownership error message placeholders + test syntax updates (B37-P01)
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/ownership_part1.rs
  crates/atlas-runtime/tests/typesystem/integration/ownership_part2.rs
  crates/atlas-runtime/tests/typesystem/integration/ownership_part3.rs
  crates/atlas-runtime/tests/typesystem/ownership_borrow.rs
  crates/atlas-runtime/tests/typesystem/ownership_own.rs
Due: atlas-runtime

feat(parser): add visibility keywords pub/private/internal (B37-P03)
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/token.rs
Due: atlas-runtime, atlas-lsp

chore: clear doc-patch-pending (B37-P01/P03 - docs handled in P07)
  .doc-patch-pending.json
Due: none

feat(typechecker): add visibility field to Symbol + AT3059 error code (B37-P04)
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
  crates/atlas-runtime/tests/frontend_syntax.rs
  crates/atlas-runtime/tests/frontend_syntax/visibility.rs
Due: atlas-runtime

chore: clear doc-patch-pending (B37-P04 - docs deferred to P07)
  .doc-patch-pending.json
Due: none

feat(compiler): add Drop trait foundation for deterministic cleanup (B37-P02)
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_integration.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_2.rs
  crates/atlas-runtime/tests/frontend_integration/drop_trait.rs
Due: atlas-runtime

chore: clear doc-patch-pending (B37-P02 - docs deferred to P07)
  .doc-patch-pending.json
Due: none

docs(language): add ownership, visibility, and error handling documentation (B37-P07)
  docs/language/errors.md
  docs/language/ownership.md
  docs/language/syntax-quickref.md
  docs/language/visibility.md
Due: none

fix(typechecker): resolve trait methods on bounded type parameters (H-312, B38-P01)
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

test(typesystem): add 21 generic trait bounds tests (B38-P02)
  crates/atlas-runtime/tests/typesystem/generics/bounds.rs
  crates/atlas-runtime/tests/typesystem/generics/mod.rs
Due: none

feat(binder): enforce cross-file visibility on imports (H-313, B38-P03)
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/symbol.rs
Due: atlas-runtime

test(typesystem): add 11 cross-file visibility tests (B38-P04)
  crates/atlas-runtime/tests/typesystem/integration/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/visibility_crossfile.rs
Due: none

docs(language): add generics.md and update visibility/quickref (B38-P06)
  docs/language/generics.md
  docs/language/syntax-quickref.md
  docs/language/visibility.md
Due: none

refactor(workflow): consolidate AI workflow files for token efficiency
  .claude/skills/atlas/skill.md
  CLAUDE.md
Due: none

feat(parser,typechecker,compiler): add static method support (B39-P02)
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime, atlas-lsp

feat(parser,typechecker,compiler): add const keyword support (B39-P04)
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/folding.rs
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-lsp/src/symbols.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/module_loader.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/src/typecheck_dump.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_integration.rs
  crates/atlas-runtime/tests/frontend_integration/const_decl.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

docs(language): add const keyword to syntax quickref (B39-P04)
  docs/language/syntax-quickref.md
Due: none

feat(parser,typechecker,compiler,vm): add default parameter support (B39-P05)
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/frontend_integration.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
  crates/atlas-runtime/tests/frontend_integration/default_params.rs
Due: atlas-runtime

fix(tests): add missing FunctionRef fields in test constructors (B39-P05)
  crates/atlas-runtime/tests/bytecode/profiler.rs
  crates/atlas-runtime/tests/collections.rs
  crates/atlas-runtime/tests/vm/opcodes.rs
Due: none

test(default_params): add cross-feature integration tests (B39-P06)
  crates/atlas-runtime/tests/frontend_integration/default_params.rs
Due: none

docs(language): add default params and const to syntax quickref (B39-P06)
  docs/language/syntax-quickref.md
Due: none

fix(test-framework): resolve imports in test files (H-330)
  .doc-patch-pending.json
  crates/atlas-cli/src/testing/runner.rs
  crates/atlas-runtime/src/api/runtime.rs
Due: atlas-runtime, atlas-cli

docs(skills): update atlas-blocks to use batch phase-update syntax
  .claude/skills/atlas-blocks/skill.md
Due: none

feat(stdlib): add file.rename and file.copy operations (H-282, H-283)
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/io.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

feat(stdlib): add path.parent (Option) and path.resolve (H-284, H-285)
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/path.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

feat(stdlib): add reflect namespace with type introspection (H-287)
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/reflect.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

feat(stdlib): add typed JSON deserialization Json.parse<T>() (H-293)
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

feat(stdlib): add sqlite namespace with database bindings (H-286)
  crates/atlas-runtime/Cargo.toml
  crates/atlas-runtime/src/api/conversion.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/reflect/mod.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/sqlite.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/value.rs
Due: atlas-runtime

test(stdlib): add B40 tests and expand reflect namespace (B40-P06)
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_2.rs
  crates/atlas-runtime/tests/stdlib.rs
  crates/atlas-runtime/tests/stdlib/b40_file_ops.rs
  crates/atlas-runtime/tests/stdlib/b40_json_typed.rs
  crates/atlas-runtime/tests/stdlib/b40_path_ops.rs
  crates/atlas-runtime/tests/stdlib/b40_reflect.rs
  crates/atlas-runtime/tests/stdlib/b40_sqlite.rs
Due: atlas-runtime

feat(stdlib): add async file namespace methods (B40-P07)
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/async_io.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/stdlib/b40_file_ops.rs
Due: atlas-runtime

docs(stdlib): update index for B40 namespaces
  .doc-patch-pending.json
  docs/stdlib/index.md
Due: none

feat(runtime): implement defer statement (B41-P01)
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/opcode.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/parser/stmt.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp
