Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

codecov.yml:

# Codecov configuration for Atlas
# https://docs.codecov.com/docs/codecovyml-reference
#
# Atlas is a public repo — free tier gives unlimited uploads, PR comments,
# patch coverage, and status checks. All thresholds enforced here.
#
# Per-crate floors (realistic for a compiler):
#   atlas-runtime  70% — core logic, all paths must be tested
#   atlas-cli      50% — integration-heavy, CLI edge cases vary
#   atlas-formatter 60% — pure transformation logic
#   atlas-lsp      40% — LSP protocol is hard to unit test
#   atlas-jit      25% — codegen paths aren't meaningfully unit-testable
#   atlas-config   60% — simple, should be well covered
#   atlas-build    40% — build tooling
#   atlas-package  40% — package management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Project-level: fail if total coverage drops more than 2%
    project:
      default:
        target: auto
        threshold: 2%
        if_not_found: success
        if_ci_failed: error

    # Patch-level: new code in a PR must be ≥80% covered
    patch:
      default:
        target: 80%
        threshold: 5%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: true   # Only comment if coverage changes
  require_base: true
  require_head: true

# Per-crate flags — each crate is measured independently
# This lets us enforce different thresholds per crate
flag_management:
  default_rules:
    carryforward: true

flags:
  atlas-runtime:
    paths:
      - crates/atlas-runtime/
    carryforward: true

  atlas-cli:
    paths:
      - crates/atlas-cli/
    carryforward: true

  atlas-formatter:
    paths:
      - crates/atlas-formatter/
    carryforward: true

  atlas-lsp:
    paths:
      - crates/atlas-lsp/
    carryforward: true

  atlas-jit:
    paths:
      - crates/atlas-jit/
    carryforward: true

  atlas-config:
    paths:
      - crates/atlas-config/
    carryforward: true

  atlas-build:
    paths:
      - crates/atlas-build/
    carryforward: true

  atlas-package:
    paths:
      - crates/atlas-package/
    carryforward: true

ignore:
  - "target/**"
  - "phases/**"
  - "docs/**"
  - "**/tests/**"
  - "**/benches/**"
  - "**/fuzz/**"

refactor: purge ALL bare globals — Atlas uses namespaces and instance methods only
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/src/typechecker/methods.rs
Due: atlas-runtime

fix(typechecker): array indexOf/lastIndexOf/findIndex return Option<number>
  .doc-patch-pending.json
  crates/atlas-cli/tests/snapshots/typecheck_dump_tests__typecheck_dump_array_type.snap
  crates/atlas-cli/tests/snapshots/typecheck_dump_tests__typecheck_dump_multiple_variables.snap
  crates/atlas-cli/tests/snapshots/typecheck_dump_tests__typecheck_dump_mutable_variable.snap
  crates/atlas-cli/tests/snapshots/typecheck_dump_tests__typecheck_dump_simple_variable.snap
  crates/atlas-runtime/src/typechecker/methods.rs
Due: atlas-runtime

fix(binder): restore fundamental stdlib bare globals after overzealous purge (H-276)
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/system/process.rs
Due: atlas-runtime

chore: clear doc-patch-pending (H-276 restored existing behavior)
  .doc-patch-pending.json
Due: none

fix: remove non-existent print/println from bare globals (use console.log instead)
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

fix(typechecker): string equality no longer narrows type to never (H-277)
  crates/atlas-runtime/src/typechecker/narrowing.rs
Due: atlas-runtime

fix(typechecker): recognize process.exit() as terminating statement (H-278)
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/typechecker/mod.rs
Due: atlas-runtime

feat(stdlib): add process.platform(), process.arch(), path.extname() (H-275)
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/process.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

fix(atlas-build): resolve relative imports from importing module's directory (H-279)
  crates/atlas-build/src/builder.rs
Due: atlas-build

fix(atlas-build): respect [entry] section in atlas.toml (H-280)
  crates/atlas-build/src/builder.rs
  crates/atlas-config/src/manifest.rs
  crates/atlas-package/src/manifest.rs
Due: atlas-config, atlas-build, atlas-package

chore: bump version to 0.3.0
  Cargo.toml
Due: none

fix(optimizer): complete operand_size for bytecode decoding (H-288)
  crates/atlas-runtime/src/bytecode/mod.rs
  crates/atlas-runtime/src/optimizer/mod.rs
  crates/atlas-runtime/tests/bytecode_roundtrip.rs
Due: atlas-runtime

test(vm): add comprehensive H-289 regression tests
  crates/atlas-runtime/tests/bytecode_roundtrip.rs
Due: none

refactor(runtime): Atlas struct now uses Compiler+VM path (B36-P02)
  crates/atlas-runtime/src/runtime.rs
Due: atlas-runtime

feat(runtime): P03 - Runtime always uses VM (D-052)
  crates/atlas-cli/src/testing/runner.rs
  crates/atlas-runtime/examples/01_hello_world.rs
  crates/atlas-runtime/examples/02_custom_functions.rs
  crates/atlas-runtime/examples/03_value_conversion.rs
  crates/atlas-runtime/examples/04_persistent_state.rs
  crates/atlas-runtime/examples/05_error_handling.rs
  crates/atlas-runtime/examples/06_sandboxing.rs
  crates/atlas-runtime/src/api/mod.rs
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/tests/ai_error_messages.rs
  crates/atlas-runtime/tests/api/core_part1.rs
  crates/atlas-runtime/tests/api/core_part2.rs
  crates/atlas-runtime/tests/api/native_part1.rs
  crates/atlas-runtime/tests/api/native_part2.rs
  crates/atlas-runtime/tests/api/runtime_api.rs
  crates/atlas-runtime/tests/api/sandboxing.rs
  crates/atlas-runtime/tests/api/sandboxing_loops.rs
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/async_parity.rs
  crates/atlas-runtime/tests/async_runtime/interpreter.rs
  crates/atlas-runtime/tests/async_runtime/stdlib_wiring.rs
  crates/atlas-runtime/tests/async_runtime/value_future.rs
  crates/atlas-runtime/tests/battle_audit.rs
  crates/atlas-runtime/tests/bytecode_roundtrip.rs
  crates/atlas-runtime/tests/modules_cases/mod.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/system/namespace_sweep.rs
  crates/atlas-runtime/tests/vm/async_vm.rs
Due: atlas-runtime, atlas-cli

feat(runtime): P04 - Atlas struct uses VM for module execution (D-052)
  crates/atlas-runtime/src/runtime.rs
Due: atlas-runtime

feat(repl): P05 - REPL uses VM for execution (D-052)
  crates/atlas-runtime/src/repl.rs
Due: atlas-runtime

feat(debugger): P06 - Debugger uses VM for expression eval (D-052)
  crates/atlas-runtime/src/debugger/inspection.rs
  crates/atlas-runtime/src/debugger/mod.rs
Due: atlas-runtime

feat(B36-P08): delete interpreter benchmarks (D-052)
  crates/atlas-runtime/Cargo.toml
  crates/atlas-runtime/benches/README.md
  crates/atlas-runtime/benches/interpreter.rs
  crates/atlas-runtime/benches/parity.rs
  crates/atlas-runtime/benches/v02_comprehensive_benches.rs
  crates/atlas-runtime/benches/v02_interpreter_benches.rs
Due: atlas-runtime

feat(B36-P10): remove ExecutionMode from API (D-052)
  crates/atlas-runtime/src/api/mod.rs
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/tests/ai_error_messages.rs
  crates/atlas-runtime/tests/api.rs
  crates/atlas-runtime/tests/api/core_part1.rs
  crates/atlas-runtime/tests/api/native_part1.rs
  crates/atlas-runtime/tests/api/native_part2.rs
  crates/atlas-runtime/tests/api/sandboxing.rs
  crates/atlas-runtime/tests/api/sandboxing_loops.rs
  crates/atlas-runtime/tests/async_runtime/async_parity.rs
  crates/atlas-runtime/tests/async_runtime/interpreter.rs
  crates/atlas-runtime/tests/async_runtime/stdlib_wiring.rs
  crates/atlas-runtime/tests/corpus.rs
  crates/atlas-runtime/tests/system.rs
  crates/atlas-runtime/tests/system/namespace_sweep.rs
  crates/atlas-runtime/tests/vm/async_vm.rs
Due: atlas-runtime

fix(runtime): add typechecker to eval_file path (B36 regression)
  crates/atlas-runtime/src/runtime.rs
Due: atlas-runtime

fix(runtime): use bind_with_modules for cross-module import resolution
  crates/atlas-runtime/src/runtime.rs
Due: atlas-runtime

fix(bytecode): accumulate top_level_local_count in append() (H-290)
  crates/atlas-runtime/src/CLAUDE.md
  crates/atlas-runtime/src/bytecode/mod.rs
Due: atlas-runtime

docs: remove stale interpreter references from rules (B36 cleanup)
  .claude/rules/atlas-fullstack.md
  .claude/rules/atlas-interpreter.md
  .claude/rules/atlas-parity.md
  .claude/rules/atlas-testing.md
Due: none

fix(binder): bind tail_expr in block expressions (H-291)
  crates/atlas-runtime/src/binder.rs
Due: atlas-runtime

fix(module_loader): deterministic topological sort order (H-292)
  crates/atlas-runtime/src/module_loader.rs
Due: atlas-runtime

fix(typechecker): add JSON instance methods to method table (H-294)
  crates/atlas-runtime/src/typechecker/methods.rs
Due: atlas-runtime

fix(binder): support bare enum variant constructors (H-295)
  crates/atlas-runtime/src/binder.rs
Due: atlas-runtime

fix(compiler): register imported enum variants for bare constructors (H-296)
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/runtime.rs
Due: atlas-runtime

fix(compiler): enum variant pattern failure path stack corruption (H-297)
  .doc-patch-pending.json
  crates/atlas-runtime/src/compiler/expr.rs
Due: atlas-runtime

chore: update doc-patch-pending for H-296/H-297 fixes
  .doc-patch-pending.json
Due: none

docs: add user-facing documentation for testing, CLI, and stdlib
  docs/README.md
  docs/cli.md
  docs/language/syntax-quickref.md
  docs/stdlib/index.md
  docs/stdlib/test.md
  docs/testing.md
Due: none

fix(stdlib): io.readLine and io.readLinePrompt return Option<string> for EOF (H-298, H-299)
  crates/atlas-runtime/src/stdlib/io.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

docs(stdlib): add io namespace documentation
  docs/stdlib/io.md
Due: none

chore: clear doc-patch-pending (io.md created manually)
  .doc-patch-pending.json
Due: none

fix(typechecker): namespace matching is now case-insensitive
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

fix(runtime): restore two-pass typecheck for multi-module error collection (H-300)
  crates/atlas-runtime/src/runtime.rs
Due: atlas-runtime

fix(compiler): emit Return after tail_expr in fn main() (H-301)
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: atlas-runtime

fix(compiler): pop locals in while loop before looping back (H-302)
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/tests/vm/regression.rs
Due: atlas-runtime
