Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

fix(skills): propagate atlas-track improvements to all skill/gate files
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas/gates/gate-0-deps.md
  .claude/skills/atlas/skill.md
Due: none

docs(rules): update interpreter rule + oracle table for CoW/D-029 (SharedValue removed, HashMap is CoW)
  .claude/rules/atlas-interpreter.md
  .claude/skills/atlas/gates/oracle-testing.md
Due: none

chore(scaffold): Block 8 — Async/Await (15 phases, D-030: multi-thread VM) [skip ci]
  phases/v0.3/block-08-async-await/phase-01-spec-and-diagnostics.md
  phases/v0.3/block-08-async-await/phase-02-keywords.md
  phases/v0.3/block-08-async-await/phase-03-ast-nodes.md
  phases/v0.3/block-08-async-await/phase-04-parser.md
  phases/v0.3/block-08-async-await/phase-05-value-future.md
  phases/v0.3/block-08-async-await/phase-06-bytecode-opcodes.md
  phases/v0.3/block-08-async-await/phase-07-typechecker.md
  phases/v0.3/block-08-async-await/phase-08-compiler.md
  phases/v0.3/block-08-async-await/phase-09-interpreter.md
  phases/v0.3/block-08-async-await/phase-10-vm.md
  phases/v0.3/block-08-async-await/phase-11-stdlib-wiring.md
  phases/v0.3/block-08-async-await/phase-12-parity-sweep.md
  phases/v0.3/block-08-async-await/phase-13-battle-tests.md
  phases/v0.3/block-08-async-await/phase-14-lsp-support.md
  phases/v0.3/block-08-async-await/phase-15-ac-verification.md
Due: none

chore(scaffold): B8 phase docs — strip code blocks, clean linear deps, template-faithful [skip ci]
  phases/v0.3/block-08-async-await/phase-01-spec-and-diagnostics.md
  phases/v0.3/block-08-async-await/phase-02-keywords.md
  phases/v0.3/block-08-async-await/phase-03-ast-nodes.md
  phases/v0.3/block-08-async-await/phase-04-parser.md
  phases/v0.3/block-08-async-await/phase-05-value-future.md
  phases/v0.3/block-08-async-await/phase-06-bytecode-opcodes.md
  phases/v0.3/block-08-async-await/phase-07-typechecker.md
  phases/v0.3/block-08-async-await/phase-08-compiler.md
  phases/v0.3/block-08-async-await/phase-09-interpreter.md
  phases/v0.3/block-08-async-await/phase-10-vm.md
  phases/v0.3/block-08-async-await/phase-11-stdlib-wiring.md
  phases/v0.3/block-08-async-await/phase-12-parity-sweep.md
  phases/v0.3/block-08-async-await/phase-13-battle-tests.md
  phases/v0.3/block-08-async-await/phase-14-lsp-support.md
  phases/v0.3/block-08-async-await/phase-15-ac-verification.md
Due: none

feat(async): Phase 01 — async/await spec and AT4001–AT4010 diagnostics
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  docs/language/async.md
Due: atlas-runtime

feat(async): Phase 02 — async/await keywords in lexer + token
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/tests/frontend_syntax/lexer.rs
Due: atlas-runtime, atlas-lsp

feat(async): Phase 03 — AST nodes for async/await
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/call_hierarchy.rs
  crates/atlas-lsp/src/completion.rs
  crates/atlas-lsp/src/hover.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-lsp/src/symbols.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

feat(async): Phase 04 — parser wires async fn, await, Future<T>
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_5.rs
Due: atlas-runtime

feat(async): Phase 05 — Value::Future type_name, Display, PartialEq, stdlib typeOf
  crates/atlas-runtime/src/api/conversion.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/value_future.rs
Due: atlas-runtime

feat(async): Phase 06 — AsyncCall, Await, WrapFuture, SpawnTask bytecode opcodes
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/mod.rs
  crates/atlas-runtime/src/bytecode/opcode.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/bytecode/mod_tests.rs
Due: atlas-runtime

feat(async): Phase 07 — typechecker async/await type rules
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem.rs
  crates/atlas-runtime/tests/typesystem/async_types.rs
Due: atlas-runtime

feat(async): Phase 08 — compiler emits async bytecode
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/interpreter/debugger.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/interpreter/mod.rs
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/compiler.rs
  crates/atlas-runtime/tests/bytecode/profiler.rs
  crates/atlas-runtime/tests/collections.rs
  crates/atlas-runtime/tests/vm/opcodes.rs
Due: atlas-runtime

feat(async): Phase 09 — interpreter async/await execution
  crates/atlas-runtime/Cargo.toml
  crates/atlas-runtime/src/async_runtime/mod.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/interpreter.rs
Due: atlas-runtime

feat(async): Phase 10 — VM bytecode execution of async opcodes
  crates/atlas-runtime/src/bytecode/mod.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/vm.rs
  crates/atlas-runtime/tests/vm/async_vm.rs
  crates/atlas-runtime/tests/vm/mod.rs
Due: atlas-runtime

feat(async): Phase 11 — stdlib wiring for async builtins
  crates/atlas-runtime/src/symbol.rs
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/stdlib_wiring.rs
Due: atlas-runtime

feat(async): Phase 12 — async parity sweep (25 tests, zero divergences)
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/async_parity.rs
Due: none

feat(tracking): add phase-done + complete-block CLI commands; enforce continuity in skills
  .claude/skills/atlas-blocks/skill.md
  .claude/skills/atlas/skill.md
  tracking/atlas-track
  tracking/lib/queries.sh
Due: none

feat(skills): bake AI continuity rules into all 4 skills
  .claude/skills/atlas-battle/skill.md
  .claude/skills/atlas-bugfix/skill.md
Due: none

feat(skills): add atlas-test skill for testing workflow
  .claude/skills/atlas-test/skill.md
Due: none

fix(tracking): close AI continuity gaps — 6 concrete issues fixed
  .claude/agents/atlas-doc-auditor.md
  tracking/lib/issues.sh
  tracking/lib/queries.sh
  tracking/lib/session.sh
Due: none

feat(skills): decision gate in all skills + atlas-brainstorm skill
  .claude/agents/atlas-doc-auditor.md
  .claude/skills/atlas-battle/skill.md
  .claude/skills/atlas-blocks/skill.md
  .claude/skills/atlas-brainstorm/skill.md
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas-test/skill.md
  .claude/skills/atlas/skill.md
Due: none

fix(typechecker): enum types resolve to named type instead of Unknown (H-110, H-111)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/enum_types.rs
  crates/atlas-runtime/tests/typesystem/integration/mod.rs
Due: atlas-runtime

fix(typechecker): hashMapHas/hashSetHas return bool not any (H-112)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/integration/hashmap_generics.rs
  tracking/atlas-track
  tracking/lib/queries.sh
Due: atlas-runtime

fix(typechecker): if/else as expression infers branch type (H-115)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/typesystem/integration/if_expr.rs
  crates/atlas-runtime/tests/typesystem/integration/mod.rs
Due: atlas-runtime

fix(typechecker): struct T[] fn params resolve correctly (H-117)
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/struct_member_access.rs
Due: atlas-runtime

fix(typechecker): enum tuple-variant bindings resolve to declared field types (H-120)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/tests/typesystem/integration/enum_types.rs
Due: atlas-runtime

fix(parser): allow return stmt as match arm body (H-114)
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/tests/frontend_syntax/parser_control_flow.rs
Due: atlas-runtime

fix(H-116): range syntax in for-in — full interpreter + VM fix
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/tests/interpreter/for_in/part2.rs
  crates/atlas-runtime/tests/vm/for_in.rs
Due: atlas-runtime

fix(H-113): hashSetRemove CoW semantics — consistent with hashSetAdd
  battle-test/atlas-full-audit/domains/06-collections/03_hashset.atlas
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/interpreter/expr.rs
  crates/atlas-runtime/src/stdlib/collections/hashset.rs
  crates/atlas-runtime/tests/collections.rs
Due: atlas-runtime

feat(doc-continuity): stateful doc drift detection + atlas-doc-patch agent
  .claude/agents/atlas-doc-auditor.md
  .claude/agents/atlas-doc-patch.md
  .claude/settings.json
  CLAUDE.md
Due: none

docs: update known-issues.md for H-110 through H-120 fixes
  .doc-patch-pending.json
  docs/known-issues.md
Due: none

fix(doc-patch): Haiku never commits — main agent owns all git ops
  .claude/agents/atlas-doc-patch.md
Due: none

chore: delete known-issues.md + reopen H-076/H-077 + clean all stale refs
  .claude/agents/atlas-doc-auditor.md
  .claude/agents/atlas-doc-patch.md
  .doc-patch-pending.json
  CLAUDE.md
  README.md
  crates/atlas-runtime/src/interpreter/stmt.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/vm/mod.rs
  docs/README.md
  docs/known-issues.md
  docs/language/control-flow.md
  docs/language/functions.md
  docs/language/grammar.md
  docs/language/modules.md
  docs/language/structs-enums.md
  docs/language/traits.md
  docs/language/types.md
  docs/tooling/cli.md
Due: atlas-runtime

chore: remove known-issues.md refs from post-commit hook
  .githooks/post-commit
Due: none

fix(hook): remove orphaned fi left by known-issues cleanup
  .githooks/post-commit
Due: none

feat(continuity): world-class AI continuity — handoff file + plans + 300-char summaries
  .atlas-handoff.md
  .claude/skills/atlas-battle/skill.md
  .claude/skills/atlas-blocks/skill.md
  .claude/skills/atlas-brainstorm/skill.md
  .claude/skills/atlas-bugfix/skill.md
  .claude/skills/atlas-test/skill.md
  .claude/skills/atlas/gates/gate-7-memory.md
  .claude/skills/atlas/skill.md
  tracking/atlas-track
  tracking/lib/plans.sh
  tracking/lib/session.sh
Due: none

chore: update handoff (S-113/S-114 — continuity overhaul complete)
  .atlas-handoff.md
Due: none

fix(continuity): clarify handoff file is overwritten each session, not appended
  .claude/skills/atlas/skill.md
Due: none

fix(skills): hard-gate skill invocation in atlas core — table with mandatory Skill tool call before responding
  .claude/skills/atlas/skill.md
Due: none

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
