Repository atl-lang/atlas: changes, and which Codecov flags are due for each by the changed paths.
All: atlas-runtime, atlas-cli, atlas-formatter, atlas-lsp, atlas-jit, atlas-config, atlas-build, atlas-package

docs(arch): scaffold B44 VM Concurrency block
  docs/architecture/concurrency/CONCURRENCY_INDEX.md
  docs/architecture/concurrency/CONCURRENCY_QUICK_REFERENCE.md
  docs/architecture/concurrency/CONCURRENCY_RESEARCH.md
  docs/architecture/concurrency/RESEARCH_SUMMARY.md
Due: none

feat(ffi): wire extern function declarations (B41-P03)
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/repl.rs
  crates/atlas-runtime/src/runtime.rs
Due: atlas-runtime

feat(variadic): implement rest parameter syntax (B41-P04)
  .doc-patch-pending.json
  TEST_AUDIT_REPORT.md
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/compiler/stmt.rs
  crates/atlas-runtime/src/lexer/mod.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/parser/mod.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/frontend_integration/ast_part_1.rs
  crates/atlas-runtime/tests/vm/functions_loops.rs
Due: atlas-runtime, atlas-lsp

feat(constructor): implement Foo() sugar for Foo.new() (B41-P05, H-325)
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/compiler/mod.rs
  crates/atlas-runtime/src/diagnostic/error_codes.rs
  crates/atlas-runtime/src/typechecker/expr.rs
Due: atlas-runtime

test(b41): add advanced_features test suite — 34 tests (B41-P06)
  crates/atlas-runtime/tests/advanced_features.rs
  crates/atlas-runtime/tests/bytecode/profiler.rs
  crates/atlas-runtime/tests/collections.rs
  crates/atlas-runtime/tests/vm/opcodes.rs
Due: none

fix(vm): defer body correctly drives user-defined function calls (H-364)
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/advanced_features.rs
Due: atlas-runtime

fix(parser,test): type alias fn types + test positional file arg (H-321, H-331)
  .doc-patch-pending.json
  crates/atlas-cli/src/commands/test.rs
  crates/atlas-cli/src/testing/discovery.rs
  crates/atlas-runtime/src/parser/expr.rs
Due: atlas-runtime, atlas-cli

fix(tests,framework): ownership test syntax + line numbers + error formatting (H-306, H-332, H-333)
  crates/atlas-cli/src/testing/discovery.rs
  crates/atlas-runtime/src/api/runtime.rs
  crates/atlas-runtime/tests/vm/for_in.rs
Due: atlas-runtime, atlas-cli

refactor(ai-workflow): clean up AI workflow files — compact CLAUDE.md, single pt reference
  .claude/lazy/pt-workflow.md
  .claude/lazy/tracking-db.md
  CLAUDE.md
  docs/AI-DESIGN-PRINCIPLES.md
Due: none

feat(parser,compiler): implement new Map<K,V>() constructor syntax (H-374)
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/index.rs
  crates/atlas-lsp/src/navigation.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-lsp/src/refactor/mod.rs
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/token.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/regression.rs
  crates/atlas-runtime/tests/regression/part12.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

refactor(runtime): rename HashMap→Map, HashSet→Set (D-060 alignment, H-373)
  crates/atlas-lsp/src/semantic_tokens.rs
  crates/atlas-runtime/src/api/conversion.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/serialize.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/debugger/inspection.rs
  crates/atlas-runtime/src/debugger/mod.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/reflect/mod.rs
  crates/atlas-runtime/src/stdlib/collections/hashmap.rs
  crates/atlas-runtime/src/stdlib/collections/hashset.rs
  crates/atlas-runtime/src/stdlib/compression/tar.rs
  crates/atlas-runtime/src/stdlib/compression/zip.rs
  crates/atlas-runtime/src/stdlib/datetime.rs
  crates/atlas-runtime/src/stdlib/http.rs
  crates/atlas-runtime/src/stdlib/json.rs
  crates/atlas-runtime/src/stdlib/path.rs
  crates/atlas-runtime/src/stdlib/reflect.rs
  crates/atlas-runtime/src/stdlib/regex.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/types.rs
  crates/atlas-runtime/src/value.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/http.rs
  crates/atlas-runtime/tests/system/compression/tar_utils_errors.rs
  crates/atlas-runtime/tests/system/compression/zip_advanced.rs
  crates/atlas-runtime/tests/system/compression/zip_creation.rs
  crates/atlas-runtime/tests/system/path.rs
Due: atlas-runtime, atlas-lsp

test(snapshots): accept insta snapshots for H-374 AST field additions
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__operator_precedence_keywords__precedence_func_call_in_arithmetic.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__operator_precedence_keywords__precedence_func_call_in_comparison.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__function_call_no_args.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__function_call_with_args.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__json_as_number.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__json_extraction_as_string.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__method_with_multiple_args.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__method_with_one_arg.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_chained_member_calls.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_complex_member_chain.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_no_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_complex_body.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_function_with_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_member_after_index.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_member_as_function_arg.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_member_in_expression.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__parse_nested_member_calls.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_basics__simple_method_call.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_deeply_nested_functions.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_multiple_nested_functions_same_scope.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_for_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_function.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_if_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_in_while_block.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_no_params.snap
  crates/atlas-runtime/tests/frontend_syntax/snapshots/frontend_syntax__parser_errors__parse_nested_function_with_type_params.snap
Due: none

fix(compiler,vm): H-375 — record {} is anonymous struct literal, not map
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/record_field_immutable.stderr
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/record_field_missing.stderr
  crates/atlas-runtime/tests/corpus/fail/runtime_errors/record_field_type_mismatch.stderr
  crates/atlas-runtime/tests/corpus/pass/collections/record_field_assignment.atlas
  crates/atlas-runtime/tests/regression/part10.rs
Due: atlas-runtime

fix(compiler,vm): H-380 — struct/record patterns in match arms
  crates/atlas-formatter/src/visitor.rs
  crates/atlas-lsp/src/refactor/extract.rs
  crates/atlas-runtime/src/ast.rs
  crates/atlas-runtime/src/binder.rs
  crates/atlas-runtime/src/bytecode/disasm.rs
  crates/atlas-runtime/src/bytecode/mod.rs
  crates/atlas-runtime/src/bytecode/opcode.rs
  crates/atlas-runtime/src/bytecode/validator.rs
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/parser/expr.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/vm/dispatch.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/pattern_matching.rs
Due: atlas-runtime, atlas-formatter, atlas-lsp

fix(tests): H-366 — rename snake_case hash functions to camelCase across test files
  crates/atlas-runtime/tests/closures.rs
  crates/atlas-runtime/tests/collections.rs
  crates/atlas-runtime/tests/corpus/pass/collections/hashmap_ops.atlas
  crates/atlas-runtime/tests/corpus/pass/collections/hashset_ops.atlas
  crates/atlas-runtime/tests/datetime_regex.rs
  crates/atlas-runtime/tests/regression/part10.rs
  crates/atlas-runtime/tests/stdlib/collections.rs
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/typesystem/bindings/type_alias.rs
  crates/atlas-runtime/tests/typesystem/flow/type_guards_part2.rs
  crates/atlas-runtime/tests/typesystem/integration/hashmap_generics.rs
Due: none

fix(tests): H-367 — rename snake_case string/reflect globals to camelCase across 34 test files
  crates/atlas-runtime/tests/api/json.rs
  crates/atlas-runtime/tests/api/reflection_part1.rs
  crates/atlas-runtime/tests/api/reflection_part2.rs
  crates/atlas-runtime/tests/corpus/pass/stdlib/string_stdlib.atlas
  crates/atlas-runtime/tests/corpus/pass/stdlib/type_checks_stdlib.atlas
  crates/atlas-runtime/tests/corpus/pass/strings/string_functions.atlas
  crates/atlas-runtime/tests/corpus/pass/types/type_checks.atlas
  crates/atlas-runtime/tests/datetime_regex.rs
  crates/atlas-runtime/tests/ffi.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_4.rs
  crates/atlas-runtime/tests/frontend_integration/integration_part_5.rs
  crates/atlas-runtime/tests/regression/part8.rs
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/stdlib/integration.rs
  crates/atlas-runtime/tests/stdlib/parity.rs
  crates/atlas-runtime/tests/stdlib/real_world/config.rs
  crates/atlas-runtime/tests/stdlib/real_world/csv_part2.rs
  crates/atlas-runtime/tests/stdlib/real_world/json_api.rs
  crates/atlas-runtime/tests/stdlib/real_world/log_analysis_part1.rs
  crates/atlas-runtime/tests/stdlib/real_world/pipelines.rs
  crates/atlas-runtime/tests/stdlib/real_world/text.rs
  crates/atlas-runtime/tests/stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/types.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_option_result.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_typeof_guards.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
  crates/atlas-runtime/tests/typesystem/bindings/intersection_nullability.rs
  crates/atlas-runtime/tests/typesystem/constraints/type_rules/part2.rs
  crates/atlas-runtime/tests/typesystem/flow/type_guards_part1.rs
  crates/atlas-runtime/tests/typesystem/flow/type_guards_part2.rs
  crates/atlas-runtime/tests/typesystem/integration/typecheck_dump.rs
  crates/atlas-runtime/tests/typesystem/integration/typing_union.rs
  crates/atlas-runtime/tests/vm/member.rs
Due: none

fix(tests): H-366/H-367 — migrate test Atlas source to method syntax
  crates/atlas-runtime/tests/api/json.rs
  crates/atlas-runtime/tests/api/reflection_part1.rs
  crates/atlas-runtime/tests/api/reflection_part2.rs
  crates/atlas-runtime/tests/closures.rs
  crates/atlas-runtime/tests/collections.rs
  crates/atlas-runtime/tests/corpus/pass/collections/hashmap_ops.atlas
  crates/atlas-runtime/tests/corpus/pass/collections/hashset_ops.atlas
  crates/atlas-runtime/tests/corpus/pass/stdlib/string_stdlib.atlas
  crates/atlas-runtime/tests/corpus/pass/stdlib/type_checks_stdlib.atlas
  crates/atlas-runtime/tests/corpus/pass/strings/string_functions.atlas
  crates/atlas-runtime/tests/corpus/pass/types/type_checks.atlas
  crates/atlas-runtime/tests/datetime_regex.rs
  crates/atlas-runtime/tests/ffi.rs
  crates/atlas-runtime/tests/regression/part10.rs
  crates/atlas-runtime/tests/regression/part8.rs
  crates/atlas-runtime/tests/stdlib/collections.rs
  crates/atlas-runtime/tests/stdlib/docs_verification.rs
  crates/atlas-runtime/tests/stdlib/integration.rs
  crates/atlas-runtime/tests/stdlib/parity.rs
  crates/atlas-runtime/tests/stdlib/real_world/config.rs
  crates/atlas-runtime/tests/stdlib/real_world/csv_part2.rs
  crates/atlas-runtime/tests/stdlib/real_world/json_api.rs
  crates/atlas-runtime/tests/stdlib/real_world/log_analysis_part1.rs
  crates/atlas-runtime/tests/stdlib/real_world/pipelines.rs
  crates/atlas-runtime/tests/stdlib/real_world/text.rs
  crates/atlas-runtime/tests/stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/types.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/strings.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_option_result.rs
  crates/atlas-runtime/tests/stdlib/vm_stdlib/types_typeof_guards.rs
  crates/atlas-runtime/tests/stdlib_hardening.rs
  crates/atlas-runtime/tests/typesystem/bindings/type_alias.rs
  crates/atlas-runtime/tests/typesystem/constraints/type_rules/part2.rs
  crates/atlas-runtime/tests/typesystem/flow/type_guards_part1.rs
  crates/atlas-runtime/tests/typesystem/flow/type_guards_part2.rs
  crates/atlas-runtime/tests/typesystem/integration/hashmap_generics.rs
  crates/atlas-runtime/tests/typesystem/integration/typecheck_dump.rs
  crates/atlas-runtime/tests/typesystem/integration/typing_union.rs
Due: none

fix(tests,typechecker): H-370 — fix async parity tests (45 → 0 failures)
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/async_runtime/async_parity.rs
  crates/atlas-runtime/tests/async_runtime/stdlib_wiring.rs
Due: atlas-runtime

fix(tests): H-368 — reflection_part2 bare global migration
  crates/atlas-runtime/tests/api/reflection_part2.rs
Due: none

fix(tests,stdlib): H-369 — stdlib io tests + file.info + path.join variadic
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/tests/stdlib/io.rs
Due: atlas-runtime

fix(parser): H-383 — accept \`new\` as method name in impl blocks
  crates/atlas-runtime/src/parser/mod.rs
Due: atlas-runtime

fix(corpus): H-381 — migrate tuple_match.atlas to expression-style match arms
  crates/atlas-runtime/tests/corpus/pass/tuples/tuple_match.atlas
Due: none

fix(compiler): H-385 — LetDestructure GetLocal uses function-relative index
  crates/atlas-runtime/src/compiler/stmt.rs
Due: atlas-runtime

feat(stdlib): H-328 B42-P03 — Option/Result method chaining (map, andThen, orElse, unwrapOrElse)
  .doc-patch-pending.json
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/methods.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/stdlib.rs
  crates/atlas-runtime/tests/stdlib/math_utils_constants.rs
  crates/atlas-runtime/tests/stdlib/mod.rs
  crates/atlas-runtime/tests/stdlib/option_result_chaining.rs
Due: atlas-runtime

feat(stdlib): H-329 B42-P04 — Result.context(msg) error wrapping
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/stdlib/types.rs
  crates/atlas-runtime/src/typechecker/methods.rs
Due: atlas-runtime

fix(compiler): H-384 — tuple pattern SetLocal aliased scrutinee slot
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/vm/mod.rs
  crates/atlas-runtime/tests/regression.rs
  crates/atlas-runtime/tests/regression/part13.rs
Due: atlas-runtime

feat(vm): B44-P01 — extract VMContext from VM for per-thread isolation
  crates/atlas-runtime/src/vm/context.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

feat(vm): B44-P02 — Worker thread infrastructure (WorkerPool + VMContext isolation)
  crates/atlas-runtime/src/async_runtime/mod.rs
  crates/atlas-runtime/src/async_runtime/worker.rs
  crates/atlas-runtime/src/vm/context.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

feat(vm): B44-P03 — LocalSet integration, task dispatch to WorkerPool
  crates/atlas-runtime/src/async_runtime/task.rs
  crates/atlas-runtime/src/async_runtime/worker.rs
Due: atlas-runtime

feat(vm): B44-P04 — FunctionTask scaffolding + spawn() accepts Function/Closure
  crates/atlas-runtime/src/async_runtime/task.rs
  crates/atlas-runtime/src/stdlib/async_primitives.rs
Due: atlas-runtime

feat(vm): B44-P05 — Function execution in worker tasks via isolated VM
  crates/atlas-runtime/src/async_runtime/task.rs
  crates/atlas-runtime/src/async_runtime/worker.rs
  crates/atlas-runtime/src/vm/context.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

feat(vm): B44-P06 — Work-stealing scheduler (crossbeam-deque)
  crates/atlas-runtime/Cargo.toml
  crates/atlas-runtime/src/async_runtime/mod.rs
  crates/atlas-runtime/src/async_runtime/scheduler.rs
  crates/atlas-runtime/src/async_runtime/worker.rs
Due: atlas-runtime

feat(vm): B44-P07 — I/O integration, spawn_blocking, timeout via Tokio
  crates/atlas-runtime/src/async_runtime/mod.rs
  crates/atlas-runtime/src/async_runtime/primitives.rs
  crates/atlas-runtime/src/async_runtime/task.rs
  crates/atlas-runtime/src/stdlib/async_primitives.rs
  crates/atlas-runtime/src/stdlib/mod.rs
Due: atlas-runtime

test(async_runtime): B44-P08 — concurrency + stress test suites (D-057)
  crates/atlas-runtime/tests/async_runtime.rs
  crates/atlas-runtime/tests/async_runtime/concurrency.rs
  crates/atlas-runtime/tests/async_runtime/stress.rs
Due: none

fix(async_runtime): H-386 — AtlasFuture impl Future + sleep/timeout async-safe
  crates/atlas-runtime/src/async_runtime/future.rs
  crates/atlas-runtime/src/async_runtime/primitives.rs
  crates/atlas-runtime/src/stdlib/async_primitives.rs
  crates/atlas-runtime/tests/async_runtime/concurrency.rs
Due: atlas-runtime

fix(stdlib): H-361/B41-P02 — task.spawn() works end-to-end from Atlas programs
  crates/atlas-runtime/src/async_runtime/task.rs
  crates/atlas-runtime/src/runtime.rs
  crates/atlas-runtime/src/stdlib/async_primitives.rs
Due: atlas-runtime

fix(stdlib): H-387 — complete H-373 rename: hashMap*/hashSet* → map*/set* in all Atlas-facing names
  crates/atlas-runtime/src/compiler/expr.rs
  crates/atlas-runtime/src/method_dispatch.rs
  crates/atlas-runtime/src/stdlib/collections/hashset.rs
  crates/atlas-runtime/src/stdlib/mod.rs
  crates/atlas-runtime/src/typechecker/expr.rs
  crates/atlas-runtime/src/typechecker/mod.rs
  crates/atlas-runtime/src/typechecker/stdlib_ownership.rs
  crates/atlas-runtime/src/vm/mod.rs
Due: atlas-runtime

chore(workflow): pt issues P0-P3 filter + scaffold-phases as canonical block scaffolding
  .claude/lazy/pt-workflow.md
  .claude/skills/atlas-blocks/skill.md
Due: none

Path conditions:
  atlas-runtime: any of: crates/atlas-runtime/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-cli: any of: crates/atlas-cli/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-formatter: any of: crates/atlas-formatter/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-lsp: any of: crates/atlas-lsp/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-jit: any of: crates/atlas-jit/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-config: any of: crates/atlas-config/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-build: any of: crates/atlas-build/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
  atlas-package: any of: crates/atlas-package/, but not: target/**, phases/**, docs/**, **/tests/**, **/benches/**, **/fuzz/**
